.flag {
	display: block;
	background-image: url('../../img/backgrounds/flags.png');
	background-repeat: no-repeat;
	image-rendering: pixelated;
}

.flag-ad {
	width: 16px;
	height: 11px;
	background-position: -4px -4px;
}

.flag-ae {
	width: 16px;
	height: 11px;
	background-position: -28px -4px;
}

.flag-af {
	width: 16px;
	height: 11px;
	background-position: -52px -4px;
}

.flag-ag {
	width: 16px;
	height: 11px;
	background-position: -76px -4px;
}

.flag-ai {
	width: 16px;
	height: 11px;
	background-position: -100px -4px;
}

.flag-al {
	width: 16px;
	height: 11px;
	background-position: -124px -4px;
}

.flag-am {
	width: 16px;
	height: 11px;
	background-position: -148px -4px;
}

.flag-an {
	width: 16px;
	height: 11px;
	background-position: -172px -4px;
}

.flag-ao {
	width: 16px;
	height: 11px;
	background-position: -196px -4px;
}

.flag-ar {
	width: 16px;
	height: 11px;
	background-position: -220px -4px;
}

.flag-as {
	width: 16px;
	height: 11px;
	background-position: -244px -4px;
}

.flag-at {
	width: 16px;
	height: 11px;
	background-position: -268px -4px;
}

.flag-au {
	width: 16px;
	height: 11px;
	background-position: -292px -4px;
}

.flag-aw {
	width: 16px;
	height: 11px;
	background-position: -316px -4px;
}

.flag-ax {
	width: 16px;
	height: 11px;
	background-position: -340px -4px;
}

.flag-az {
	width: 16px;
	height: 11px;
	background-position: -364px -4px;
}

.flag-ba {
	width: 16px;
	height: 11px;
	background-position: -4px -23px;
}

.flag-bb {
	width: 16px;
	height: 11px;
	background-position: -28px -23px;
}

.flag-bd {
	width: 16px;
	height: 11px;
	background-position: -52px -23px;
}

.flag-be {
	width: 16px;
	height: 11px;
	background-position: -76px -23px;
}

.flag-bf {
	width: 16px;
	height: 11px;
	background-position: -100px -23px;
}

.flag-bg {
	width: 16px;
	height: 11px;
	background-position: -124px -23px;
}

.flag-bh {
	width: 16px;
	height: 11px;
	background-position: -148px -23px;
}

.flag-bi {
	width: 16px;
	height: 11px;
	background-position: -172px -23px;
}

.flag-bj {
	width: 16px;
	height: 11px;
	background-position: -196px -23px;
}

.flag-bm {
	width: 16px;
	height: 11px;
	background-position: -220px -23px;
}

.flag-bn {
	width: 16px;
	height: 11px;
	background-position: -244px -23px;
}

.flag-bo {
	width: 16px;
	height: 11px;
	background-position: -268px -23px;
}

.flag-br {
	width: 16px;
	height: 11px;
	background-position: -292px -23px;
}

.flag-bs {
	width: 16px;
	height: 11px;
	background-position: -316px -23px;
}

.flag-bt {
	width: 16px;
	height: 11px;
	background-position: -340px -23px;
}

.flag-bv {
	width: 16px;
	height: 11px;
	background-position: -364px -23px;
}

.flag-bw {
	width: 16px;
	height: 11px;
	background-position: -4px -42px;
}

.flag-by {
	width: 16px;
	height: 11px;
	background-position: -28px -42px;
}

.flag-bz {
	width: 16px;
	height: 11px;
	background-position: -52px -42px;
}

.flag-ca {
	width: 16px;
	height: 11px;
	background-position: -76px -42px;
}

.flag-ca-ab {
	width: 16px;
	height: 11px;
	background-position: -100px -42px;
}

.flag-ca-bc {
	width: 16px;
	height: 11px;
	background-position: -124px -42px;
}

.flag-ca-mb {
	width: 16px;
	height: 11px;
	background-position: -148px -42px;
}

.flag-ca-nb {
	width: 16px;
	height: 11px;
	background-position: -172px -42px;
}

.flag-ca-nl {
	width: 16px;
	height: 11px;
	background-position: -196px -42px;
}

.flag-ca-ns {
	width: 16px;
	height: 11px;
	background-position: -220px -42px;
}

.flag-ca-nt {
	width: 16px;
	height: 11px;
	background-position: -244px -42px;
}

.flag-ca-nu {
	width: 16px;
	height: 11px;
	background-position: -268px -42px;
}

.flag-ca-on {
	width: 16px;
	height: 11px;
	background-position: -292px -42px;
}

.flag-ca-pe {
	width: 16px;
	height: 11px;
	background-position: -316px -42px;
}

.flag-ca-qc {
	width: 16px;
	height: 11px;
	background-position: -340px -42px;
}

.flag-ca-sk {
	width: 16px;
	height: 11px;
	background-position: -364px -42px;
}

.flag-ca-yt {
	width: 16px;
	height: 11px;
	background-position: -4px -61px;
}

.flag-cc {
	width: 16px;
	height: 11px;
	background-position: -28px -61px;
}

.flag-cd {
	width: 16px;
	height: 11px;
	background-position: -52px -61px;
}

.flag-cf {
	width: 16px;
	height: 11px;
	background-position: -76px -61px;
}

.flag-cg {
	width: 16px;
	height: 11px;
	background-position: -100px -61px;
}

.flag-ch {
	width: 11px;
	height: 11px;
	background-position: -124px -61px;
}

.flag-ci {
	width: 16px;
	height: 11px;
	background-position: -143px -61px;
}

.flag-ck {
	width: 16px;
	height: 11px;
	background-position: -167px -61px;
}

.flag-cl {
	width: 16px;
	height: 11px;
	background-position: -191px -61px;
}

.flag-cm {
	width: 16px;
	height: 11px;
	background-position: -215px -61px;
}

.flag-cn {
	width: 16px;
	height: 11px;
	background-position: -239px -61px;
}

.flag-co {
	width: 16px;
	height: 11px;
	background-position: -263px -61px;
}

.flag-cr {
	width: 16px;
	height: 11px;
	background-position: -287px -61px;
}

.flag-cs {
	width: 16px;
	height: 11px;
	background-position: -311px -61px;
}

.flag-cu {
	width: 16px;
	height: 11px;
	background-position: -335px -61px;
}

.flag-cv {
	width: 16px;
	height: 11px;
	background-position: -359px -61px;
}

.flag-cx {
	width: 16px;
	height: 11px;
	background-position: -4px -80px;
}

.flag-cy {
	width: 16px;
	height: 11px;
	background-position: -28px -80px;
}

.flag-cz {
	width: 16px;
	height: 11px;
	background-position: -52px -80px;
}

.flag-de {
	width: 16px;
	height: 11px;
	background-position: -76px -80px;
}

.flag-dj {
	width: 16px;
	height: 11px;
	background-position: -100px -80px;
}

.flag-dk {
	width: 16px;
	height: 11px;
	background-position: -124px -80px;
}

.flag-dm {
	width: 16px;
	height: 11px;
	background-position: -148px -80px;
}

.flag-do {
	width: 16px;
	height: 11px;
	background-position: -172px -80px;
}

.flag-dz {
	width: 16px;
	height: 11px;
	background-position: -196px -80px;
}

.flag-ec {
	width: 16px;
	height: 11px;
	background-position: -220px -80px;
}

.flag-ee {
	width: 16px;
	height: 11px;
	background-position: -244px -80px;
}

.flag-eg {
	width: 16px;
	height: 11px;
	background-position: -268px -80px;
}

.flag-eh {
	width: 16px;
	height: 11px;
	background-position: -292px -80px;
}

.flag-er {
	width: 16px;
	height: 11px;
	background-position: -316px -80px;
}

.flag-es {
	width: 16px;
	height: 11px;
	background-position: -340px -80px;
}

.flag-es-an {
	width: 16px;
	height: 11px;
	background-position: -364px -80px;
}

.flag-es-ar {
	width: 16px;
	height: 11px;
	background-position: -4px -99px;
}

.flag-es-as {
	width: 16px;
	height: 11px;
	background-position: -28px -99px;
}

.flag-es-cb {
	width: 16px;
	height: 11px;
	background-position: -52px -99px;
}

.flag-es-ce {
	width: 16px;
	height: 11px;
	background-position: -76px -99px;
}

.flag-es-cl {
	width: 16px;
	height: 11px;
	background-position: -100px -99px;
}

.flag-es-cm {
	width: 16px;
	height: 11px;
	background-position: -124px -99px;
}

.flag-es-cn {
	width: 16px;
	height: 11px;
	background-position: -148px -99px;
}

.flag-es-ct {
	width: 16px;
	height: 11px;
	background-position: -172px -99px;
}

.flag-es-ex {
	width: 16px;
	height: 11px;
	background-position: -196px -99px;
}

.flag-es-ga {
	width: 16px;
	height: 11px;
	background-position: -220px -99px;
}

.flag-es-ib {
	width: 16px;
	height: 11px;
	background-position: -244px -99px;
}

.flag-es-mc {
	width: 16px;
	height: 11px;
	background-position: -268px -99px;
}

.flag-es-md {
	width: 16px;
	height: 11px;
	background-position: -292px -99px;
}

.flag-es-ml {
	width: 16px;
	height: 11px;
	background-position: -316px -99px;
}

.flag-es-nc {
	width: 16px;
	height: 11px;
	background-position: -340px -99px;
}

.flag-es-pv {
	width: 16px;
	height: 11px;
	background-position: -364px -99px;
}

.flag-es-ri {
	width: 16px;
	height: 11px;
	background-position: -4px -118px;
}

.flag-es-vc {
	width: 16px;
	height: 11px;
	background-position: -28px -118px;
}

.flag-esperanto {
	width: 16px;
	height: 11px;
	background-position: -52px -118px;
}

.flag-et {
	width: 16px;
	height: 11px;
	background-position: -76px -118px;
}

.flag-europeanunion {
	width: 16px;
	height: 11px;
	background-position: -100px -118px;
}

.flag-famfamfam {
	width: 16px;
	height: 11px;
	background-position: -124px -118px;
}

.flag-fi {
	width: 16px;
	height: 11px;
	background-position: -148px -118px;
}

.flag-fj {
	width: 16px;
	height: 11px;
	background-position: -172px -118px;
}

.flag-fk {
	width: 16px;
	height: 11px;
	background-position: -196px -118px;
}

.flag-fm {
	width: 16px;
	height: 11px;
	background-position: -220px -118px;
}

.flag-fo {
	width: 16px;
	height: 11px;
	background-position: -244px -118px;
}

.flag-fr {
	width: 16px;
	height: 11px;
	background-position: -268px -118px;
}

.flag-ga {
	width: 16px;
	height: 11px;
	background-position: -292px -118px;
}

.flag-gb {
	width: 16px;
	height: 11px;
	background-position: -316px -118px;
}

.flag-gb-eng {
	width: 16px;
	height: 11px;
	background-position: -340px -118px;
}

.flag-gb-sct {
	width: 16px;
	height: 11px;
	background-position: -364px -118px;
}

.flag-gb-wls {
	width: 16px;
	height: 11px;
	background-position: -4px -137px;
}

.flag-gd {
	width: 16px;
	height: 11px;
	background-position: -28px -137px;
}

.flag-ge {
	width: 16px;
	height: 11px;
	background-position: -52px -137px;
}

.flag-gf {
	width: 16px;
	height: 11px;
	background-position: -76px -137px;
}

.flag-gg {
	width: 16px;
	height: 11px;
	background-position: -100px -137px;
}

.flag-gh {
	width: 16px;
	height: 11px;
	background-position: -124px -137px;
}

.flag-gi {
	width: 16px;
	height: 11px;
	background-position: -148px -137px;
}

.flag-gl {
	width: 16px;
	height: 11px;
	background-position: -172px -137px;
}

.flag-gm {
	width: 16px;
	height: 11px;
	background-position: -196px -137px;
}

.flag-gn {
	width: 16px;
	height: 11px;
	background-position: -220px -137px;
}

.flag-gp {
	width: 16px;
	height: 11px;
	background-position: -244px -137px;
}

.flag-gq {
	width: 16px;
	height: 11px;
	background-position: -268px -137px;
}

.flag-gr {
	width: 16px;
	height: 11px;
	background-position: -292px -137px;
}

.flag-gs {
	width: 16px;
	height: 11px;
	background-position: -316px -137px;
}

.flag-gt {
	width: 16px;
	height: 11px;
	background-position: -340px -137px;
}

.flag-gu {
	width: 16px;
	height: 11px;
	background-position: -364px -137px;
}

.flag-gw {
	width: 16px;
	height: 11px;
	background-position: -4px -156px;
}

.flag-gy {
	width: 16px;
	height: 11px;
	background-position: -28px -156px;
}

.flag-hk {
	width: 16px;
	height: 11px;
	background-position: -52px -156px;
}

.flag-hm {
	width: 16px;
	height: 11px;
	background-position: -76px -156px;
}

.flag-hn {
	width: 16px;
	height: 11px;
	background-position: -100px -156px;
}

.flag-hr {
	width: 16px;
	height: 11px;
	background-position: -124px -156px;
}

.flag-ht {
	width: 16px;
	height: 11px;
	background-position: -148px -156px;
}

.flag-hu {
	width: 16px;
	height: 11px;
	background-position: -172px -156px;
}

.flag-id {
	width: 16px;
	height: 11px;
	background-position: -196px -156px;
}

.flag-ie {
	width: 16px;
	height: 11px;
	background-position: -220px -156px;
}

.flag-il {
	width: 16px;
	height: 11px;
	background-position: -244px -156px;
}

.flag-in {
	width: 16px;
	height: 11px;
	background-position: -268px -156px;
}

.flag-io {
	width: 16px;
	height: 11px;
	background-position: -292px -156px;
}

.flag-iq {
	width: 16px;
	height: 11px;
	background-position: -316px -156px;
}

.flag-ir {
	width: 16px;
	height: 11px;
	background-position: -340px -156px;
}

.flag-is {
	width: 16px;
	height: 11px;
	background-position: -364px -156px;
}

.flag-islamicstate {
	width: 16px;
	height: 11px;
	background-position: -4px -175px;
}

.flag-it {
	width: 16px;
	height: 11px;
	background-position: -28px -175px;
}

.flag-jm {
	width: 16px;
	height: 11px;
	background-position: -52px -175px;
}

.flag-jo {
	width: 16px;
	height: 11px;
	background-position: -76px -175px;
}

.flag-jp {
	width: 16px;
	height: 11px;
	background-position: -100px -175px;
}

.flag-ke {
	width: 16px;
	height: 11px;
	background-position: -124px -175px;
}

.flag-kg {
	width: 16px;
	height: 11px;
	background-position: -148px -175px;
}

.flag-kh {
	width: 16px;
	height: 11px;
	background-position: -172px -175px;
}

.flag-ki {
	width: 16px;
	height: 11px;
	background-position: -196px -175px;
}

.flag-km {
	width: 16px;
	height: 11px;
	background-position: -220px -175px;
}

.flag-kn {
	width: 16px;
	height: 11px;
	background-position: -244px -175px;
}

.flag-kp {
	width: 16px;
	height: 11px;
	background-position: -268px -175px;
}

.flag-kr {
	width: 16px;
	height: 11px;
	background-position: -292px -175px;
}

.flag-kw {
	width: 16px;
	height: 11px;
	background-position: -316px -175px;
}

.flag-ky {
	width: 16px;
	height: 11px;
	background-position: -340px -175px;
}

.flag-kz {
	width: 16px;
	height: 11px;
	background-position: -364px -175px;
}

.flag-la {
	width: 16px;
	height: 11px;
	background-position: -4px -194px;
}

.flag-lb {
	width: 16px;
	height: 11px;
	background-position: -28px -194px;
}

.flag-lc {
	width: 16px;
	height: 11px;
	background-position: -52px -194px;
}

.flag-li {
	width: 16px;
	height: 11px;
	background-position: -76px -194px;
}

.flag-lk {
	width: 16px;
	height: 11px;
	background-position: -100px -194px;
}

.flag-lr {
	width: 16px;
	height: 11px;
	background-position: -124px -194px;
}

.flag-ls {
	width: 16px;
	height: 11px;
	background-position: -148px -194px;
}

.flag-lt {
	width: 16px;
	height: 11px;
	background-position: -172px -194px;
}

.flag-lu {
	width: 16px;
	height: 11px;
	background-position: -196px -194px;
}

.flag-lv {
	width: 16px;
	height: 11px;
	background-position: -220px -194px;
}

.flag-ly {
	width: 16px;
	height: 11px;
	background-position: -244px -194px;
}

.flag-ma {
	width: 16px;
	height: 11px;
	background-position: -268px -194px;
}

.flag-mc {
	width: 16px;
	height: 11px;
	background-position: -292px -194px;
}

.flag-md {
	width: 16px;
	height: 11px;
	background-position: -316px -194px;
}

.flag-me {
	width: 16px;
	height: 12px;
	background-position: -340px -194px;
}

.flag-mg {
	width: 16px;
	height: 11px;
	background-position: -364px -194px;
}

.flag-mh {
	width: 16px;
	height: 11px;
	background-position: -4px -213px;
}

.flag-mk {
	width: 16px;
	height: 11px;
	background-position: -28px -213px;
}

.flag-ml {
	width: 16px;
	height: 11px;
	background-position: -52px -213px;
}

.flag-mm {
	width: 16px;
	height: 11px;
	background-position: -76px -213px;
}

.flag-mn {
	width: 16px;
	height: 11px;
	background-position: -100px -213px;
}

.flag-mo {
	width: 16px;
	height: 11px;
	background-position: -124px -213px;
}

.flag-mp {
	width: 16px;
	height: 11px;
	background-position: -148px -213px;
}

.flag-mq {
	width: 16px;
	height: 11px;
	background-position: -172px -213px;
}

.flag-mr {
	width: 16px;
	height: 11px;
	background-position: -196px -213px;
}

.flag-ms {
	width: 16px;
	height: 11px;
	background-position: -220px -213px;
}

.flag-mt {
	width: 16px;
	height: 11px;
	background-position: -244px -213px;
}

.flag-mu {
	width: 16px;
	height: 11px;
	background-position: -268px -213px;
}

.flag-mv {
	width: 16px;
	height: 11px;
	background-position: -292px -213px;
}

.flag-mw {
	width: 16px;
	height: 11px;
	background-position: -316px -213px;
}

.flag-mx {
	width: 16px;
	height: 11px;
	background-position: -364px -213px;
}

.flag-my {
	width: 16px;
	height: 11px;
	background-position: -4px -232px;
}

.flag-mz {
	width: 16px;
	height: 11px;
	background-position: -28px -232px;
}

.flag-na {
	width: 16px;
	height: 11px;
	background-position: -52px -232px;
}

.flag-nc {
	width: 16px;
	height: 11px;
	background-position: -76px -232px;
}

.flag-ne {
	width: 16px;
	height: 11px;
	background-position: -100px -232px;
}

.flag-nf {
	width: 16px;
	height: 11px;
	background-position: -124px -232px;
}

.flag-ng {
	width: 16px;
	height: 11px;
	background-position: -148px -232px;
}

.flag-ni {
	width: 16px;
	height: 11px;
	background-position: -172px -232px;
}

.flag-nl {
	width: 16px;
	height: 11px;
	background-position: -196px -232px;
}

.flag-no {
	width: 16px;
	height: 11px;
	background-position: -220px -232px;
}

.flag-np {
	width: 9px;
	height: 11px;
	background-position: -244px -232px;
}

.flag-nr {
	width: 16px;
	height: 11px;
	background-position: -261px -232px;
}

.flag-nu {
	width: 16px;
	height: 11px;
	background-position: -285px -232px;
}

.flag-nz {
	width: 16px;
	height: 11px;
	background-position: -309px -232px;
}

.flag-om {
	width: 16px;
	height: 11px;
	background-position: -333px -232px;
}

.flag-pa {
	width: 16px;
	height: 11px;
	background-position: -357px -232px;
}

.flag-pe {
	width: 16px;
	height: 11px;
	background-position: -4px -251px;
}

.flag-pf {
	width: 16px;
	height: 11px;
	background-position: -28px -251px;
}

.flag-pg {
	width: 16px;
	height: 11px;
	background-position: -52px -251px;
}

.flag-ph {
	width: 16px;
	height: 11px;
	background-position: -76px -251px;
}

.flag-pirate {
	width: 16px;
	height: 11px;
	background-position: -100px -251px;
}

.flag-pk {
	width: 16px;
	height: 11px;
	background-position: -124px -251px;
}

.flag-pl {
	width: 16px;
	height: 11px;
	background-position: -148px -251px;
}

.flag-pm {
	width: 16px;
	height: 11px;
	background-position: -172px -251px;
}

.flag-pn {
	width: 16px;
	height: 11px;
	background-position: -196px -251px;
}

.flag-pr {
	width: 16px;
	height: 11px;
	background-position: -220px -251px;
}

.flag-ps {
	width: 16px;
	height: 11px;
	background-position: -244px -251px;
}

.flag-pt {
	width: 16px;
	height: 11px;
	background-position: -268px -251px;
}

.flag-pw {
	width: 16px;
	height: 11px;
	background-position: -292px -251px;
}

.flag-py {
	width: 16px;
	height: 11px;
	background-position: -316px -251px;
}

.flag-qa {
	width: 16px;
	height: 11px;
	background-position: -340px -251px;
}

.flag-re {
	width: 16px;
	height: 11px;
	background-position: -364px -251px;
}

.flag-ro {
	width: 16px;
	height: 11px;
	background-position: -4px -270px;
}

.flag-rs {
	width: 16px;
	height: 11px;
	background-position: -28px -270px;
}

.flag-ru {
	width: 16px;
	height: 11px;
	background-position: -52px -270px;
}

.flag-rw {
	width: 16px;
	height: 11px;
	background-position: -76px -270px;
}

.flag-sa {
	width: 16px;
	height: 11px;
	background-position: -100px -270px;
}

.flag-sb {
	width: 16px;
	height: 11px;
	background-position: -124px -270px;
}

.flag-sc {
	width: 16px;
	height: 11px;
	background-position: -148px -270px;
}

.flag-sd {
	width: 16px;
	height: 11px;
	background-position: -172px -270px;
}

.flag-se {
	width: 16px;
	height: 11px;
	background-position: -196px -270px;
}

.flag-sealand {
	width: 16px;
	height: 11px;
	background-position: -220px -270px;
}

.flag-sg {
	width: 16px;
	height: 11px;
	background-position: -244px -270px;
}

.flag-sh {
	width: 16px;
	height: 11px;
	background-position: -268px -270px;
}

.flag-si {
	width: 16px;
	height: 11px;
	background-position: -292px -270px;
}

.flag-sj {
	width: 16px;
	height: 11px;
	background-position: -316px -270px;
}

.flag-sk {
	width: 16px;
	height: 11px;
	background-position: -340px -270px;
}

.flag-sl {
	width: 16px;
	height: 11px;
	background-position: -364px -270px;
}

.flag-sm {
	width: 16px;
	height: 11px;
	background-position: -4px -289px;
}

.flag-sn {
	width: 16px;
	height: 11px;
	background-position: -28px -289px;
}

.flag-so {
	width: 16px;
	height: 11px;
	background-position: -52px -289px;
}

.flag-sr {
	width: 16px;
	height: 11px;
	background-position: -76px -289px;
}

.flag-ss {
	width: 16px;
	height: 11px;
	background-position: -100px -289px;
}

.flag-st {
	width: 16px;
	height: 11px;
	background-position: -124px -289px;
}

.flag-sv {
	width: 16px;
	height: 11px;
	background-position: -148px -289px;
}

.flag-sx {
	width: 16px;
	height: 11px;
	background-position: -172px -289px;
}

.flag-sy {
	width: 16px;
	height: 11px;
	background-position: -196px -289px;
}

.flag-sz {
	width: 16px;
	height: 11px;
	background-position: -220px -289px;
}

.flag-tc {
	width: 16px;
	height: 11px;
	background-position: -244px -289px;
}

.flag-td {
	width: 16px;
	height: 11px;
	background-position: -268px -289px;
}

.flag-tf {
	width: 16px;
	height: 11px;
	background-position: -292px -289px;
}

.flag-tg {
	width: 16px;
	height: 11px;
	background-position: -316px -289px;
}

.flag-th {
	width: 16px;
	height: 11px;
	background-position: -340px -289px;
}

.flag-tj {
	width: 16px;
	height: 11px;
	background-position: -364px -289px;
}

.flag-tk {
	width: 16px;
	height: 11px;
	background-position: -4px -308px;
}

.flag-tl {
	width: 16px;
	height: 11px;
	background-position: -28px -308px;
}

.flag-tm {
	width: 16px;
	height: 11px;
	background-position: -52px -308px;
}

.flag-tn {
	width: 16px;
	height: 11px;
	background-position: -76px -308px;
}

.flag-to {
	width: 16px;
	height: 11px;
	background-position: -100px -308px;
}

.flag-tor {
	width: 16px;
	height: 11px;
	background-position: -124px -308px;
}

.flag-tr {
	width: 16px;
	height: 11px;
	background-position: -148px -308px;
}

.flag-tt {
	width: 16px;
	height: 11px;
	background-position: -172px -308px;
}

.flag-tv {
	width: 16px;
	height: 11px;
	background-position: -196px -308px;
}

.flag-tw {
	width: 16px;
	height: 11px;
	background-position: -220px -308px;
}

.flag-tz {
	width: 16px;
	height: 11px;
	background-position: -244px -308px;
}

.flag-ua {
	width: 16px;
	height: 11px;
	background-position: -268px -308px;
}

.flag-ug {
	width: 16px;
	height: 11px;
	background-position: -292px -308px;
}

.flag-um {
	width: 16px;
	height: 11px;
	background-position: -316px -308px;
}

.flag-unitednations {
	width: 16px;
	height: 11px;
	background-position: -340px -308px;
}

.flag-unknown {
	width: 16px;
	height: 11px;
	background-position: -364px -308px;
}

.flag-us {
	width: 16px;
	height: 11px;
	background-position: -4px -327px;
}

.flag-us-ak {
	width: 16px;
	height: 11px;
	background-position: -28px -327px;
}

.flag-us-al {
	width: 16px;
	height: 11px;
	background-position: -52px -327px;
}

.flag-us-ar {
	width: 16px;
	height: 11px;
	background-position: -76px -327px;
}

.flag-us-az {
	width: 16px;
	height: 11px;
	background-position: -100px -327px;
}

.flag-us-ca {
	width: 16px;
	height: 11px;
	background-position: -124px -327px;
}

.flag-us-co {
	width: 16px;
	height: 11px;
	background-position: -148px -327px;
}

.flag-us-ct {
	width: 16px;
	height: 11px;
	background-position: -172px -327px;
}

.flag-us-dc {
	width: 16px;
	height: 11px;
	background-position: -196px -327px;
}

.flag-us-de {
	width: 16px;
	height: 11px;
	background-position: -220px -327px;
}

.flag-us-fl {
	width: 16px;
	height: 11px;
	background-position: -244px -327px;
}

.flag-us-ga {
	width: 16px;
	height: 11px;
	background-position: -268px -327px;
}

.flag-us-hi {
	width: 16px;
	height: 11px;
	background-position: -292px -327px;
}

.flag-us-ia {
	width: 16px;
	height: 11px;
	background-position: -316px -327px;
}

.flag-us-id {
	width: 16px;
	height: 11px;
	background-position: -340px -327px;
}

.flag-us-il {
	width: 16px;
	height: 11px;
	background-position: -364px -327px;
}

.flag-us-in {
	width: 16px;
	height: 11px;
	background-position: -4px -346px;
}

.flag-us-ks {
	width: 16px;
	height: 11px;
	background-position: -28px -346px;
}

.flag-us-ky {
	width: 16px;
	height: 11px;
	background-position: -52px -346px;
}

.flag-us-la {
	width: 16px;
	height: 11px;
	background-position: -76px -346px;
}

.flag-us-ma {
	width: 16px;
	height: 11px;
	background-position: -100px -346px;
}

.flag-us-md {
	width: 16px;
	height: 11px;
	background-position: -124px -346px;
}

.flag-us-me {
	width: 16px;
	height: 11px;
	background-position: -148px -346px;
}

.flag-us-mi {
	width: 16px;
	height: 11px;
	background-position: -172px -346px;
}

.flag-us-mn {
	width: 16px;
	height: 11px;
	background-position: -196px -346px;
}

.flag-us-mo {
	width: 16px;
	height: 11px;
	background-position: -220px -346px;
}

.flag-us-ms {
	width: 16px;
	height: 11px;
	background-position: -244px -346px;
}

.flag-us-mt {
	width: 16px;
	height: 11px;
	background-position: -268px -346px;
}

.flag-us-nc {
	width: 16px;
	height: 11px;
	background-position: -292px -346px;
}

.flag-us-nd {
	width: 16px;
	height: 11px;
	background-position: -316px -346px;
}

.flag-us-ne {
	width: 16px;
	height: 11px;
	background-position: -340px -346px;
}

.flag-us-nh {
	width: 16px;
	height: 11px;
	background-position: -364px -346px;
}

.flag-us-nj {
	width: 16px;
	height: 11px;
	background-position: -4px -365px;
}

.flag-us-nm {
	width: 16px;
	height: 11px;
	background-position: -28px -365px;
}

.flag-us-nv {
	width: 16px;
	height: 11px;
	background-position: -52px -365px;
}

.flag-us-ny {
	width: 16px;
	height: 11px;
	background-position: -76px -365px;
}

.flag-us-oh {
	width: 16px;
	height: 11px;
	background-position: -100px -365px;
}

.flag-us-ok {
	width: 16px;
	height: 11px;
	background-position: -124px -365px;
}

.flag-us-or {
	width: 16px;
	height: 11px;
	background-position: -148px -365px;
}

.flag-us-pa {
	width: 16px;
	height: 11px;
	background-position: -172px -365px;
}

.flag-us-ri {
	width: 16px;
	height: 11px;
	background-position: -196px -365px;
}

.flag-us-sc {
	width: 16px;
	height: 11px;
	background-position: -220px -365px;
}

.flag-us-sd {
	width: 16px;
	height: 11px;
	background-position: -244px -365px;
}

.flag-us-tn {
	width: 16px;
	height: 11px;
	background-position: -268px -365px;
}

.flag-us-tx {
	width: 16px;
	height: 11px;
	background-position: -292px -365px;
}

.flag-us-ut {
	width: 16px;
	height: 11px;
	background-position: -316px -365px;
}

.flag-us-va {
	width: 16px;
	height: 11px;
	background-position: -340px -365px;
}

.flag-us-vt {
	width: 16px;
	height: 11px;
	background-position: -364px -365px;
}

.flag-us-wa {
	width: 16px;
	height: 11px;
	background-position: -388px -4px;
}

.flag-us-wi {
	width: 16px;
	height: 11px;
	background-position: -388px -23px;
}

.flag-us-wv {
	width: 16px;
	height: 11px;
	background-position: -388px -42px;
}

.flag-us-wy {
	width: 16px;
	height: 11px;
	background-position: -383px -61px;
}

.flag-uy {
	width: 16px;
	height: 11px;
	background-position: -388px -80px;
}

.flag-uz {
	width: 16px;
	height: 11px;
	background-position: -388px -99px;
}

.flag-va {
	width: 11px;
	height: 11px;
	background-position: -388px -118px;
}

.flag-vc {
	width: 16px;
	height: 11px;
	background-position: -388px -137px;
}

.flag-ve {
	width: 16px;
	height: 11px;
	background-position: -388px -156px;
}

.flag-vg {
	width: 16px;
	height: 11px;
	background-position: -388px -175px;
}

.flag-vi {
	width: 16px;
	height: 11px;
	background-position: -388px -194px;
}

.flag-vn {
	width: 16px;
	height: 11px;
	background-position: -388px -213px;
}

.flag-vu {
	width: 16px;
	height: 11px;
	background-position: -381px -232px;
}

.flag-wf {
	width: 16px;
	height: 11px;
	background-position: -388px -251px;
}

.flag-ws {
	width: 16px;
	height: 11px;
	background-position: -388px -270px;
}

.flag-ye {
	width: 16px;
	height: 11px;
	background-position: -388px -289px;
}

.flag-yt {
	width: 16px;
	height: 11px;
	background-position: -388px -308px;
}

.flag-za {
	width: 16px;
	height: 11px;
	background-position: -388px -327px;
}

.flag-zm {
	width: 16px;
	height: 11px;
	background-position: -388px -346px;
}

.flag-zw {
	width: 16px;
	height: 11px;
	background-position: -388px -365px;
}
