/**
 * z-index list of importance
 * 9999 - Stripe overlay. NEVER SURPASS.
 * 1000 - Boardlist, top. Shold be highest element on boards and threads.
 */

/**
 * Color references:
 *
 * Larachan
 * #f4645f - Salmon Pink
 *
 * Burichan
 * #EEF2FF - Background
 * #d6daf0 - Meidum blue
 * #B7C5D9 - Medium dark blue
 * #34345C - Dark blue
 *
 * #2a2a2a - Black
 * #dee0df - Off-White
 */


/**
 * Generic tag definitions
 */

html,
body {
	background-color: #EEF2FF;
	background-image: -ms-linear-gradient(top, #d1d5ee 0%, #d1d5ee 1em, #EEF2FF 200px, #EEF2FF 100%);
	background-image: -moz-linear-gradient(top, #d1d5ee 0%, #d1d5ee 1em, #EEF2FF 200px, #EEF2FF 100%);
	background-image: -o-linear-gradient(top, #d1d5ee 0%, #d1d5ee 1em, #EEF2FF 200px, #EEF2FF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d5ee), color-stop(1em, #d1d5ee), color-stop(200px, #EEF2FF), color-stop(100, #EEF2FF));
	background-image: -webkit-linear-gradient(top, #d1d5ee 0%, #d1d5ee 1em, #EEF2FF 200px, #EEF2FF 100%);
	background-image: linear-gradient(to bottom, #d1d5ee 0%, #d1d5ee 1em, #EEF2FF 200px, #EEF2FF 100%);
	
	min-height: 100vh;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	-webkit-text-size-adjust: 100%
}

body {
	display: flex;
	flex-direction: column;
}

a,
a:link,
a:visited,
a:hover {
	color: #34345C;
	text-decoration: none;
}
	a:hover {
		color: #ff0000;
	}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


button,
a.button {
	display: inline-block;
	padding: 0.2em 1em 0.25em;
	margin-bottom: 0;
	
	background: rgba(255, 255, 255, 0.35);
	border: 1px solid #34345C;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	
	cursor: pointer;
	
	color: #34345C;
	font-size: 1em;
	font-size: 1.07142857142857rem;
	font-weight: bold;
	line-height: 1.4545em;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	vertical-align: middle;
}
	button:hover,
	a.button:hover {
		background: #34345C;
		color: #FFFFFF;
	}
		button:disabled,
		a.button.disabled {
			background: #ffffff;
			border: 1px solid #ccc;
			color: #ccc;
			cursor: default;
		}
		button:disabled:hover,
		a.button.disabled:hover {
			background: #ffffff;
			border: 1px solid #ccc;
			color: #ccc;
		}

input,
textarea,
select {
	/*
	background: #2a2a2a;
	border: 1px solid #dee0df;
	color: #dee0df;
	*/
}

input:focus,
textarea:focus,
select:focus {
	/*
	outline: #34345C auto 5px;
	*/
}

/*
 * Generic definitions
 */

/* Design */
.smooth-box {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	overflow: hidden;
}

.infobox {
	background: #fff;
	border: 1px solid #d6daf0;
	border-radius: 0.25em;
}
	.infobox .infobox-title {
		border-bottom: 1px solid #d6daf0;
		font-weight: bold;
		color: #34345C;
		padding: 0.2em 0.5em;
	}
	.infobox .infobox-info {
		padding: 0.4em 0.6em 0.4em 0.6em;
	}
	.infobox .infobox-info p {
		margin: 0 0 0.4em 0;
	}

html.no-js .no-js,
html.js    .require-js {
	display: block;
}
html.no-js .require-js,
html.js    .no-js {
	display: none;
}

/* Forms */
form {
	margin: 0 auto;
}
	.form-messages {
		display: block;
		margin: 0;
		padding: 0;
	}
		.form-message {
			display: block;
			border-radius: 1.5em;
			padding: 0.25em 1em;
			margin: 0.2em 0;
			
			border: 1px solid #7f7f7f;
			background: #d5d5d5;
			color: #7f7f7f;
		}
			.form-message::before {
				display: inline-block;
				font: normal normal normal 18px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				
				content: "\f10c";
				margin: 0 0.5em 0 -0.25em;
			}
			.form-message:last-child {
				margin-bottom: 1em;
			}
		.form-message.message-info {
			border: 1px solid #60859f;
			background: #cbd7df;
			color: #60859f;
		}
			.form-message.message-info::before {
				content: "\f05a";
			}
		.form-message.message-success {
			border: 1px solid #4cb266;
			background: #c5e6cd;
			color: #4cb266;
		}
			.form-message.message-success::before {
				content: "\f00c";
			}
		.form-message.message-error {
			border: 1px solid #B74B47;
			background: #F9B5B2;
			color: #B74B47;
		}
			.form-message.message-error::before {
				content: "\f071";
			}
		
	
	.form-fields {
		border: none;
		padding: 0 0 1em 0;
		margin: 0;
	}
		.form-legend {
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	
	.field {
		margin: 1em 0;
		position: relative;
	}
	
	.field-label {
		display: block;
	}
		.label-inline .field-label {
			background: none;
			/* border: 1px solid #34345C;
			border-radius: 0 0.75em 0.75em 0; */
			padding: 0.2em 0.4em;
			
			color: #dee0df;
			line-height: 1.4em;
			font-size: 120%;
			
			position: absolute;
			/* min-width: 3.75em; */
			width: auto;
			top: 1px;
			left: 1px;
		}
		.field-description {
			display: block;
			color: #AAA;
			font-size: 0.8em;
			margin: 0.1em 0 0.25em 0;
		}
	
	.row-inline {
		display: inline-block;
		margin: 0 1em 0 0;
	}
	
	.field-control {
		display: block;
		
		/*
		border: 1px solid #34345C;
		*/
		
		box-sizing: border-box;
		margin: 0;
		padding: 0.2em 0.4em;
		width: 100%;
		
		font-size: 120%;
		line-height: 1.4em;
	}
		span.field-control {
			border-color: rgba(0,0,0,0);
		}
		.field-control[type="checkbox"] {
			display: inline-block;
			margin: 0 0.5em 0 0;
			width: auto;
		}
		
		.row-inline .field-control {
			display: inline-block;
			width: auto;
		}
		
		.label-inline .field-control {
			padding-left: 5em;
		}
		.label-inline .field-control:focus + .field-label {
			/* border: 1px solid #34345C;
			color: #d6daf0; */
		}
		
		.field-control.control-valid {
			background: #c5e6cd;
			border: 1px solid #4cb266;
			color: #4cb266;
		}
		.field-control.control-invalid {
			background: #F9B5B2;
			border: 1px solid #B74B47;
			color: #B74B47;
		}
	
	.row-captcha {
		/*
		border: 1px solid #dee0df;
		width: 300px;
		*/
		
		margin-left: 0;
		margin-right: auto;
	}
		.row-captcha .field-control {
			border: none;
			border-top: 1px solid #dee0df;
		}

main.cp form.form-config {
	min-width: 760px;
	margin: 0 auto 0 0;
}
	form.form-config#config-site {
		max-width: none;
	}
	
	h3.panel-title {
		margin: 0 0 0.5em 0;
	}
	
	form.form-config fieldset.form-fields {
		border-bottom: 1px solid #EEF2FF;
	}
		form.form-config fieldset.form-fields:last-child {
			border-bottom: none;
		}
	
	main.cp form.form-config legend.form-legend {
		display: block;
		font-size: 110%;
		padding: 0.5em 0;
		width: 100%;
	}
	main.simplebox form.form-config legend.form-legend {
		display: block;
		font-size: 110%;
		margin: 0.5em 0 -0.5em 0;
		width: 100%;
	}
		dl.option {
			display: block;
			clear: both;
			margin: 1em 0;
		}
			dl.option-banner {
				display: inline-block;
				
				box-sizing: border-box;
				min-width: 33%;
			}
			#config-permissions dl.option {
				margin: 0;
			}
			
			dt.option-term {
				display: inline-block;
				margin: 0 1em 0 0;
				padding: 0.2em 0;
				line-height: 1.4;
				width: 32%;
				min-width: 300px;
				text-align: right;
				vertical-align: top;
			}
				dl.option-banner dt.option-term {
					display: none;
				}
			
			dd.option-definition {
				display: inline-block;
				margin: 0 0 0 1em;
				text-align: left;
				width: auto;
				vertical-align: top;
			}
				dl.option-banner dd.option-definition {
					margin: 0;
				}
				dd.option-definition label.field-label {
					display: inline-block;
					vertical-align: top;
				}
				
				label.option-permission {
					display: inline-block;
					float: left;
					
					background-image: url('/img/backgrounds/permission-highlight.png');
					background-position: top left;
					background-repeat: repeat-x;
					
					height: 2.4em;
					line-height: 2.4em;
					text-align: center;
					
					padding: 0 2em;
					margin: 0;
					
					box-sizing: border-box;
					width: 5em;
					text-align: center;
				}
					dl.option-banner input.field-control {
						margin: 0 0.25em;
					}
					
					label.option-permission .field-control {
						vertical-align: text-top;
						height: 2em;
						width: auto;
					}
					label.option-permission-unset {
						background-color: #CCC;
					}
					label.option-permission-allow {
						background-color: #44BB44;
					}
					label.option-permission-deny {
						background-color: #C11 ;
					}
					
					label.option-master {
						border-radius: 4px;
						font-size: 80%;
						padding: 0;
						width: 6.25em;
					}
		
		form.form-config .row-submit {
			margin-left: 32%;
			padding-left: 2em;
		}

/* Tables */
table {
	border: none;
	border-collapse: separate;
	border-spacing: 1em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
}
	table thead {
	}
		table thead th {
			border-top: none;
			padding: 0.5em;
			text-align: left;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		}


/*
 * Errors
 */
 
/* Partial */
figure.error {
	display: block;
	margin: 0 auto 0 0;
	padding: 0;
	width: 82.5%;
	
	text-align: center;
}
	figure.error i.error-icon {
		font-size: 10em;
		color: #565656;
	}
	figcaption.error-caption {
	}
		figcaption.error-caption h4.error-title {
			font-size: 120%;
			margin: 0;
		}
		figcaption.error-caption span.error-desc {
			
		}



/*
 * Specific page content
 */

/* Main Page */
#frontpage {
	
}
	#site-warning {
		display: block;
		color: #f33;
		margin: -1em 0 1em 0;
		font-size: 0.8em;
		text-align: center;
		text-shadow: rgba(224, 224, 224, 0.5) 1px 1px 0px;
	}
	#site-info {
		clear: both;
	}
		#site-info::after,
		#site-info::before {
			content: ' ';
			clear: both;
			display: block;
		}
		#site-logo {
			margin: 0;
		}
			#site-logo::after {
				content: ' ';
				clear: both;
				display: block;
			}
			#site-logo-img {
				margin: 0 auto 1em auto;
				width: 220px;
				max-width: 100%;
				display: block;
			}
		
		#site-description,
		#site-statistics {
			margin-bottom: 1em;
		}
			#site-description .infobox-info,
			#site-statistics .infobox-info {
				text-align: center;
			}
	
	#index-boardlist {
		clear: both;
		margin: 1em 0 0 0;
	}
	
	#frontpage .smooth-box {
		margin: 0 0 1em 0;
	}
	#frontpage h2 {
		margin: 0 0 0.5em 0;
	}
	#frontpage h3 {
		margin: 0 0 0.5em 0;
	}
	#frontpage p {
		margin: 0 0 1em 0;
	}

/* Contributory Block */
header.contrib-header {
	display: block;
}

main.contrib section {
	margin: 0 auto;
	font-size: 130%;
}
	main.contrib section:first-child {
		margin-top: 0;
	}
	main.contrib section:last-child {
	}

main.contrib section.contrib-howto {
	margin: 0 auto 1em auto;
}
	section.contrib-howto ul.contrib-options {
		text-align: center;
	}
		ul.contrib-options::after {
			content: ' ';
			clear: both;
			display: block;
		}
		li.contrib-option {
			border-bottom: 1px solid #EEF2FF;
			padding-bottom: 1em;
			padding-right: 10px;
			margin-bottom: 1em;
		}
		li.contrib-option:last-child {
			border-bottom: none;
		}
			a.option-link {
				display: block;
				color: #34345C;
				font-size: 300%;
				font-weight: bold;
				text-decoration: none;
			}
				a.option-link:link:hover,
				a.option-link:visited:hover {
					color: #ff0000;
				}
			a.option-link h3 {
				margin: 0;
			}
			blockquote.option-desc {
				margin: 0;
			}

main.contrib section.contrib-shekel {
	display: block;
	background: rgba(255,255,255,0.5);
}
	h3.shekel-title {
		display: block;
		margin-bottom: 0;
	}
	blockquote.shekel-timer {
		display: block;
		font-size: 400%;
		text-align: center;
		margin: 0;
	}
		blockquote.shekel-timer.timer-underfunded {
			color: #cc0000;
		}
	p.shekel-oyvey {
		display: block;
		text-align: right;
		margin-top: 0;
	}
	blockquote.shekel-explainer {
		margin: 0;
	}

main.contrib section.contrib-goals {
	margin: 1em auto;
}
	section.contrib-goals ul.goals {
	}
	section.contrib-goals li.goal {
		margin: 0 0 1em 0;
		padding: 0;
	}
		section.contrib-goals h4.goal-title {
			margin: 0;
			padding: 1.5em 0 0.75em 1.5em;
			border-bottom: 0.25em solid #EEF2FF;
		}
		section.contrib-goals blockquote.goal-desc {
			margin: 0.75em 0 1em 1.5em;
		}
		section.contrib-goals ul.goal-items {
			margin: -1em 1em 1.5em 1em;
		}
		section.contrib-goals ul.goal-items::after {
			content: ' ';
			display: block;
			clear: both;
		}
			section.contrib-goals li.goal-item {
				margin: 1em 0 0 0;
			}
			section.contrib-goals span.goal-part {
			}
			section.contrib-goals blockquote.goal-helper {
				border-top: 1px dashed rgba(0, 0, 0, 0.1);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;
				
				color: #666;
				font-size: 0.9em;
			}
			
			section.contrib-goals .goal-figure {
				text-align: center;
			}
			section.contrib-goals #goal-newchan {
				margin-bottom: 1em;
				width: 200px;
			}
			section.contrib-goals figcaption.goal-helper {
				display: block;
				margin: 0 auto;
				max-width: 600px;
			}

main.contrib section.contrib-donorlist {
	margin: 0 0 -1em 0;
}
	section.contrib-donorlist div.donorsgroup {
		clear: both;
	}
		section.contrib-donorlist div.donors-uber {
			background: #e0f4eb;
		}
		section.contrib-donorlist div.donors-plat {
			background: #ffffff;
		}
		section.contrib-donorlist div.donors-gold {
			background: #fff4d5;
		}
		section.contrib-donorlist div.donors-silver {
			background: #ebecef;
		}
		section.contrib-donorlist div.donors-bronze {
			background: #d7ad9b;
		}
	
	section.contrib-donorlist ul.donors {
		padding-top: 0;
		padding-bottom: 1em;
		text-align: center;
	}
		
	section.contrib-donorlist li.donor {
		display: inline-block;
		overflow: hidden;
		position: relative;
		float: none;
		margin: 1em 0.8em -0.5em 0;
		border-radius: 0.4em;
		text-shadow: rgba(224, 224, 224, 1) -1px -1px 0px;
	}
		section.contrib-donorlist .donor-desc {
			padding: 0.2em 0.1em;
			text-align: center;
			line-height: 1.25em;
			vertical-align: middle;
		}
		section.contrib-donorlist .donor-amount,
		section.contrib-donorlist .donor-name {
			display: block;
			overflow: hidden;
		}
		section.contrib-donorlist .donor-name {
			max-height: 2.6em;
			font-weight: bold;
			vertical-align: bottom;
		}
		
		section.contrib-donorlist ul.donors-uber li.donor {
			background: #e0f4eb;
			background-image: linear-gradient(to bottom, rgba(224,244,234,0.5), rgba(168,225,200,0.5));
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #3db17e, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-uber .donor-desc {
				font-size: 1.25em;
			}
		section.contrib-donorlist ul.donors-plat li.donor {
			background: #ffffff;
			background-image: linear-gradient(to bottom, #ffffff, #eeeeff);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #d6d8da, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-plat .donor-desc {
				font-size: 1.1em;
			}
		section.contrib-donorlist ul.donors-gold li.donor {
			background: #fff4d5;
			background-image: linear-gradient(to bottom, #fff4d5, #ffe089);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #ffc527, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-gold .donor-desc {
				font-size: 1em;
			}
		section.contrib-donorlist ul.donors-silver li.donor {
			background: #ebecef;
			background-image: linear-gradient(to bottom, #ebecef, #bfc3c7);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #b6babe, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-silver .donor-desc {
				font-size: 0.8em;
			}
		section.contrib-donorlist ul.donors-bronze li.donor {
			background: #d7ad9b;
			background-image: linear-gradient(to bottom, #d7ad9b, #c68a71);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #864e36, 0 4px rgba(255, 255, 255, 0.1);
			text-shadow: rgba(224, 224, 224, 0.5) 1px 1px 0px;
		}
			section.contrib-donorlist .donors-bronze .donor-desc {
				font-size: 0.8em;
			}

main.contrib section.section-me {
	background: #333;
	color: white;
}
	.me-skills {
		clear: both;
	}
	.me-skill {
		position: relative;
		padding: 0
	}
		.skill-name {
		}
		.skill-desc {
		}

main.contrib section.contrib-donate {
	background: #EEFFF2;
}
	section.contrib-donate #payment-form {
		padding: 1em;
		margin: 1em 0;
		background: #fff;
		border-radius: 4px;
	}

/* Navigation */
nav.boardlist {
	padding: 0 1em;
	font-size: 1em;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
	nav.boardlist .boardlist-row {
		display: inline-block;
		
		height: 1.4em;
		line-height: 1.4em;
		padding: 0;
		margin: 0 0.5em 0 0;
		
		white-space: nowrap;
	}
	header nav.boardlist {
		background: #d6daf0;
		color: #34345C;
		vertical-align: baseline;
		
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		z-index: 1000;
	}
	footer nav.boardlist {
		background: #666666;
		color: #aeaeae;
		position: static;
	}
		footer .boardlist-row.row-pages {
			display: none;
		}
	
		nav.boardlist .boardlist-categories,
		nav.boardlist .boardlist-category,
		nav.boardlist .boardlist-items,
		nav.boardlist .boardlist-item {
			display: inline-block;
			height: 1em;
			line-height: 1em;
		}
		
		nav.boardlist .boardlist-category::before {
			content: '[';
			opacity: 0.6;
		}
		nav.boardlist .boardlist-category::after {
			content: ']';
			opacity: 0.6;
		}
		
			nav.boardlist .boardlist-item::after {
				content: '/';
				margin: 0 0.15em 0 0.4em;
				opacity: 0.6;
			}
			nav.boardlist .boardlist-item:last-child::after {
				display: none;
			}
			
				nav.boardlist .boardlist-link {
					text-decoration: none;
				}
					header nav.boardlist .boardlist-link {
						color: #34345C;
					}
					footer nav.boardlist .boardlist-link {
						color: #ffffff;
					}

/* Main Content */
main {
	position: relative;
	flex: 1;
	
	/* 
		Microsoft is a piece of shit and I hope they all get ass cancer.
		For whatever reason, flex items in MS11 do not have a height.
		Instead, the main body gets a height of 0, and the footer appears
		right below the header.
		
		I've tried many other alternatives to this but there doesn't seem
		to be a way to have a flexible height sticky footer.
		The only solution is to use the easy layout for all modern browsers
		and let IE degrade gracefully, with the footer appearing where it
		would be without Flexbox.
	*/
	-ms-flex: none;
}

/* Board Index */
section.index-form {
	
}
	form.form-post {
		background: #d6daf0;
		border-color: #B7C5D9;
		border-width: 1px;
		border-style: none solid solid none;
		
		padding: 0.75em;
		margin: 0 1em 2em 1em;
		max-width: 728px;
		box-sizing: border-box;
	}
	form.form-post .field {
		margin: 0.5em 0;
	}
	form.form-post .row-post .field-control {
		height: 6.25em;
		font-size: 90%;
		max-height: 50vh;
	}
		
		form.form-post button.field-submit {
			width: 118px;
			margin: 0 5px 0 0;
		}
		form.form-post select.field-capcode {
			width: 140 	px;
		}

/* BoardLogs */
section.board-logs-table {
	margin-bottom: 1em;
}


/* Moderation */
section.moderate-post {
	margin: 0 auto 1em auto;
}
	section.moderate-post #mod-form {
		margin: 0 auto 1em auto;
	}

/* Thrad View */
section.index-threads {
	margin: -1em 0 0 0;
}
	/* Advertisements */
	aside.advertiser.top-left {
		box-sizing: border-box;
		padding: 0.5em;
		text-align: center;
	}
	aside.advertiser.bottom-right {
		box-sizing: border-box;
		text-align: center;
	}
		aside.advertiser.bottom-right figure.ad-field {
			display: inline-block;
			margin: 1em 5px;
		}
	
	section.index-threads aside.advertiser.top-left {
		display: none;
	}
	
	/* Threads */
	main.index-threaded .thread,
	section.index-threads aside.advertiser.top-left {
		padding: 1em;
	}
	main.index-threaded .thread-item:last-child{
		border-bottom: none;
	}
	
	.reply {
		margin: 0.5em 0 0.5em 0;
		padding: 0 0 0 0.75em;
	}
		.reply::before {
			display: inline-block;
			content: '>>';
			color: #D6DAF0;
			font-weight: bold;
			vertical-align: top;
		}
	
	.post {
		position: relative;
		font-size: 105%;
		margin: 0 auto 0 0;
		padding: 0;
		min-width: 20vw;
	}
		.post p.line {
			display: block;
			margin: 0;
			padding: 0;
			min-height: 1.2em;
			line-height: 1.2em;
		}
		.post p.line.quote {
			color: #789922;
		}
	
	.thread-replies-omitted {
		color: #ccc;
		font-size: 90%;
		margin: 0.25em 0.5em;
	}
	
	.post-container {
		display: inline-block;
		margin: 0;
		overflow: hidden;
		
		/* background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
		
		background: #D6DAF0;
		border-color: #B7C5D9;
		border-width: 1px;
		border-style: none solid solid none;
		
		border-left: none;
		border-top: none;
	}
		
		.post-content {
			padding: 0.75em;
		}
		.post-content::after {
			content: ' ';
			clear: both;
			display: block;
		}
			.post-details {
				margin-bottom: 0.60em;
			}
				.post-detail {
					display: inline-block;
				}
					.subject {
						display: inline-block;
						margin: 0;
						font-size: 1em;
					}
					.author {
						display: inline-block;
						color: #117743;
					}
						.author .email {
							text-decoration: underline;
						}
					.createdon {
						display: inline-block;
					}
					.authorid {
						display: inline-block;
					}
					.postid {
						display: inline-block;
					}
					
					.capcode {
						display: inline-block;
					}
						.capcode::before {
							display: inline-block;
							content: '##';
							margin: 0 0.15em;
						}
						.capcode-admin .capcode {
							color: red;
						}
			
			ul.post-attachments {
				
			}
				li.post-attachment {
					float: left;
				}
					figure.attachment {
						margin: 0 1em 1em 0;
					}
						a.attachment-link {
							
						}
							img.attachment-img {
								max-height: 250px;
								max-width: 250px;
							}
		
		
		ul.post-metas {
			border-top: 1px solid #B7C5D9;
			margin: 0 0 -1px 0;
		}
			li.post-meta {
				display: block;
				color: #333;
				font-size: 90%;
				padding: 0.2em 0.6em;
			}
		
		ul.post-actions {
			border-top: 1px solid #B7C5D9;
			margin: 0 0 -1px 0;
		}
			li.post-action {
			}
				a.post-action-link {
					float: left;
					font-size: 80%;
					padding: 0.2em 0.9375em 0.2em;
				}
				a.post-action-link:hover{
					color: #dee0df;
					background: #34345C;
				}
	
	
	/* Catalog View */
	main.index-catalog {
		margin: 0 1em;
	}
		main.index-catalog .thread {
			display: inline-block;
			position: relative;
			float: left;
			
			background: rgba(182, 182, 182, 0.12);
			border: 2px solid rgba(111, 111, 111, 0.34);
			overflow: hidden;
			
			margin: 0.5em;
			padding: 2px;
			
			vertical-align: top;
			text-align: center;
			font-weight: normal;
			font-size: 11px;
			
			height: 300px;
			width: 205px;
			min-width: 200px;
			max-width: 200px;
			max-height: 274px;
		}
			main.index-catalog .post-container {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
				main.index-catalog .post-open {
					display: block;
					height: 2em;
					line-height: 2em;
					
					background: rgba(111, 111, 111, 0.34);
					color: #ffffff;
				}
				
				main.index-catalog .post-content {
					padding: 0;
				}
					main.index-catalog .post-attachment {
						float: none;
						text-align: center;
					}
						main.index-catalog .attachment {
							margin: 0;
						}
							main.index-catalog .attachment-img {
								max-height: 100px;
								max-width: 200px;
							}
					
					main.index-catalog .post-detail {
						display: block;
						margin: 0.4em 0 0 0;
					}
					
					main.index-catalog .post {
						display: block;
						width: 100%;
						min-width: 0px;
						max-width: none;
						
						text-align: left;
						padding: 0 0.5em;
					}

section.auth-form {
	max-width: 640px;
}

nav.pagination {
	background: #fff;
	padding: 0.25em 0;
	margin: 0;
	color: #EEF2FF;
}
	nav.pagination::after {
		display: block;
		content: ' ';
		clear: both;
	}
	
	div.pagination-buttons {
		float: left;
		margin: 0 1em;
	}
		div.pagination-buttons .pagination-button {
			line-height: 1.2;
			margin: 0.2em 0;
			padding: 0.15em 0.75em 0.25em;
		}
	
	ul.pagination-pages::before,
	ul.pagination-pages::after,
	li.pagination-page::after {
		display: inline-block;
		float: left;
		padding: 0.25em 0.1em;
		color: #34345C;
	}
	
	ul.pagination-pages {
		font-size: 110%;
		margin: 0 -0.1em;
	}
	ul.pagination-pages::before {
		content: '[';
		opacity: 0.6;
		cursor: default;
	}
	ul.pagination-pages::after {
		content: ']';
		opacity: 0.6;
		cursor: default;
	}
		li.pagination-page {
			display: inline-block;
			float: left;
		}
		li.pagination-page::after {
			content: '/';
			opacity: 0.6;
			cursor: default;
		}
		li.pagination-page:last-child::after {
			content: '';
			display: none;
		}
			a.pagination-link {
				display: inline-block;
				float: left;
				padding: 0.25em 0.5em;
				text-align: center;
			}
			a.pagination-link.pagination-active {
				font-weight: bold;
			}


/* Control Panel */
div.cp-box {
	position: relative;
	padding: 3.1em 0 0 0;
}
	
	div.cp-frame {
		margin-top: -1px;
		border-right: 1px solid #e0e0e0;
		overflow: hidden;
	}
	div.cp-frame:last-child {
		border-left: 1px solid #e0e0e0;
		border-right: none;
		margin-left: -1px;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	nav.cp-top {
		background: #333;
		padding: 0.5em 0.5em;
		margin: 0;
		line-height: 1.0em;
		
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
		nav.cp-top section.cp-linklists {
		}
		nav.cp-top section.cp-linklists::after {
			content: ' ';
			clear: both;
			display: block;
		}
		
		nav.cp-top ul.cp-linkgroups {
			display: block;
			float: left;
		}
		nav.cp-top ul.cp-linkgroups.linkgroups-user {
			float: right;
		}
			nav.cp-top li.cp-linkgroup {
				display: inline-block;
				color: #e0e0e0;
			}
				nav.cp-top a.linkgroup-name,
				nav.cp-top a.linkitem-name {
					display: inline-block;
					background: #222;
					border-radius: 4px;
					padding: 0.5em;
					color: #e0e0e0;
					font-weight: bold;
					line-height: 1em;
					min-width: 4em;
					text-align: center;
				}
				nav.cp-top ul.cp-linkitems {
					display: none;
				}
					nav.cp-top li.cp-linkitem {
					}

nav.cp-side {
	box-sizing: border-box;
	padding: 0.5em 0;
}
	nav.cp-side section.cp-linklists {
	}
	nav.cp-side section.cp-linklists::after {
		content: ' ';
		clear: both;
		display: block;
	}
	
	nav.cp-side ul.cp-linkgroups {
		display: block;
	}
		nav.cp-side li.cp-linkgroup {
			display: block;
		}
			nav.cp-side a.linkgroup-name {
				color: #525252;
				font-size: 18px;
			}
			nav.cp-side ul.cp-linkitems {
				display: block;
				border-top: 1px dashed #e0e0e0;
				margin: 0.2em 0 0.6em 0;
				padding: 0.2em 0 0 0;
			}
				nav.cp-side li.cp-linkitem {
					display: block;
					margin: 0.2em 0 0 0;
				}
					nav.cp-side a.linkgroup-name,
					nav.cp-side a.linkitem-name {
						display: block;
						padding: 0.2em 0;
					}
					nav.cp-side a.linkitem-name {
						line-height: 1.6;
					}

nav.cp-inner {
	display: block;
	padding: 0;
	margin: -0.25em -1em 0 -1em;
}
	nav.cp-tabs section.cp-linklists {
	}
	
	nav.cp-inner ul.cp-linkgroups {
	}
		nav.cp-inner li.cp-linkgroup {
		}
			nav.cp-inner a.linkgroup-name {
				/* Usually not set. */
			}
			
			nav.cp-inner ul.cp-linkitems {
				display: block;
				display: table;
				box-sizing: border-box;
				width: 100%;
				min-height: 23px;
				_height: 23px;
				
				font-size: 11px;
				padding: 1em 1.5em 0 1.5em;
				border-bottom: 1px solid #e0e0e0;
				word-wrap: normal;
			}
				nav.cp-inner li.cp-linkitem {
				}
					nav.cp-inner a.linkitem-name {
						display: inline-block;
						cursor: pointer;
						
						background: none;
						border: 1px solid #e0e0e0;
						border-radius: 5px 5px 0 0;
						outline: 0 none;
						padding: 0 1em;
						margin: 0 -1px -1px 0;
						
						color: #525252;
						text-decoration: none;
						line-height: 22px;
						height: 22px;
						white-space: nowrap;
						word-wrap: normal;
					}
					nav.cp-inner a.linkitem-name.linkitem-active {
						border-bottom: 1px solid white;
					}

#payment-form {
	margin: 0 0 1em 0;
}
	#card-details {
		width: 354px;
	}
	#payment-form::after {
		clear: both;
		content: ' ';
		display: block;
	}
		#payment-form .blockOverlay {
			background: rgba(255, 255, 255, 0.75);
			top: -0.25em;
			left: -0.25em;
			right: -0.25em;
			bottom: -0.25em;
			z-index: 999 !important;
		}
		#payment-form #payment-process,
		#payment-form #payment-received {
			background-image: url('/img/assets/infinity.gif');
			background-position: top center;
			background-repeat: no-repeat;
			background-color: #ffffff;
			color: #333;
			display: block;
			border-radius: 4px;
			line-height: 2em;
			font-size: 2em;
			padding: 80px 6px 6px 6px;
			text-align: center;
		}
			#payment-form #payment-received {
				background-image: url('/img/assets/heart.png');
				background-size: 128px 152px;
				padding-top: 160px;
			}
		
		#payment-form fieldset.form-fields {
			box-sizing: border-box;
			padding: 0 1em 0 0;
			margin: 0 0 1em 0;
		}
		#payment-form #card-details {
			float: left;
		}
			#payment-form legend.form-legend {
				margin-bottom: 0.4em;
			}
			#payment-form #card-form {
				border-radius: 5px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				background-color: #f9f9f7;
				border: 1px solid #fff;
				margin: 0;
				padding: 13px 20px;
				width: 320px;
			}
		#payment-form #donate-details {
			border-bottom: 1px solid #dee0df;
			border-top: 1px solid #dee0df;
			margin: 0.75em 0;
			padding: 0.75em 0;
		}
			#payment-form .field-row::after{
				content: ' ';
				display: block;
				clear: both;
			}
			#payment-form .field-control {
				background-color: #ffffff;
				color: #000000;
				line-height: 1.4em;
				font-size: 1.3em;
				min-height: 34px;
			}
			#payment-form .field {
				float: left;
				margin: 0.5em 0.5em 0.5em 0;
			}
			#payment-form .row-ccn {
				width: 320px;
			}
			#payment-form .row-cvc {
				width: 90px;
			}
			#payment-form .row-month {
				width: 122px;
			}
			#payment-form .row-year {
				width: 90px;
				margin-right: 0;
			}
			#payment-form .row-attribution,
			#payment-form .row-amount,
			#payment-form .row-email,
			#payment-form .row-subscription {
				width: 100%;
				margin-right: 0;
			}
			
			#donate-details .donate-options {
				display: block;
				margin: 0 -2px;
			}
				#donate-details .donate-option {
					display: inline-block;
					float: left;
					margin: 4px 2px;
					text-align: center;
					height: 76px;
					width: 76px;
				}
					#donate-details .donate-cycle-label {
						display: block;
						box-sizing: border-box;
						padding: 6px;
						margin: 0 0 4px;
						border: 1px solid #dddddd;
						background: #fff;
						color: #333;
						font-size: 1.2em;
						line-height: 1.2em;
						vertical-align: text-bottom;
						font-weight: bold;
					}
					#donate-details .donate-cycle-input {
						vertical-align: text-bottom;
					}
					
					#donate-details .donate-option-input {
						position: absolute;
						width: 1px;
						height: 1px;
						margin: -1px;
						padding: 0px;
						overflow: hidden;
						border: 0px none;
						clip: rect(0px, 0px, 0px, 0px);
					}
					#donate-details .donate-option-label {
						display: block;
						background: none repeat scroll 0% 0% #EEF2FF;
						font-size: 1em;
						height: 5em;
						line-height: 5;
						border-radius: 0.3em;
						color: #34345C;
						cursor: pointer;
						box-sizing: border-box;
						transition: all 0.2s ease 0s;
					}
					
					#donate-details .donate-option-label:active,
					#donate-details .donate-option-input:checked + .donate-option-label,
					#donate-details .donate-option-label.checked {
						background: none repeat scroll 0% 0% #34345C !important;
						box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
						color: #ffffff;
					}
					#donate-details #input_amount_other_label {
						line-height: 2.5;
					}
					#donate-details #input_amount_other_box {
						position: absolute;
						display: block;
						width: 64px;
						margin: 0px 2px;
						background: none repeat scroll 0% 0% #FFFFFF;
						line-height: 1;
						padding: 0.25em;
						border: 0px none;
						outline: 0px none;
						border-radius: 0.3em;
						color: #333;
					}
						#donate-details #input_amount_other_box:focus {
							background: none repeat scroll 0% 0% #FFFFFF;
						}

	#payment-time {
		margin: 0.6em 0;
		padding: 0.4em 0;
		font-size: 130%;
		text-align: center;
	}
	#payment-tax {
		text-align: center;
	}
	#payment-submit .field-submit {
		width: 100%;
	}
	#payment-email {
		font-size: 70%;
		margin: 0.6em 0 0 0;
	}

	#payment-security {
		border-radius: 4px;
		margin: auto 0;
		padding: 0.25em 0.5em;
	}
		#payment-security li.security-step {
			display: block;
			margin: 0.75em 0;
			line-height: 1em;
			position: relative
		}
			#payment-security div.security-icons {
				position: absolute;
			}
			#payment-security li.security-step i.fa {
				font-size: 140%;
				margin: 0;
				text-align: center;
				width: 1.2em;
			}
			#payment-security span.security-item {
				display: inline-block;
				margin: 0 0 0 0;
				padding: 0 0 0 5.8em;
			}
			#payment-security span.security-footer {
				display: block;
				margin: 0 0 0.25em 0;
			}

	#payment-btc {
	}
	html.no-js #payment-btc {
		float: none;
		margin: 1em auto 1em 0;
		padding: 0 10%;
		width: 82.5%;
	}
		#payment-btc h5.btc-title {
			margin: 0.5em 0 0 5px;
			font-size: 1.1em;
		}
		#payment-btc blockquote.btc-desc {
			margin: 0;
		}
		#payment-btc img.btc-qr {
			float: left;
			width: 200px;
			height: 200px;
			margin: 0 1em 1em 0;
		}
			#payment-btc code.btc-code {
				display: block;
				background: #dddddd;
				clear: both;
				color: #333333;
				padding: 0.2em 1em;
				margin: 0.4em 0 0 0;
				text-align: center;
			}
			
			#ccn {
					background-image: url('/img/assets/providers.png'), url('/img/assets/providers.png');
					background-position: 2px -121px;
					background-size: 120px 361px;
					background-repeat: no-repeat;
					padding-left: 54px;
				}
				#ccn.visa {
					background-position: 2px -163px;
				}
				#ccn.visa_electron {
					background-position: 2px -205px;
				}
				#ccn.mastercard {
					background-position: 2px -247px;
				}
				#ccn.maestro {
					background-position: 2px -289px;
				}
				#ccn.discover {
					background-position: 2px -331px;
				}

body.error {
	background-color: rgba(238, 242, 255, 0.8);
}
body.error::before {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	
	display: block;
	content: ' ';
	
	background-image: url('/img/errors/whitenoise.gif');
}
	main#error {
	}
		section.error-flair {
			padding: 0;
			margin-left: auto;
			margin-right: auto;
			
			overflow: hidden;
			max-width: 500px;
			max-height: 500px;
		}
			figure.error-figure {
				margin: 0;
				padding: 0;
				position: relative;
			}
			figure.error-figure img.error-image {
				
			}
			figure.error-figure figcaption.error-caption {
				display: block;
				height: 1em;
				text-indent: 1em;
				
				position: absolute;
				bottom: 1em;
				
				text-align: right;
			}
				figure.error-figure a.error-credit {
					color: white;
					text-shadow: 1px black;
					text-align: right;
				}

/* Page Header */
header {
	/* background: #fff; */
	border-top: 4.5em solid rgba(0,0,0,0);
	color: #333;
	padding: 0 0 0 0;
	margin: 0 0 1em 0;
}
	header.header-height-1 {
		border-top: 2.5em solid rgba(0,0,0,0);
	} 

figure.page-head {
	display: block;
	margin: 1em auto 1em auto;
	max-width: 960px;
	text-align: center;
}

#logo {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	max-height: 100px;
}

figcaption.page-details {
}
	h1.page-title {
		color: #333;
		margin: 0.2em 0 0 0;
	}
	h2.page-desc {
		color: #333;
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}
	
	ul.page-links {
		display: block;
		margin: 0.5em 0 0 0;
	}
		li.page-link {
			display: inline-block;
		}
			li.page-link::after {
				display: inline-block;
				content: '|';
				margin: 0 0.25em;
			}
			li.page-link:last-child::after {
				display: none;
			}

/* Page Footer */
footer {
	clear: both;
	padding: 0;
	margin: 1em 0 0 0;
}
	#footnotes {
		background: #333;
		padding: 0.5em 0;
		
		color: #ffffff;
		font-size: 16px;
		text-align: center;
	}