
/**
 * 360px Width
 * Vertical phones
 */
@media (min-width: 360px) {
	
}

/**
 * 640px Width
 * Horizontal phones
 */
@media (min-width: 640px) {
	/**
	 * Thread & Posts
	 */
	body.responsive section.index-threads aside.advertiser.bottom-right {
		display: block;
	}
}


/**
 * 768px Width
 * Tablets
 */
@media (min-width: 728px) {
	/**
	 * Index
	 */
	#site-logo-img {
		margin-top: 24px;
	}
	
	#site-description .infobox,
	#site-statistics .infobox {
		min-height: 10em;
	}
	
	/**
	 * Contribution Page
	 */
	body.responsive li.contrib-option {
		border-bottom: none;
		border-right: 1px solid #EEF2FF;
		padding-bottom: 0;
		padding-right: 9px;
		min-height: 360px;
	}
	body.responsive li.contrib-option:last-child {
		padding-right: 10px;
		border-right: none;
	}
	
	body.responsive .me-skill:first-child {
		padding-right: 3em;
	}
	body.responsive .me-skill:last-child {
		padding-left: 3em;
	}
		body.responsive .me-skill .fa {
			display: block;
			font-size: 300%;
			vertical-align: top;
			
			position: absolute;
			top: 5px;
			bottom: 0;
			left: -1.5em;
		}
		body.responsive .me-skill:last-child .fa {
			left: -0.5em;
		}
	
	/**
	 * Thread & Posts
	 */
	body.responsive form.form-post {
		margin-left: auto;
		margin-right: auto;
	}
	
	body.responsive section.index-threads aside.advertiser.top-left {
		display: block;
		text-align: center;
	}
}

/**
 * 1028px width and 640px height
 * Desktop
 */
@media (min-width: 1028px) and (min-height: 480px) {
	/**
	 * Posts and Threads
	 */
	html.js body.responsive form.form-post {
		position: fixed;
		z-index: 1000;
		top: 3.4em;
		right: 10px;
		
		display: block;
		margin: 0;
		padding: 10px 10px 0 10px;
		width: 300px;
	}
	
	body.responsive .index-threaded section.index-threads .thread {
		padding-right: 340px;
	}
	body.responsive .index-threaded section.index-threads .post {
		/* max-width: 70vw; */
	}
	
	/* Advertisements */
	body.responsive section.index-threads aside.advertiser.top-left {
		text-align: left;
	}
	body.responsive section.index-threads aside.advertiser.bottom-right {
		position: absolute;
		bottom: 0;
		right: 0;
	}
		body.responsive aside.advertiser.bottom-right figure.ad-field {
			display: block;
			width: 310px;
		}
	
	/**
	 * Sidebar
	 */
	aside.index-sidebar {
		position: absolute;
		right: 0.5em;
		top: -1em;
		bottom: 1em;
		
		padding-top: 15em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;
		
		box-sizing: border-box;
		width: 320px;
	}
	
	/**
	 * Catalog
	 */
	body.responsive main.index-catalog .index-threads {
		max-width: 70vw;
	}
}