/*
 * z-index list of importance
 * 9999 - Stripe overlay. NEVER SURPASS.
 * 1000 - Boardlist, top. Shold be highest element on boards and threads.
*/

/*
 * Generic tag definitions
 */

html,
body {
	background-color: #eee;
	background-image: url('/img/noise.png');
	background-repeat: repeat;
	
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

a,
a:link,
a:visited,
a:hover {
	color: #f4645f;
	text-decoration: none
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
 * Generic definitions
 */

/* Design */
.smooth-box {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	overflow: hidden;
}

/* Forms */
form {
	margin: 0 auto;
}
	.form-fields {
		border: none;
		padding: 0;
		margin: 0;
	}
	.form-legend {
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	
	.field {
		margin: 1em 0;
	}
	.field-label {
		display: block;
	}
	.field-control {
		display: block;
		
		border: 1px solid #dee0df;
		box-sizing: border-box;
		margin: 0;
		padding: 0.2em 0.4em;
		width: 100%;
		
		font-size: 120%;
		line-height: 1.4em;
	}
	
	.row-captcha {
		border: 1px solid #dee0df;
		width: 300px;
		margin-left: 0;
		margin-right: auto;
	}
		.row-captcha .field-control {
			border: none;
			border-top: 1px solid #dee0df;
		}


/*
 * Errors
 */
 
/* Partial */
figure.error {
	display: block;
	margin: 0 auto 0 0;
	padding: 0;
	width: 82.5%;
	
	text-align: center;
}
	figure.error i.error-icon {
		font-size: 10em;
		
		background-color: #565656;
		color: transparent;
		text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	}
	figcaption.error-caption {
	}
		figcaption.error-caption h4.error-title {
			font-size: 120%;
			margin: 0;
		}
		figcaption.error-caption span.error-desc {
			
		}



/*
 * Specific page content
 */

/* Contributory Block */
header.contrib-header {
	display: block;
}

ul.contrib-options {
	text-align: center;
}
	ul.contrib-options::after {
		content: ' ';
		clear: both;
		display: block;
	}
	li.contrib-option {
		border-bottom: 1px solid #f4645f;
		padding-bottom: 1em;
		padding-right: 10px;
		margin-bottom: 1em;
	}
	li.contrib-option:last-child {
		border-bottom: none;
	}
		a.option-link {
			display: block;
			color: #f4645f;
			font-size: 300%;
			font-weight: bold;
			text-decoration: none;
		}
		a.option-link h3 {
			margin: 0;
		}
		blockquote.option-desc {
			margin: 0;
		}

section.contrib-shekel {
	display: block;
}
	h3.shekel-title {
		display: block;
		margin-bottom: 0;
	}
	blockquote.shekel-timer {
		display: block;
		font-size: 400%;
		text-align: center;
		margin: 0;
	}
	p.shekel-oyvey {
		display: block;
		text-align: right;
		margin-top: 0;
	}
	blockquote.shekel-explainer {
		margin: 0;
	}

.section-me {
	background: #333;
	color: white;
}
	.me-skills {
		clear: both;
	}
	.me-skill {
		position: relative;
		padding: 0
	}
		.skill-name {
		}
		.skill-desc {
		}

@media (min-width: 768px) {
	li.contrib-option {
		border-bottom: none;
		border-right: 1px solid #f4645f;
		padding-bottom: 0;
		padding-right: 9px;
		min-height: 360px;
	}
	li.contrib-option:last-child {
		padding-right: 10px;
		border-right: none;
	}
	
	.me-skill:first-child {
		padding-right: 3em;
	}
	.me-skill:last-child {
		padding-left: 3em;
	}
		.me-skill .fa {
			display: block;
			font-size: 300%;
			vertical-align: top;
			
			position: absolute;
			top: 5px;
			bottom: 0;
			left: -1.5em;
		}
		.me-skill:last-child .fa {
			left: -0.5em;
		}
}


/* Navigation */
nav.boardlist {
	padding: 0 1em;
	font-size: 0.8em;
}
	header nav.boardlist {
		background: #f4645f;
		color: #ffffff;
		
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
		z-index: 1000;
	}
	footer nav.boardlist {
		background: #666666;
		color: #aeaeae;
		
		position: absolute;
		left: 0;
		right: 0;
	}
	
	nav.boardlist .boardlist-categories,
	nav.boardlist .boardlist-category,
	nav.boardlist .boardlist-items,
	nav.boardlist .boardlist-item {
		display: inline-block;
		vertical-align: middle;
		height: 1em;
		line-height: 1em;
	}
	
	nav.boardlist .boardlist-category::before {
		content: '[';
		opacity: 0.6;
	}
	nav.boardlist .boardlist-category::after {
		content: ']';
		opacity: 0.6;
	}
	
	nav.boardlist .boardlist-item::after {
		content: '/';
		margin: 0 0 0 0.4em;
		opacity: 0.6;
	}
	nav.boardlist .boardlist-item:last-child::after {
		content: '';
	}
	
	nav.boardlist .boardlist-link {
		text-decoration: none;
	}
	header nav.boardlist .boardlist-link {
		color: #ffffff;
	}
	footer nav.boardlist .boardlist-link {
		color: #ffffff;
	}

/* Main Content */
main {
	flex: 1;
}

/* Board Index */
section.index-form {
}
	form.form-post {
		position: fixed;
		top: 2em;
		right: 1vw;
		
		display: block;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		padding: 0.75em;
		width: 300px;
		opacity: 0.7;
	}
	form.form-post:hover {
		opacity: 1;
	}
	

section.index-threads {
	
}
	.field-label.field-post {
		display: none;
		padding: 0;
		margin: 0.2em;
	}
	
	/* Threads */
	.thread {
		margin: 0 0 0 1em;
		padding: 1em 0 1em 0;
	}
	.thread-item:nth-child(even) {
		background: rgba(255,255,255,0.5);
	}
	
	.reply {
		margin: 0.5em 0 0.5em 2em;
		padding: 0;
	}	
	
	.post {
		font-size: 105%;
		margin: 0 auto 0 0;
		padding: 0;
		max-width: 75vw;
	}
		.post p {
			display: block;
			margin: 0;
			padding: 0;
			min-height: 1.1em;
			line-height: 1.1em;
		}
		.post .quote {
			color: #789922;
		}
	
	.post-container {
		display: inline-block;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		padding: 0.75em;
	}
		.post-details {
			margin-bottom: 0.60em;
		}
			.post-detail {
				display: inline-block;
			}
				.subject {
					display: inline-block;
					margin: 0;
					font-size: 1em;
				}
				.author {
					display: inline-block;
					color: #117743;
				}
				.createdon {
					display: inline-block;
				}
				.authorid {
					display: inline-block;
				}
				.postid {
					display: inline-block;
				}

section.auth-form {
	max-width: 640px;
}



/* Control Panel */
div.cp-box {
	position: relative;
	padding: 3.1em 0 0 0;
}

div.cp-frame:first-child {
	border-right: 1px solid #e0e0e0;
}
div.cp-frame:last-child {
	border-left: 1px solid #e0e0e0;
	margin-left: -1px;
	padding-top: 1em;
	padding-bottom: 1em;
}

nav.cp-top {
	background: #333;
	padding: 0.5em 0.5em;
	margin: 0;
	line-height: 1.0em;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
	nav.cp-top section.cp-linklists {
	}
	nav.cp-top section.cp-linklists::after {
		content: ' ';
		clear: both;
		display: block;
	}
	
	nav.cp-top ul.cp-linkgroups {
		display: block;
		float: left;
	}
	nav.cp-top ul.cp-linkgroups.linkgroups-user {
		float: right;
	}
		nav.cp-top li.cp-linkgroup {
			display: inline-block;
			color: #e0e0e0;
		}
			nav.cp-top a.linkgroup-name,
			nav.cp-top a.linkitem-name {
				display: inline-block;
				background: #222;
				border-radius: 4px;
				padding: 0.5em;
				color: #e0e0e0;
				font-weight: bold;
				line-height: 1em;
			}
			nav.cp-top ul.cp-linkitems {
				display: none;
			}
				nav.cp-top li.cp-linkitem {
				}

nav.cp-side {
	box-sizing: border-box;
	padding: 0.5em 0;
}
	nav.cp-side section.cp-linklists {
	}
	nav.cp-side section.cp-linklists::after {
		content: ' ';
		clear: both;
		display: block;
	}
	
	nav.cp-side ul.cp-linkgroups {
		display: block;
	}
	nav.cp-side ul.cp-linkgroups {
	}
		nav.cp-side li.cp-linkgroup {
			display: block;
		}
			nav.cp-side a.linkgroup-name {
				color: #525252;
				font-size: 18px;
			}
			nav.cp-side a.linkgroup-name,
			nav.cp-side a.linkitem-name {
			}
			nav.cp-side ul.cp-linkitems {
				display: block;
				border-top: 1px dashed #e0e0e0;
				margin: 0.2em 0 0.6em 0;
				padding: 0.2em 0 0 0;
			}
				nav.cp-side li.cp-linkitem {
					display: block;
					margin: 0.2em 0 0 0;
				}
					nav.cp-side a.linkitem-name {
						font-size: 90%;
					}

/* Page Header */
header {
	background: #fff;
	border-top: 1em solid #f4645f;
	color: #333;
	padding: 1em 0 0 0;
	margin: 0 0 1em 0;
}

figure.page-head {
	display: block;
	margin: 0 auto 1em auto;
	max-width: 960px;
	text-align: center;
}

#logo {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	max-height: 100px;
}

figcaption.page-details {
}
	h1.page-title {
		color: #333;
		margin: 0.2em 0 0 0;
	}
	h2.page-desc {
		color: #333;
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

/* Page Footer */
footer {
	padding: 0;
}
	#footnotes {
		background: #fafafa;
		margin-top: 1em;
		padding: 0.5em 1em;
		
		color: #aeaeae;
		font-size: 16px;
		text-align: center;
	}