html,
body {
	background: #ffffff;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Contributory Block */
header.contrib-header {
	display: block;
}

/* Board & Thread Index */
header.board-header {
	border-top: 1em solid #f4645f;
	color: #333;
	padding: 1em 0;
}
	ul.contrib-options {
		text-align: center;
	}
		li.contrib-option {
			padding-right: 9px;
			border-right: 1px solid #f4645f;
			min-height: 360px;
		}
		li.contrib-option:last-child {
			padding-right: 10px;
			border-right: none;
		}
			a.option-link {
				display: block;
				color: #f4645f;
				font-size: 300%;
				font-weight: bold;
				text-decoration: none;
			}
			a.option-link h3 {
				margin: 0;
			}
			blockquote.option-desc {
				margin: 0;
			}
	
	section.contrib-shekel {
		display: block;
	}
		h3.shekel-title {
			display: block;
			margin-bottom: 0;
		}
		blockquote.shekel-timer {
			display: block;
			font-size: 400%;
			text-align: center;
			margin: 0;
		}
		p.shekel-oyvey {
			display: block;
			text-align: right;
			margin-top: 0;
		}

/* Contribution Sections */
.section-me {
	background: #333;
	color: white;
}
	.me-skills {
		clear: both;
	}
	.me-skill {
		position: relative;
		padding: 0
	}
	.me-skill:first-child {
		padding-right: 3em;
	}
	.me-skill:last-child {
		padding-left: 3em;
	}
		.me-skill .fa {
			font-size: 300%;
			vertical-align: top;
			
			position: absolute;
			top: 5px;
			bottom: 0;
			left: -1.5em;
		}
		.me-skill:last-child .fa {
			left: -0.5em;
		}
		.skill-name {
		}
		.skill-desc {
		}

/* Navigation */
nav.boardlist {
	padding: 0 1em;
	font-size: 0.8em;
}
	header nav.boardlist {
		background: #f4645f;
		color: #ffffff;
		
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
		z-index: 1000000;
	}
	footer nav.boardlist {
		background: #666666;
		color: #aeaeae;
		
		position: absolute;
		left: 0;
		right: 0;
	}
	
	nav.boardlist .boardlist-categories,
	nav.boardlist .boardlist-category,
	nav.boardlist .boardlist-items,
	nav.boardlist .boardlist-item {
		display: inline-block;
		vertical-align: middle;
		height: 1em;
		line-height: 1em;
	}
	
	nav.boardlist .boardlist-category::before {
		content: '[';
		opacity: 0.6;
	}
	nav.boardlist .boardlist-category::after {
		content: ']';
		opacity: 0.6;
	}
	
	nav.boardlist .boardlist-item::after {
		content: '/';
		margin: 0 0 0 0.4em;
		opacity: 0.6;
	}
	nav.boardlist .boardlist-item:last-child::after {
		content: '';
	}
	
	nav.boardlist .boardlist-link {
		text-decoration: none;
	}
	header nav.boardlist .boardlist-link {
		color: #ffffff;
	}
	footer nav.boardlist .boardlist-link {
		color: #ffffff;
	}


/* Main Content */
main {
	flex: 1;
}


/* Post Form */
section.index-threads {
	border-top: 1px solid #dee0df;
}

.form-post {
	display: block;
	margin: 0 auto;
	width: 600px;
}
	.post-fields {
		border: none;
	}
	.post-action {
		margin: 0;
		padding: 0;
	}
	.post-action.action-newthread {
	}
	
	.post-field {
		
	}
	.post-label {
		display: block;	
	}
	.post-label.field-post {
		display: none;
		padding: 0;
		margin: 0.2em;
	}
	.post-input {
		display: block;
		margin: 0.2em;
		width: 100%;
	}


/* Threads */
.thread {
	background: #dee0df;
	margin: 0;
	padding: 1em 0 1em 1em;
}
.thread-item:nth-child(even) .thread {
	background: #ffffff;
}

.reply {
	background: #ECECEC;
	margin: 1em 0 0 0;
	padding: 0.75em 1em;
}

.post {
	font-size: 105%;
	margin: 0 auto 0 0;
	padding: 0;
	max-width: 75vw;
}
	.post p {
		display: block;
		margin: 0;
		padding: 0;
		min-height: 1.1em;
		line-height: 1.1em;
	}
	.post .quote {
		color: #789922;
	}

.post-details {
	margin-bottom: 0.60em;
}
	.post-detail {
		display: inline-block;
	}
		.subject {
			display: inline-block;
			margin: 0;
			font-size: 1em;
		}
		.author {
			display: inline-block;
			color: #117743;
		}
		.createdon {
			display: inline-block;
		}
		.authorid {
			display: inline-block;
		}
		.postid {
			display: inline-block;
		}

.thread-replies {
	margin-top: 1.25em;
}

/* Board Details */
figure.board-head {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

img.board-banner {
	max-width: 300px;
	max-height: 150px;
}

figcaption.board-details {
	
}
	h1.board-title {
		color: #525252;
		margin: 0.2em 0 0 0;
	}
	h2.board-desc {
		color: #525252;
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

footer {
	padding: 0;
}
	#footnotes {
		background: #fafafa;
		margin-top: 1em;
		padding: 0.5em 1em;
		
		color: #aeaeae;
		font-size: 16px;
		text-align: center;
	}