/*
 * z-index list of importance
 * 9999 - Stripe overlay. NEVER SURPASS.
 * 1000 - Boardlist, top. Shold be highest element on boards and threads.
*/

/*
 * Generic tag definitions
 */

html,
body {
	background-color: #eee;
	background-image: url('/img/noise.png');
	background-repeat: repeat;
	
	min-height: 100vh;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
}

a,
a:link,
a:visited,
a:hover {
	color: #f4645f;
	text-decoration: none
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button,
a.button {
	display: inline-block;
	padding: 0.2em 1em 0.25em;
	margin-bottom: 0;
	box-sizing: bordebox;
	
	background: #f4645f;
	border: none;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	
	cursor: pointer;
	
	color: #fff;
	font-size: 1em;
	font-size: 1.07142857142857rem;
	font-weight: bold;
	line-height: 1.4545em;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	vertical-align: middle;
}
	button:hover,
	a.button:hover {
		background: #b74b47;
	}
		button:disabled,
		a.button.disabled {
			background: #fff;
			border: 1px solid #ccc;
			color: #ccc;
			cursor: default;
		}
		button:disabled:hover,
		a.button.disabled:hover {
			background: #fff;
			border-color: #ccc;
			color: #ccc;
		}

:focus {
	outline: #f4645f auto 5px;
}

/*
 * Generic definitions
 */

/* Design */
.smooth-box {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	overflow: hidden;
}

.infobox {
	background: #fff;
	border: 1px solid #f4645f;
	border-radius: 0.25em;
}
	.infobox .infobox-title {
		background: #f4645f;
		font-weight: bold;
		color: #fff;
		padding: 0.2em 0.4em;
	}
	.infobox .infobox-info {
		padding: 0.4em 0.6em 0.4em 0.6em;
	}
	.infobox .infobox-info p {
		margin: 0 0 0.4em 0;
	}

html.no-js .no-js,
html.js    .require-js {
	display: block;
}
html.no-js .require-js,
html.js    .no-js {
	display: none;
}

/* Forms */
form {
	margin: 0 auto;
}
	.form-messages {
		display: block;
		margin: 0;
		padding: 0;
	}
		.form-message {
			display: block;
			border-radius: 1.5em;
			padding: 0.25em 1em;
			margin: 0.2em 0;
			
			border: 1px solid #7f7f7f;
			background: #d5d5d5;
			color: #7f7f7f;
		}
			.form-message::before {
				display: inline-block;
				font: normal normal normal 18px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				
				content: "\f10c";
				margin: 0 0.5em 0 -0.25em;
			}
			.form-message:last-child {
				margin-bottom: 1em;
			}
		.form-message.message-info {
			border: 1px solid #60859f;
			background: #cbd7df;
			color: #60859f;
		}
			.form-message.message-info::before {
				content: "\f05a";
			}
		.form-message.message-success {
			border: 1px solid #4cb266;
			background: #c5e6cd;
			color: #4cb266;
		}
			.form-message.message-success::before {
				content: "\f00c";
			}
		.form-message.message-error {
			border: 1px solid #B74B47;
			background: #F9B5B2;
			color: #B74B47;
		}
			.form-message.message-error::before {
				content: "\f071";
			}
		
	
	.form-fields {
		border: none;
		padding: 0;
		margin: 0;
	}
	.form-legend {
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	
	.field {
		margin: 1em 0;
		position: relative;
	}
	.field-label {
		display: block;
	}
		.label-inline .field-label {
			background: none;
			border: 1px solid #dee0df;
			border-radius: 0 0.75em 0.75em 0;
			padding: 0.2em 0.4em;
			
			color: #dee0df;
			line-height: 1.4em;
			font-size: 120%;
			
			position: absolute;
			min-width: 3.75em;
			width: auto;
			top: 0;
		}
		 .field-label .field-description {
			display: block;
			color: #CCC;
			font-size: 0.8em;
			margin: 0.1em 0 0.25em 0;
		}
	
	.field-control {
		display: block;
		
		border: 1px solid #dee0df;
		box-sizing: border-box;
		margin: 0;
		padding: 0.2em 0.4em;
		width: 100%;
		
		font-size: 120%;
		line-height: 1.4em;
	}
		.label-inline .field-control {
			padding-left: 5em;
		}
		.label-inline .field-control:focus + .field-label {
			border: 1px solid #f4645f;
			color: #f4645f;
		}
		
		.field-control.control-valid {
			background: #c5e6cd;
			border: 1px solid #4cb266;
			color: #4cb266;
		}
		.field-control.control-invalid {
			background: #F9B5B2;
			border: 1px solid #B74B47;
			color: #B74B47;
		}
	
	.row-captcha {
		border: 1px solid #dee0df;
		width: 300px;
		margin-left: 0;
		margin-right: auto;
	}
		.row-captcha .field-control {
			border: none;
			border-top: 1px solid #dee0df;
		}


/*
 * Errors
 */
 
/* Partial */
figure.error {
	display: block;
	margin: 0 auto 0 0;
	padding: 0;
	width: 82.5%;
	
	text-align: center;
}
	figure.error i.error-icon {
		font-size: 10em;
		color: #565656;
	}
	figcaption.error-caption {
	}
		figcaption.error-caption h4.error-title {
			font-size: 120%;
			margin: 0;
		}
		figcaption.error-caption span.error-desc {
			
		}



/*
 * Specific page content
 */

/* Main Page */
#frontpage {
	
}
	#site-warning {
		color: #f33;
		margin: 0 0 1em 0;
		font-size: 0.8em;
		text-align: center;
		text-shadow: rgba(224, 224, 224, 0.5) 1px 1px 0px;
	}
	#site-info {
		clear: both;
		margin: 0 0 1em 0;
	}
		#site-info::after,
		#site-info::before {
			content: ' ';
			clear: both;
			display: block;
		}
		#site-logo {
			margin: 0;
			height: 1px;
		}
			#site-logo-img {
				margin: 32px 0 0 0;
				width: 100%;
			}
		
		#site-description .infobox,
		#site-statistics .infobox {
			min-height: 145px;
		}
		#site-description .infobox-info,
		#site-statistics .infobox-info {
			text-align: center;
		}
	
	#index-boardlist {
		clear: both;
		margin: 1em 0 0 0;
	}
	
	#frontpage .smooth-box {
		margin: 0 0 1em 0;
	}
	#frontpage h2 {
		margin: 0 0 0.5em 0;
	}
	#frontpage h3 {
		margin: 0 0 0.5em 0;
	}
	#frontpage p {
		margin: 0 0 1em 0;
	}

/* Contributory Block */
header.contrib-header {
	display: block;
}

main.contrib section {
	margin: 0 auto;
}
	main.contrib section:first-child {
		margin-top: 0;
	}
	main.contrib section:last-child {
		margin-bottom: -1em;
	}

main.contrib section.contrib-howto {
	margin: 0 auto 1em auto;
}
	section.contrib-howto ul.contrib-options {
		text-align: center;
	}
		ul.contrib-options::after {
			content: ' ';
			clear: both;
			display: block;
		}
		li.contrib-option {
			border-bottom: 1px solid #f4645f;
			padding-bottom: 1em;
			padding-right: 10px;
			margin-bottom: 1em;
		}
		li.contrib-option:last-child {
			border-bottom: none;
		}
			a.option-link {
				display: block;
				color: #f4645f;
				font-size: 300%;
				font-weight: bold;
				text-decoration: none;
			}
			a.option-link h3 {
				margin: 0;
			}
			blockquote.option-desc {
				margin: 0;
			}

main.contrib section.contrib-shekel {
	display: block;
	background: rgba(255,255,255,0.5);
}
	h3.shekel-title {
		display: block;
		margin-bottom: 0;
	}
	blockquote.shekel-timer {
		display: block;
		font-size: 400%;
		text-align: center;
		margin: 0;
	}
	p.shekel-oyvey {
		display: block;
		text-align: right;
		margin-top: 0;
	}
	blockquote.shekel-explainer {
		margin: 0;
	}

main.contrib section.contrib-goals {
	margin: 1em auto;
}
	section.contrib-goals ul.goals {
	}
	section.contrib-goals li.goal {
		margin: 0 0 1em 0;
		padding: 0;
	}
		section.contrib-goals h4.goal-title {
			margin: 0;
			padding: 1.5em 0 0.75em 1.5em;
			border-bottom: 0.25em solid #f4645f;
		}
		section.contrib-goals blockquote.goal-desc {
			margin: 0.75em 0 1em 1.5em;
		}
		section.contrib-goals ul.goal-items {
			margin: -1em 1em 1.5em 1em;
		}
		section.contrib-goals ul.goal-items::after {
			content: ' ';
			display: block;
			clear: both;
		}
			section.contrib-goals li.goal-item {
				margin: 1em 0 0 0;
			}
			section.contrib-goals span.goal-part {
			}
			section.contrib-goals blockquote.goal-helper {
				border-top: 1px dashed rgba(0, 0, 0, 0.1);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;
				
				color: #666;
				font-size: 0.9em;
			}
			
			section.contrib-goals .goal-figure {
				text-align: center;
			}
			section.contrib-goals #goal-newchan {
				margin-bottom: 1em;
				width: 200px;
			}
			section.contrib-goals figcaption.goal-helper {
				display: block;
				margin: 0 auto;
				max-width: 600px;
			}

main.contrib section.contrib-donorlist {
	margin: 0 0 -1em 0;
}
	section.contrib-donorlist div.donorsgroup {
		clear: both;
	}
		section.contrib-donorlist div.donors-uber {
			background: #e0f4eb;
		}
		section.contrib-donorlist div.donors-plat {
			background: #ffffff;
		}
		section.contrib-donorlist div.donors-gold {
			background: #fff4d5;
		}
		section.contrib-donorlist div.donors-silver {
			background: #ebecef;
		}
		section.contrib-donorlist div.donors-bronze {
			background: #d7ad9b;
		}
	
	section.contrib-donorlist ul.donors {
		padding-top: 0;
		padding-bottom: 1em;
		text-align: center;
	}
		
	section.contrib-donorlist li.donor {
		display: inline-block;
		overflow: hidden;
		position: relative;
		float: none;
		margin: 1em 0.8em -0.5em 0;
		border-radius: 0.4em;
		text-shadow: rgba(224, 224, 224, 1) -1px -1px 0px;
	}
		section.contrib-donorlist .donor-desc {
			padding: 0.2em 0.1em;
			text-align: center;
			line-height: 1.25em;
			vertical-align: middle;
		}
		section.contrib-donorlist .donor-amount,
		section.contrib-donorlist .donor-name {
			display: block;
			overflow: hidden;
		}
		section.contrib-donorlist .donor-name {
			max-height: 2.6em;
			font-weight: bold;
			vertical-align: bottom;
		}
		
		section.contrib-donorlist ul.donors-uber li.donor {
			background: #e0f4eb;
			background-image: linear-gradient(to bottom, rgba(224,244,234,0.5), rgba(168,225,200,0.5));
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #3db17e, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-uber .donor-desc {
				font-size: 1.25em;
			}
		section.contrib-donorlist ul.donors-plat li.donor {
			background: #ffffff;
			background-image: linear-gradient(to bottom, #ffffff, #eeeeff);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #d6d8da, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-plat .donor-desc {
				font-size: 1.1em;
			}
		section.contrib-donorlist ul.donors-gold li.donor {
			background: #fff4d5;
			background-image: linear-gradient(to bottom, #fff4d5, #ffe089);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #ffc527, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-gold .donor-desc {
				font-size: 1em;
			}
		section.contrib-donorlist ul.donors-silver li.donor {
			background: #ebecef;
			background-image: linear-gradient(to bottom, #ebecef, #bfc3c7);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #b6babe, 0 4px rgba(255, 255, 255, 0.1);
		}
			section.contrib-donorlist .donors-silver .donor-desc {
				font-size: 0.8em;
			}
		section.contrib-donorlist ul.donors-bronze li.donor {
			background: #d7ad9b;
			background-image: linear-gradient(to bottom, #d7ad9b, #c68a71);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #864e36, 0 4px rgba(255, 255, 255, 0.1);
			text-shadow: rgba(224, 224, 224, 0.5) 1px 1px 0px;
		}
			section.contrib-donorlist .donors-bronze .donor-desc {
				font-size: 0.8em;
			}

section.section-me {
	background: #333;
	color: white;
}
	.me-skills {
		clear: both;
	}
	.me-skill {
		position: relative;
		padding: 0
	}
		.skill-name {
		}
		.skill-desc {
		}

section.contrib-donate {
	background: #EEFFF2;
}
	section.contrib-donate #payment-form {
		padding: 1em;
		margin: 1em 0;
		background: #fff;
		border-radius: 4px;
	}

@media (min-width: 768px) {
	li.contrib-option {
		border-bottom: none;
		border-right: 1px solid #f4645f;
		padding-bottom: 0;
		padding-right: 9px;
		min-height: 360px;
	}
	li.contrib-option:last-child {
		padding-right: 10px;
		border-right: none;
	}
	
	.me-skill:first-child {
		padding-right: 3em;
	}
	.me-skill:last-child {
		padding-left: 3em;
	}
		.me-skill .fa {
			display: block;
			font-size: 300%;
			vertical-align: top;
			
			position: absolute;
			top: 5px;
			bottom: 0;
			left: -1.5em;
		}
		.me-skill:last-child .fa {
			left: -0.5em;
		}
}


/* Navigation */
nav.boardlist {
	padding: 0 1em;
	font-size: 0.8em;
}
	nav.boardlist .boardlist-row {
		height: 1.4em;
		line-height: 1.4em;
		padding: 0;
		margin: 0;
	}
	header nav.boardlist {
		background: #f4645f;
		color: #ffffff;
		vertical-align: baseline;
		
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
		
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
		z-index: 1000;
	}
	footer nav.boardlist {
		background: #666666;
		color: #aeaeae;
	}
		footer .boardlist-row.row-pages {
			display: none;
		}
	
	nav.boardlist .boardlist-categories,
	nav.boardlist .boardlist-category,
	nav.boardlist .boardlist-items,
	nav.boardlist .boardlist-item {
		display: inline-block;
		height: 1em;
		line-height: 1em;
	}
	
	nav.boardlist .boardlist-category::before {
		content: '[';
		opacity: 0.6;
	}
	nav.boardlist .boardlist-category::after {
		content: ']';
		opacity: 0.6;
	}
	
	nav.boardlist .boardlist-item::after {
		content: '/';
		margin: 0 0 0 0.4em;
		opacity: 0.6;
	}
	nav.boardlist .boardlist-item:last-child::after {
		content: '';
	}
	
	nav.boardlist .boardlist-link {
		text-decoration: none;
	}
	header nav.boardlist .boardlist-link {
		color: #ffffff;
	}
	footer nav.boardlist .boardlist-link {
		color: #ffffff;
	}

/* Main Content */
main {
	flex: 1;
	
	/* 
		Microsoft is a piece of shit and I hope they all get ass cancer.
		For whatever reason, flex items in MS11 do not have a height.
		Instead, the main body gets a height of 0, and the footer appears
		right below the header.
		
		I've tried many other alternatives to this but there doesn't seem
		to be a way to have a flexible height sticky footer.
		The only solution is to use the easy layout for all modern browsers
		and let IE degrade gracefully, with the footer appearing where it
		would be without Flexbox.
	*/
	-ms-flex: none;
}

/* Board Index */
section.index-form {
	
}
	form.form-post {
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		padding: 0.75em;
		margin: 0 auto 2em auto;
		max-width: 480px;
	}
	form.form-post .field {
		margin: 0.5em 0;
	}
	form.form-post .row-post .field-control {
		height: 6.25em;
		font-size: 90%;
		max-height: 50vh;
	}
	
	@media (min-width: 1028px) and (min-height: 640px) {
		form.form-post {
			position: fixed;
			z-index: 1000;
			top: 3.4em;
			right: 10px;
			
			display: block;
			margin: 0;
			width: 300px;
		}
		
		section.index-threads .thread {
			margin-right: 350px;
		}
		section.index-threads .post {
			max-width: 70vw;
		}
		
		/* Advertisements */
		section.index-threads aside.advertiser.top-left {
			text-align: left;
		}
		section.index-threads aside.advertiser.bottom-right {
			position: absolute;
			bottom: 0;
			right: 0;
		}
			section.index-threads aside.advertiser.bottom-right figure.ad-field {
				display: block;
			}
	}
	
	@media (max-width: 768px) {
		section.index-threads aside.advertiser.top-left {
			display: none;
		}
	}

section.index-threads {
	margin: -1em 0 0 0;
	position: relative;
}
	/* Advertisements */
	aside.advertiser.top-left {
		box-sizing: border-box;
		padding: 1em;
		text-align: center;
	}
	aside.advertiser.bottom-right {
		box-sizing: border-box;
		text-align: center;
	}
		aside.advertiser.bottom-right figure.ad-field {
			display: inline-block;
			margin: 10px;
		}
	
	/* Threads */
	.thread {
		margin: 0 1em 0 1em;
		padding: 1em 0 1em 0;
	}
	.thread-item:nth-child(even),
	section.index-threads aside.advertiser.top-left {
		background: rgba(255,255,255,0.5);
	}
	
	.reply {
		margin: 0.5em 0 0.5em 0.75em;
		padding: 0 0 0 1.25em;
		border-left: 2px dashed rgba(0,0,0,0.1);
	}
	
	.post {
		font-size: 105%;
		margin: 0 auto 0 0;
		padding: 0;
		min-width: 20vw;
	}
		.post p.line {
			display: block;
			margin: 0;
			padding: 0;
			min-height: 1.1em;
			line-height: 1.1em;
		}
		.post p.line.quote {
			color: #789922;
		}
	
	.thread-replies-omitted {
		color: #ccc;
		font-size: 90%;
		margin: 0.25em 0.5em;
	}
	
	.post-container {
		display: inline-block;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		margin: 0;
		overflow: hidden;
	}
		.post-content {
			padding: 0.75em;
		}
		.post-content::after {
			content: ' ';
			clear: both;
			display: block;
		}
			.post-details {
				margin-bottom: 0.60em;
			}
				.post-detail {
					display: inline-block;
				}
					.subject {
						display: inline-block;
						margin: 0;
						font-size: 1em;
					}
					.author {
						display: inline-block;
						color: #117743;
					}
					.createdon {
						display: inline-block;
					}
					.authorid {
						display: inline-block;
					}
					.postid {
						display: inline-block;
					}
					
					.capcode {
						display: inline-block;
					}
						.capcode::before {
							display: inline-block;
							content: '##';
							margin: 0 0.15em;
						}
						.capcode-admin .capcode {
							color: red;
						}
			
			ul.post-attachments {
				
			}
				li.post-attachment {
					float: left;
				}
					figure.attachment {
						margin: 0 1em 1em 0;
					}
						a.attachment-link {
							
						}
							img.attachment-img {
								max-height: 250px;
								max-width: 250px;
							}
		
		ul.post-actions {
			border-top: 1px solid rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			margin: 0.1em 0 -1px 0;
		}
			li.post-action {
			}
				a.post-action-link {
					float: left;
					color: #ccc;
					font-size: 80%;
					padding: 0.2em 0.9375em 0.2em;
				}
				a.post-action-link:hover{
					color: #fff;
					background: #f4645f;
				}

section.auth-form {
	max-width: 640px;
}

nav.pagination {
	background: #fff;
	padding: 0.25em 0;
	margin: 0;
	color: #f4645f;
}
	nav.pagination::after {
		display: block;
		content: ' ';
		clear: both;
	}
	
	div.pagination-buttons {
		float: left;
		margin: 0 1em;
	}
		div.pagination-buttons .pagination-button {
			line-height: 1.2;
			margin: 0.2em 0;
			padding: 0.15em 0.75em 0.25em;
		}
	
	ul.pagination-pages::before,
	ul.pagination-pages::after,
	li.pagination-page::after {
		display: inline-block;
		float: left;
		padding: 0.25em 0.1em;
	}
	
	ul.pagination-pages {
		font-size: 110%;
		margin: 0 -0.1em;
	}
	ul.pagination-pages::before {
		content: '[';
		opacity: 0.6;
		cursor: default;
	}
	ul.pagination-pages::after {
		content: ']';
		opacity: 0.6;
		cursor: default;
	}
		li.pagination-page {
			display: inline-block;
			float: left;
		}
		li.pagination-page::after {
			content: '/';
			opacity: 0.6;
			cursor: default;
		}
		li.pagination-page:last-child::after {
			content: '';
			display: none;
		}
			a.pagination-link {
				display: inline-block;
				float: left;
				padding: 0.25em 0.5em;
				text-align: center;
			}
			a.pagination-link.pagination-active {
				font-weight: bold;
			}


/* Control Panel */
div.cp-box {
	position: relative;
	padding: 3.1em 0 0 0;
}

div.cp-frame:first-child {
	border-right: 1px solid #e0e0e0;
}
div.cp-frame:last-child {
	border-left: 1px solid #e0e0e0;
	margin-left: -1px;
	padding-top: 1em;
	padding-bottom: 1em;
}

nav.cp-top {
	background: #333;
	padding: 0.5em 0.5em;
	margin: 0;
	line-height: 1.0em;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
	nav.cp-top section.cp-linklists {
	}
	nav.cp-top section.cp-linklists::after {
		content: ' ';
		clear: both;
		display: block;
	}
	
	nav.cp-top ul.cp-linkgroups {
		display: block;
		float: left;
	}
	nav.cp-top ul.cp-linkgroups.linkgroups-user {
		float: right;
	}
		nav.cp-top li.cp-linkgroup {
			display: inline-block;
			color: #e0e0e0;
		}
			nav.cp-top a.linkgroup-name,
			nav.cp-top a.linkitem-name {
				display: inline-block;
				background: #222;
				border-radius: 4px;
				padding: 0.5em;
				color: #e0e0e0;
				font-weight: bold;
				line-height: 1em;
			}
			nav.cp-top ul.cp-linkitems {
				display: none;
			}
				nav.cp-top li.cp-linkitem {
				}

nav.cp-side {
	box-sizing: border-box;
	padding: 0.5em 0;
}
	nav.cp-side section.cp-linklists {
	}
	nav.cp-side section.cp-linklists::after {
		content: ' ';
		clear: both;
		display: block;
	}
	
	nav.cp-side ul.cp-linkgroups {
		display: block;
	}
	nav.cp-side ul.cp-linkgroups {
	}
		nav.cp-side li.cp-linkgroup {
			display: block;
		}
			nav.cp-side a.linkgroup-name {
				color: #525252;
				font-size: 18px;
			}
			nav.cp-side a.linkgroup-name,
			nav.cp-side a.linkitem-name {
			}
			nav.cp-side ul.cp-linkitems {
				display: block;
				border-top: 1px dashed #e0e0e0;
				margin: 0.2em 0 0.6em 0;
				padding: 0.2em 0 0 0;
			}
				nav.cp-side li.cp-linkitem {
					display: block;
					margin: 0.2em 0 0 0;
				}
					nav.cp-side a.linkitem-name {
						font-size: 90%;
					}

#payment-form {
	margin: 0 0 1em 0;
}
	#card-details {
		width: 354px;
	}
	#payment-form::after {
		clear: both;
		content: ' ';
		display: block;
	}
		#payment-form .blockOverlay {
			background: rgba(255, 255, 255, 0.75);
			top: -0.25em;
			left: -0.25em;
			right: -0.25em;
			bottom: -0.25em;
			z-index: 999 !important;
		}
		#payment-form #payment-process,
		#payment-form #payment-received {
			background-image: url('/img/assets/infinity.gif');
			background-position: top center;
			background-repeat: no-repeat;
			background-color: #ffffff;
			color: #333;
			display: block;
			border-radius: 4px;
			line-height: 2em;
			font-size: 2em;
			padding: 80px 6px 6px 6px;
			text-align: center;
		}
			#payment-form #payment-received {
				background-image: url('/img/assets/heart.png');
				background-size: 128px 152px;
				padding-top: 160px;
			}
		
		#payment-form fieldset.form-fields {
			box-sizing: border-box;
			padding: 0 1em 0 0;
			margin: 0 0 1em 0;
		}
		#payment-form #card-details {
			float: left;
		}
			#payment-form legend.form-legend {
				margin-bottom: 0.4em;
			}
			#payment-form #card-form {
				border-radius: 5px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				background-color: #f9f9f7;
				border: 1px solid #fff;
				margin: 0;
				padding: 13px 20px;
				width: 320px;
			}
		#payment-form #donate-details {
			border-bottom: 1px solid #dee0df;
			border-top: 1px solid #dee0df;
			margin: 0.75em 0;
			padding: 0.75em 0;
		}
			#payment-form .field-row::after{
				content: ' ';
				display: block;
				clear: both;
			}
			#payment-form .field {
				float: left;
				margin: 0.5em 0.5em 0.5em 0;
			}
			#payment-form .row-ccn {
				width: 320px;
			}
			#payment-form .row-cvc {
				width: 90px;
			}
			#payment-form .row-month {
				width: 122px;
			}
			#payment-form .row-year {
				width: 90px;
				margin-right: 0;
			}
			#payment-form .row-attribution,
			#payment-form .row-amount,
			#payment-form .row-email,
			#payment-form .row-subscription {
				width: 100%;
				margin-right: 0;
			}
			
			#donate-details .donate-options {
				display: block;
				margin: 0 -2px;
			}
				#donate-details .donate-option {
					display: inline-block;
					float: left;
					margin: 4px 2px;
					text-align: center;
					height: 76px;
					width: 76px;
				}
					#donate-details .donate-cycle-label {
						display: block;
						box-sizing: border-box;
						padding: 6px;
						margin: 0 0 4px;
						border: 1px solid #dddddd;
						background: #fff;
						color: #333;
						line-height: 1em;
						vertical-align: top;
						font-weight: bold;
					}
					#donate-details .donate-cycle-input {
						transform: scale(1.2);
						vertical-align: middle;
					}
					
					#donate-details .donate-option-input {
						position: absolute;
						width: 1px;
						height: 1px;
						margin: -1px;
						padding: 0px;
						overflow: hidden;
						border: 0px none;
						clip: rect(0px, 0px, 0px, 0px);
					}
					#donate-details .donate-option-label {
						display: block;
						background: none repeat scroll 0% 0% #F4645F;
						font-size: 1em;
						height: 5em;
						line-height: 5;
						border-radius: 0.3em;
						color: #fff;
						cursor: pointer;
						box-sizing: border-box;
						transition: all 0.2s ease 0s;
					}
					
					#donate-details .donate-option-label:active,
					#donate-details .donate-option-input:checked + .donate-option-label,
					#donate-details .donate-option-label.checked {
						background: none repeat scroll 0% 0% #B74B47 !important;
						box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
					}
					#donate-details #input_amount_other_label {
						line-height: 2.5;
					}
					#donate-details #input_amount_other_box {
						position: absolute;
						display: block;
						width: 64px;
						margin: 0px 2px;
						background: none repeat scroll 0% 0% #F9B5B2;
						line-height: 1;
						padding: 0.25em;
						border: 0px none;
						outline: 0px none;
						border-radius: 0.3em;
						color: #333;
					}
						#donate-details #input_amount_other_box:focus {
							background: none repeat scroll 0% 0% #FFF;
						}

	#payment-time {
		margin: 0.6em 0;
		padding: 0.4em 0;
		font-size: 130%;
		text-align: center;
	}
	#payment-tax {
		text-align: center;
	}
	#payment-submit .field-submit {
		width: 100%;
	}
	#payment-email {
		font-size: 70%;
		margin: 0.6em 0 0 0;
	}

	#payment-security {
		border-radius: 4px;
		margin: auto 0;
		padding: 0.25em 0.5em;
	}
		#payment-security li.security-step {
			display: block;
			margin: 0.75em 0;
			line-height: 1em;
			position: relative
		}
			#payment-security div.security-icons {
				position: absolute;
			}
			#payment-security li.security-step i.fa {
				font-size: 140%;
				margin: 0;
				text-align: center;
				width: 1.2em;
			}
			#payment-security span.security-item {
				display: inline-block;
				margin: 0 0 0 0;
				padding: 0 0 0 5.8em;
			}
			#payment-security span.security-footer {
				display: block;
				margin: 0 0 0.25em 0;
			}

	#payment-btc {
	}
	html.no-js #payment-btc {
		float: none;
		margin: 1em auto 1em 0;
		padding: 0 10%;
		width: 82.5%;
	}
		#payment-btc h5.btc-title {
			margin: 0.5em 0 0 5px;
			font-size: 1.1em;
		}
		#payment-btc blockquote.btc-desc {
			margin: 0;
		}
		#payment-btc img.btc-qr {
			float: left;
			width: 200px;
			height: 200px;
			margin: 0 1em 1em 0;
		}
			#payment-btc code.btc-code {
				display: block;
				background: #dddddd;
				clear: both;
				color: #333333;
				padding: 0.2em 1em;
				margin: 0.4em 0 0 0;
				text-align: center;
			}
			
			#ccn {
					background-image: url('/img/assets/providers.png'), url('/img/assets/providers.png');
					background-position: 2px -121px;
					background-size: 120px 361px;
					background-repeat: no-repeat;
					padding-left: 54px;
				}
				#ccn.visa {
					background-position: 2px -163px;
				}
				#ccn.visa_electron {
					background-position: 2px -205px;
				}
				#ccn.mastercard {
					background-position: 2px -247px;
				}
				#ccn.maestro {
					background-position: 2px -289px;
				}
				#ccn.discover {
					background-position: 2px -331px;
				}


/* Page Header */
header {
	background: #fff;
	border-top: 2.2em solid #f4645f;
	color: #333;
	padding: 0;
	margin: 0 0 1em 0;
}

figure.page-head {
	display: block;
	margin: 1em auto 1em auto;
	max-width: 960px;
	text-align: center;
}

#logo {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	max-height: 100px;
}

figcaption.page-details {
}
	h1.page-title {
		color: #333;
		margin: 0.2em 0 0 0;
	}
	h2.page-desc {
		color: #333;
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

/* Page Footer */
footer {
	clear: both;
	padding: 0;
	margin: 0 0 0 0;
}
	#footnotes {
		background: #333;
		padding: 0.5em 0;
		
		color: #ffffff;
		font-size: 16px;
		text-align: center;
	}