@charset "UTF-8";
/**
 * z-index list of importance
 * 10000 - Laravel Debug Bar. NEVER SURPASS.
 *  9999 - jQuery Blocker Overlay.
 *  1200 - Attachment previews.
 *  1100 - Hover-over posts.
 *  1000 - Boardlist, top. Should be highest element on boards and threads.
 *  1000 - Post form.
 *    10 - Post action links.
 *     5 - Post attachment.
 *     1 - Global Footer
 *     0 - Board Sidebar
 */
/**
 * Authentication
 */
section.auth-form {
  max-width: 640px; }

/**
 * Unique Pages
 */
#payment-form {
  margin: 0 0 1em 0; }

#payment-form::after {
  clear: both;
  content: ' ';
  display: block; }

#payment-form .blockOverlay {
  background: rgba(255, 255, 255, 0.75);
  top: -0.25em;
  left: -0.25em;
  right: -0.25em;
  bottom: -0.25em;
  z-index: 999 !important; }

#payment-form #payment-process,
#payment-form #payment-received {
  background-image: url("/static/img/assets/infinity.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #333;
  display: block;
  border-radius: 4px;
  line-height: 2em;
  font-size: 2em;
  padding: 80px 6px 6px 6px;
  text-align: center; }

#payment-form #payment-received {
  background-image: url("/static/img/assets/heart.png");
  background-size: 128px 152px;
  padding-top: 160px; }

#payment-form fieldset.form-fields {
  box-sizing: border-box;
  padding: 0 1em 0 0;
  margin: 0 0 1em 0; }

#payment-form #card-details {
  float: left; }

#payment-form legend.form-legend {
  margin-bottom: 0.4em; }

#payment-form #card-form {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f7;
  border: 1px solid #fff;
  margin: 0;
  padding: 13px 20px;
  width: 320px; }

#payment-form #donate-details {
  border-bottom: 1px solid #dee0df;
  border-top: 1px solid #dee0df;
  margin: 0.75em 0;
  padding: 0.75em 0; }

#payment-form .field-row::after {
  content: ' ';
  display: block;
  clear: both; }

#payment-form .field-control {
  background-color: #ffffff;
  color: #000000;
  line-height: 1.4em;
  font-size: 1.3em;
  min-height: 34px; }

#payment-form .field {
  float: left;
  margin: 0.5em 0.5em 0.5em 0; }

#payment-form .row-ccn {
  width: 320px; }

#payment-form .row-cvc {
  width: 90px; }

#payment-form .row-month {
  width: 122px; }

#payment-form .row-year {
  width: 90px;
  margin-right: 0; }

#payment-form .row-attribution,
#payment-form .row-amount,
#payment-form .row-email,
#payment-form .row-subscription {
  width: 100%;
  margin-right: 0; }

#donate-details .donate-options {
  display: block;
  margin: 0 -2px; }

#donate-details .donate-option {
  display: inline-block;
  float: left;
  margin: 4px 2px;
  text-align: center;
  height: 76px;
  width: 76px; }

#donate-details .donate-cycle-label {
  display: block;
  box-sizing: border-box;
  padding: 6px;
  margin: 0 0 4px;
  border: 1px solid #dddddd;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  line-height: 1.2em;
  vertical-align: text-bottom;
  font-weight: bold; }

#donate-details .donate-cycle-input {
  vertical-align: text-bottom; }

#donate-details .donate-option-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px); }

#donate-details .donate-option-label {
  display: block;
  background: none repeat scroll 0% 0% #EEF2FF;
  font-size: 1em;
  height: 5em;
  line-height: 5;
  border-radius: 0.3em;
  color: #34345C;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease 0s; }

#donate-details .donate-option-label:active,
#donate-details .donate-option-input:checked + .donate-option-label,
#donate-details .donate-option-label.checked {
  background: none repeat scroll 0% 0% #34345C !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
  color: #ffffff; }

#donate-details #input_amount_other_label {
  line-height: 2.5; }

#donate-details #input_amount_other_box {
  position: absolute;
  display: block;
  width: 64px;
  margin: 0px 2px;
  background: none repeat scroll 0% 0% #FFFFFF;
  line-height: 1;
  padding: 0.25em;
  border: 0px none;
  outline: 0px none;
  border-radius: 0.3em;
  color: #333; }

#donate-details #input_amount_other_box:focus {
  background: none repeat scroll 0% 0% #FFFFFF; }

#payment-time {
  margin: 0.6em 0;
  padding: 0.4em 0;
  font-size: 130%;
  text-align: center; }

#payment-tax {
  text-align: center; }

#payment-submit .field-submit {
  width: 100%; }

#payment-email {
  font-size: 70%;
  margin: 0.6em 0 0 0; }

#payment-security {
  border-radius: 4px;
  margin: auto 0;
  padding: 0.25em 0.5em; }

#payment-security li.security-step {
  display: block;
  margin: 0.75em 0;
  line-height: 1em;
  position: relative; }

#payment-security div.security-icons {
  position: absolute; }

#payment-security li.security-step i.fa {
  font-size: 140%;
  margin: 0;
  text-align: center;
  width: 1.2em; }

#payment-security span.security-item {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 5.8em; }

#payment-security span.security-footer {
  display: block;
  margin: 0 0 0.25em 0; }

html.no-js #payment-btc,
figure.error + #payment-btc {
  float: none;
  margin: 1em auto 1em 0;
  padding: 0 10%;
  width: 82.5%; }

#payment-btc h5.btc-title {
  margin: 0.5em 0 0 5px;
  font-size: 1.1em; }

#payment-btc blockquote.btc-desc {
  margin: 0; }

#payment-btc img.btc-qr {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 1em 1em 0; }

#payment-btc code.btc-code {
  display: block;
  background: #dddddd;
  clear: both;
  color: #333333;
  padding: 0.2em 1em;
  margin: 0.4em 0 0 0;
  text-align: center; }

#ccn {
  background-image: url("/static/img/assets/providers.png"), url("/static/img/assets/providers.png");
  background-position: 2px -121px;
  background-size: 120px 361px;
  background-repeat: no-repeat;
  padding-left: 54px; }

#ccn.visa {
  background-position: 2px -163px; }

#ccn.visa_electron {
  background-position: 2px -205px; }

#ccn.mastercard {
  background-position: 2px -247px; }

#ccn.maestro {
  background-position: 2px -289px; }

#ccn.discover {
  background-position: 2px -331px; }

/**
 * Configuration
 */
main.cp form.form-config {
  min-width: 760px;
  margin: 0 auto 0 0;
  border-bottom: 1px solid #EEF2FF;
  clear: left; }

form.form-config#config-site {
  max-width: none; }

div.panel-actions {
  float: right; }

div.panel-actions .panel-action {
  display: inline-block;
  background: #e0e0e0;
  border-radius: 4px;
  padding: 0.5em;
  color: #222;
  font-weight: bold;
  line-height: 1.17em;
  min-width: 4em;
  text-align: center; }

h3.panel-title {
  font-size: 1.17em;
  margin: 0 0 0.5em 0; }

form.form-config fieldset.form-fields:last-child {
  border-bottom: none; }

.form-select-group {
  margin: 0.5em 0; }

label.form-selector {
  display: block;
  color: #2b485c;
  font-weight: bold;
  font-size: 1.17em;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 1em 0.5em 1em;
  margin: 0 -12px 0 -10px; }

label.form-selector:hover {
  text-decoration: underline; }

input.form-selection {
  display: none !important; }

input.form-selection:checked ~ .form-selector {
  margin-top: 1em;
  margin-bottom: 1em; }

input.form-selection:checked ~ .form-selector::before {
  display: inline-block;
  content: '➤';
  margin-right: 0.25em; }

input.form-selection:checked ~ .form-selector:hover {
  text-decoration: none; }

input.form-selection:checked ~ .form-selectable {
  display: block; }

.form-selectable {
  display: none; }

main.cp fieldset {
  width: 40%;
  min-width: 300px;
  max-width: 100%;
  margin-right: auto; }

.form-config .form-fields {
  width: auto; }

main.cp form.form-config legend.form-legend {
  display: block;
  font-size: 110%;
  padding: 0.5em 0;
  width: 100%; }

main.simplebox form.form-config legend.form-legend {
  display: block;
  font-size: 110%;
  margin: 0.5em 0 -0.5em 0;
  width: 100%; }

dl.option {
  display: block;
  clear: both;
  margin: 1em 0; }

dl.option-asset {
  display: inline-block;
  box-sizing: border-box;
  max-width: 33%; }

dl.option-asset img.board-asset {
  max-width: 90%;
  vertical-align: middle; }

#config-permissions dl.option {
  margin: 0; }

dt.option-term {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0.2em 0;
  line-height: 1.4;
  width: 32%;
  min-width: 300px;
  text-align: right;
  vertical-align: top; }

dl.option-asset dt.option-term {
  display: none; }

dd.option-definition {
  display: inline-block;
  margin: 0 0 0 1em;
  text-align: left;
  width: auto;
  vertical-align: top; }

dl.option-asset dd.option-definition {
  margin: 0;
  white-space: nowrap; }

dl.option-asset dd.option-definition.asset-definition {
  line-height: 1.8em;
  margin-right: 2em; }

dl.option-asset dd.option-definition.asset-definition label.field-label {
  vertical-align: middle; }

dl.option-asset dd.option-definition .asset-enable-input,
dl.option-asset dd.option-definition .asset-name-input,
dl.option-asset dd.option-definition .asset-file-input {
  display: inline-block;
  max-width: 40%;
  vertical-align: middle; }

dd.option-definition label.field-label {
  display: inline-block;
  vertical-align: top; }

dd.option-definition p.option-desc {
  font-size: 90%;
  color: #969696;
  margin: 0.25em 0 0 0; }

li.option-item {
  margin-bottom: 0.5em; }

li.option-item-template {
  margin-top: 1.5em; }

li.option-item-template:first-child {
  margin-top: 0.5em; }

li.option-item .field-control {
  display: inline-block; }

label.option-permission {
  display: inline-block;
  float: left;
  background-image: url("/static/img/backgrounds/permission-highlight.png");
  background-position: top left;
  background-repeat: repeat-x;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  padding: 0 2em;
  margin: 0;
  box-sizing: border-box;
  width: 5em;
  text-align: center; }

dl.option-asset input.field-control {
  margin: 0 0.25em; }

label.option-permission .field-control {
  height: 2em;
  width: auto;
  display: inline-block;
  margin: 0; }

label.option-permission-unset {
  background-color: #CCC; }

label.option-permission-allow {
  background-color: #44BB44; }

label.option-permission-revoke {
  background-color: #EA5; }

label.option-permission-deny {
  background-color: #C11; }

label.option-master {
  border-radius: 4px;
  font-size: 80%;
  padding: 0;
  width: 6.25em; }

form.form-staff .row-castes .field-label {
  display: inline-block; }

form.form-config .row-submit,
form.form-config .row-delete {
  margin-left: 32%;
  padding-left: 2em; }

form.form-config .field-confirm {
  display: block;
  margin: 0 0 0.5em 0; }

form.form-asset {
  border-bottom: 1px solid #EEF2FF;
  text-align: center; }

form.form-asset .form-fields {
  display: block;
  width: auto;
  margin: 0; }

form.form-asset figure.form-asset {
  height: 250px;
  line-height: 250px;
  vertical-align: middle;
  text-align: center; }

form.form-asset img.form-asset-img {
  display: inline-block;
  height: auto;
  max-width: 250px;
  max-height: 250px; }

main.cp .filterlist {
  padding: 0 0 1em 0;
  margin: 0 -12px 1em -10px; }

main.cp .filterlist-heading {
  color: #6d3f03;
  background: #f9d9b0;
  padding: 0.5em 0.75em;
  margin: 1em 0 0 0;
  border-top: 1px solid #f9bc6d;
  border-bottom: 1px solid #f9bc6d; }

main.cp .filterlist-list {
  margin: 0;
  padding: 0; }

main.cp .filterlist-item {
  margin: 0;
  line-height: 2em;
  vertical-align: middle;
  border-bottom: 1px solid #f0f0f0; }

main.cp .filterlist-primary,
main.cp .filterlist-secondary {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: middle; }

main.cp .filterlist-primary {
  padding-left: 1em; }

main.cp .filterlist-item:hover .filterlist-primary {
  background-color: #fff4e5; }

main.cp .filterlist-primary em {
  text-decoration: none;
  font-style: normal; }

main.cp .filterlist-primary dfn {
  text-decoration: none;
  font-style: normal;
  font-size: 90%;
  color: #ccc; }

main.cp .filterlist-secondary {
  float: right;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background: #f0f7fc;
  border-left: 1px solid #d7edfc;
  color: #176093; }

main.cp .filterlist-secondary:hover {
  background-color: #d7edfc; }

main.cp .filterlist-secondary .fa-remove {
  font-size: 150%;
  color: #ff0000; }

#config-page textarea {
  width: 100%;
  min-height: 40vh; }

/**
 * Deprecated -- should be merged in
 */
/* Control Panel */
div.cp-box {
  position: relative;
  padding: 3.1em 0 0 0; }

div.cp-frame {
  margin-top: -1px;
  border-right: 1px solid #e0e0e0;
  /* overflow: hidden; */ }

div.cp-frame:last-child {
  border-left: 1px solid #e0e0e0;
  border-right: none;
  margin-left: -1px;
  padding-top: 1em;
  padding-bottom: 1em; }

nav.cp-top {
  background: #333;
  padding: 0.5em 0.5em;
  margin: 0;
  line-height: 1.0em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

nav.cp-top section.cp-linklists::after {
  content: ' ';
  clear: both;
  display: block; }

nav.cp-top ul.cp-linkgroups {
  display: block;
  float: left; }

nav.cp-top ul.cp-linkgroups.linkgroups-user {
  float: right; }

nav.cp-top li.cp-linkgroup {
  display: inline-block;
  color: #e0e0e0; }

nav.cp-top a.linkgroup-name,
nav.cp-top a.linkitem-name {
  display: inline-block;
  background: #222;
  border-radius: 4px;
  padding: 0.5em;
  color: #e0e0e0;
  font-weight: bold;
  line-height: 1em;
  min-width: 4em;
  text-align: center; }

nav.cp-top ul.cp-linkitems {
  display: none; }

nav.cp-side {
  box-sizing: border-box;
  padding: 0.5em 0; }

nav.cp-side section.cp-linklists::after {
  content: ' ';
  clear: both;
  display: block; }

nav.cp-side ul.cp-linkgroups {
  display: block; }

nav.cp-side li.cp-linkgroup {
  display: block; }

nav.cp-side a.linkgroup-name {
  color: #525252;
  font-size: 18px; }

nav.cp-side ul.cp-linkitems {
  display: block;
  margin: 0.2em 0 0.6em 0;
  padding: 0.2em 0 0 0; }

nav.cp-side li.cp-linkitem {
  display: block;
  margin: 0.2em 0 0 0; }

nav.cp-side a.linkgroup-name {
  border-bottom: 1px dashed #e0e0e0; }

nav.cp-side a.linkgroup-name,
nav.cp-side a.linkitem-name {
  display: block;
  padding: 0.2em 0; }

nav.cp-side a.linkitem-name {
  line-height: 1.6; }

nav.cp-side a.linkitem-name-createboard {
  color: #525252;
  font-size: 18px;
  padding: 0.2em 0; }

nav.cp-inner {
  display: block;
  padding: 0;
  margin: -0.25em -12px 0 -10px; }

nav.cp-inner ul.cp-linkgroups {
  margin-bottom: 1em; }

nav.cp-inner a.linkgroup-name {
  /* Usually not set. */ }

nav.cp-inner ul.cp-linkitems {
  display: block;
  display: table;
  box-sizing: border-box;
  width: 100%;
  min-height: 23px;
  _height: 23px;
  font-size: 11px;
  padding: 1em 1.5em 0 1.5em;
  border-bottom: 1px solid #e0e0e0;
  word-wrap: normal; }

nav.cp-inner a.linkitem-name {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px 5px 0 0;
  outline: 0 none;
  padding: 0 1em;
  margin: 0 -1px -1px 0;
  color: #525252;
  text-decoration: none;
  line-height: 22px;
  height: 22px;
  white-space: nowrap;
  word-wrap: normal; }

nav.cp-inner a.linkitem-name.linkitem-active {
  border-bottom: 1px solid white; }

/* Reports */
.reports .post-container,
.reports .report-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid; }

.reports .report-board {
  margin: 0 0 0.4em 0; }

.reports .report-board-desc {
  margin: 0.5em 0; }

.reports .reported-post {
  clear: both;
  padding: 1em 0;
  margin: 1em 0;
  border-bottom: 1px solid #e0e0e0; }

.reports .reported-post::after {
  clear: both;
  content: ' ';
  display: block; }

.reports .post-container {
  /* Colors courtesty of the /ebola/ board on 8ch. I miss you, Ebolachan. ;~; */
  background: #FFC4C4;
  border-color: #F88; }

.reports .report-actions.actions-post li.report-action {
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  line-height: 1em;
  height: 1em;
  padding: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.5em; }

.reports .post-report {
  float: left;
  margin: 1em 1em 0 0; }

.reports .report-container {
  padding: 1em; }

.reports .report-actions.actions-report {
  margin-bottom: 0.5em; }

.reports .report-actions.actions-report .report-action {
  display: inline-block;
  margin-right: 0.25em; }

.reports .report-reason {
  margin: 0 0 0.5em 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/* Ban Appeals */
.ban-appeals {
  display: block;
  clear: both; }

.ban-appeal {
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.ban-appeal:last-child {
  border-bottom: none; }

#submit-ban-appeal,
.ban-appeal-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 1em;
  max-width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid; }

.ban-appeal-submit {
  text-align: right; }

/*# sourceMappingURL=panel.css.map */
