/**
 * YOTSUBA.CSS
 *
 * A skin that resembles traditional 4chan NSFW boards.
 */

:root {
    --background-fade: #FED6AF;
    --background-color: #FFFFEE;

    --primary-darker: var(--secondary-darker);
    --primary-dark: var(--secondary-dark);
    --primary-medium: var(--secondary-medium);

    --color-link: #800000;
    --color-link-hover: #800000;
}
