
/**
 * YOTSUBA.CSS
 *
 * A skin that resembles traditional 4chan.
 */

/*
	#FED6AF - Background (darkest)
	#FFFFEE - Background (lightest)
	
	#800000 - Text
	
	#f0e0d6 - Post background
	#D9BFB7 - Post border
*/

html,
body {
	background-color: #FFFFEE;
	background-image: -ms-linear-gradient(top, #FED6AF 0%, #FED6AF 1em, #FFFFEE 200px, #FFFFEE 100%);
	background-image: -moz-linear-gradient(top, #FED6AF 0%, #FED6AF 1em, #FFFFEE 200px, #FFFFEE 100%);
	background-image: -o-linear-gradient(top, #FED6AF 0%, #FED6AF 1em, #FFFFEE 200px, #FFFFEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FED6AF), color-stop(1em, #FED6AF), color-stop(200px, #FFFFEE), color-stop(100, #FFFFEE));
	background-image: -webkit-linear-gradient(top, #FED6AF 0%, #FED6AF 1em, #FFFFEE 200px, #FFFFEE 100%);
	background-image: linear-gradient(to bottom, #FED6AF 0%, #FED6AF 1em, #FFFFEE 200px, #FFFFEE 100%);
}

a,
a:link,
a:visited,
a:hover {
	color: #800000;
}
	a:hover {
		color: #800000;
	}

button,
a.button {
	border-color: #D9BFB7;
	color: #800000;
}

header nav.gnav,
header nav.gnav .flyout-container,
header nav.boardlist {
	background: #FFFFEE;
	color: #800000;
}

.post-container {
	background: #f0e0d6;
	border-color: #D9BFB7;
}
	main.index-threaded .thread-item {
		border-color: rgba(255, 0, 0, 0.1);
	}
	
	main.index-threaded .post-container.op-container {
		border-top-color: rgba(255,0,0,0.5);
		border-left-color: rgba(255,0,0,0.5);
	}
	
	.reply::before {
		color: #D9BFB7;
	}
		.reply-container ul.post-attachments.attachments-multi {
			background-color: rgba(155,0,0,0.1);
		}
	
	ul.post-actions,
	ul.post-metas {
		border-color: #D9BFB7;
	}
		div.post-action-tab {
			color: #800000;
			border-color: #D9BFB7;
		}
			li.post-action-group {
				background-color: #F0E0D6;
				border: 1px solid #D9BFB7;
			}
				li.post-action {
					border-color: #D9BFB7;
				}
					a.post-action-link:hover{
						color: #dee0df;
						background-color: #34345C;
					}

	blockquote.post thead tr,
	blockquote.post tbody tr:nth-of-type(even) {
		background-color: rgba(100, 0, 0, 0.1);
	}

form.form-post {
	background: #f0e0d6;
}

ul.pagination-pages::before,
ul.pagination-pages::after,
li.pagination-page::after {
	color: #800000;
}

button:hover,
a.button:hover,
a.post-action-link:hover {
	color: #FFFFEE;
	background: #800000;
}