<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
     
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} /index\.php
    
    <IfModule !mod_env.c>
        RewriteRule ^ index.php [L]
    </IfModule>
    
    <IfModule mod_env.c>
        <IfDefine !LARAVEL_TOR>
            RewriteRule ^ index.php [L]
        </IfDefine>
        <IfDefine LARAVEL_TOR>
            RewriteRule ^ index-tor.php [L]
        </IfDefine>
    </IfModule>
</IfModule>
