.actions-anchor {
    display: inline-block;
    cursor: default;
    user-select: none;
    position: relative;

    /* border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px; */

    &.actions-post {
        line-height: 1.8em;
        height: 1.8em;

        padding: 0;
        margin-left: 0.25em;
    }

    html.js & {
        cursor: pointer;
    }
}
.actions-label {
    display: inline-block;
    margin-left: 0;
    text-align: center;
    min-width: 1em;
}

.actions {
    display: none;
    max-width: 100vw;

    position: absolute;
    top: 1.5em;
    z-index: 10;

    background-color: #D6DAF0;
    border: 1px solid rgba(0,0,0,0.25);

    #{$rtl} & {
        right: 0px;
    }
    #{$ltr} & {
        left: 0px;
    }

    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 -1px;


    html.no-js .actions-anchor:hover &,
    html.js    .open  & {
        display: block;
        z-index: 100;
    }
}

.action {
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    width: 100%;

    color: #34345C;
    white-space: nowrap;
    line-height: 1.4;
    padding: 0.25em 1em 0.25em;

    &:hover {
        color: #dee0df;
        background: #34345C;
    }
    &:last-child {
        margin-bottom: -1px;
    }
}
