/* Page Footer */
footer {
	z-index: 1;
	clear: both;
	padding: 0;
	margin: 0;
}

#canary-bird {
	height: 0;
	width: 0;
	margin: 0;
	overflow: visible;
}
	#canary-img {
		position: absolute;
		bottom: auto;
		right: 1em;

		height: auto;
		width: auto;

		max-width: 3em;
		max-height: 3em;
	}

#footnotes {
	background: #333;
	padding: 0.5em 0;

	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
	#footnotes .agpl-compliance {
		color: #ffffff;
		text-decoration: underline;
	}
