nav.pagination {
    padding: 0.25em 0;
    margin: 0;
    color: #EEF2FF;

    main.board-index & {
        background: none;
        margin: 1em 0;
    }

    &::after {
        display: block;
        content: ' ';
        clear: both;
    }

    div.pagination-buttons {
        margin: 0 1em;

        #{$ltr} & {
            float: left;
        }
        #{$rtl} & {
            float: right;
        }

        &.buttons-pages {
            float: none;
            clear: both;

            @media (max-width: $width-tablet) {
                text-align: center;
            }
        }
    }

        .pagination-button {
            line-height: 1.2;
            margin: 0.2em 0;
            padding: 0.15em 0.75em 0.25em;

            &.post-form-open {
                display: block;

                #{$ltr} & {
                    float: right;
                }
                #{$rtl} & {
                    float: left;
                }

                @media (max-width: $width-tablet)
                {
                    html.js & {
                        float: none;
                        width: auto;
                        margin: 0.5em auto 1em auto;

                        footer & {
                            margin-top: 0;
                            margin-bottom: 1em;
                        }
                    }
                }

                html.no-js & {
                    display: none;
                }
            }
        }

    ul.pagination-pages::before,
    ul.pagination-pages::after,
    li.pagination-page::after {
        display: inline-block;
        padding: 0.25em 0.1em;
        color: #34345C;

        #{$ltr} & {
            float: left;
        }
        #{$rtl} & {
            float: right;
        }
    }

    ul.pagination-pages {
        font-size: 110%;
        margin: 0;
    }
    ul.pagination-pages::before {
        content: '[';
        opacity: 0.6;
        cursor: default;
    }
    ul.pagination-pages::after {
        content: ']';
        opacity: 0.6;
        cursor: default;
    }
        li.pagination-page {
            display: inline-block;

            #{$ltr} & {
                float: left;
            }
            #{$rtl} & {
                float: right;
            }
        }
        li.pagination-page::after {
            content: '/';
            opacity: 0.6;
            cursor: default;
        }
        li.pagination-page:last-child::after {
            content: '';
            display: none;
        }
            a.pagination-link {
                display: inline-block;
                padding: 0.25em 0.5em;
                text-align: center;

                #{$ltr} & {
                    float: left;
                }
                #{$rtl} & {
                    float: right;
                }
            }
            a.pagination-link.pagination-active {
                font-weight: bold;
            }
}
