/* Navigation */
nav.gnav {
    background: #EEF2FF;
    border-bottom: 1px solid #dedede;

    padding: 0;
    margin: 0;

    height: 39px;
    width: 100%;

    position: relative;
    z-index: 1000;
}
    nav.gnav div.gnav-binder {
        position: relative;
    }
    nav.gnav ul.gnav-groups,
    nav.gnav li.gnav-group,
    nav.gnav ul.gnav-items,
    nav.gnav li.gnav-item {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 18px;
        overflow: hidden;
        height: 40px;
    }
        nav.gnav li.gnav-item {
            display: inline-block;
            padding: 0;
        }
            nav.gnav li.gnav-item.item-config {
                cursor: pointer;

                #{$rtl} & {
                    float: left;
                }
                #{$ltr} & {
                    float: right;
                }
            }

        nav.gnav li.gnav-item  .gnav-link {
            display: inline-block;
            font-size: 14px;
            margin: 0 7px;
            padding: 11px 2px;
            text-decoration: none;
            vertical-align: top;
        }
            nav.gnav li.gnav-item.gnav-active .gnav-link {
                border-bottom: 3px solid #AF0A0F;
                padding-bottom: 8px;
                color: #AF0A0F;
            }

        nav.gnav .flyout {
            display: none;

            position: absolute;
            top: 0;

            box-sizing: border-box;
            width: 100vw;
            max-width: 100vw;
            min-width: none;
            height: auto;
            max-height: none;
            min-height: 200px;

            margin: 40px 0 0 0;
            padding: 0 20px;

            pointer-events: none;
            overflow: hidden;

            body.ltr & {
                left: -20px;
            }
            body.rtl & {
                right: -20px;
            }
        }
            nav.gnav .flyout.flyout-open {
                display: block;
            }

            nav.gnav .flyout-container {
                box-sizing: border-box;
                max-width: 100%;

                background: #EEF2FF;
                border-radius: 0 0 4px 4px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
                border-right: 1px solid #dedede;
                border-bottom: 1px solid #dedede;

            }

            nav.gnav .flyout-header {
                display: block;
                font-size: 1.3em;
                font-weight: bold;
                padding: 12px 12px 6px 12px;
                pointer-events: all;
                border-bottom: 1px solid #dedede;
            }
                nav.gnav .flyout-headlink {
                    display: block;
                }

            nav.gnav .flyout-cols {
                display: block;
                width: 100%;

                pointer-events: all;
                white-space: nowrap;
                overflow: hidden;
                direction: ltr;
            }
                nav.gnav .flyout-cols:after {
                    content: ' ';
                    display: block;
                    clear: both;
                }

                #favorite-boards {
                    display: none;
                }

            nav.gnav .flyout-col-title {
                font-size: 1.3em;
                font-weight: bold;
                padding: 12px 12px 6px 12px;
            }
            nav.gnav .flyout-col {
                display: block;
                vertical-align: top;

                width: 100%;
                height: 100%;

                border-left: 1px solid #dedede;
                border-right: 1px solid transparent;
                padding: 0 1px 12px 1px;
                margin: 0 -1px 0 -1px;
            }
                nav.gnav .flyout-list {
                    display: block;
                }
                    nav.gnav .flyout-item {
                    }
                    nav.gnav .flyout-link {
                        display: block;
                        font-size: 1.2em;
                        line-height: 2.2em;
                        height: 2.2em;
                        overflow: hidden;
                        padding: 0 12px;
                        white-space: normal;
                    }
                        nav.gnav .flyout-item:hover {
                            background-color: rgba(255,255,255,0.5);
                        }

                        nav.gnav .flyout-uri {
                            font-weight: bold;
                        }
                        nav.gnav .flyout-title {
                        }
                            nav.gnav .flyout-title:before {
                                display: inline;
                                content: ' - ';
                            }

/**
 * 728px width and 480px height
 * Anything bigger
 */
@media (min-width: 728px) {
    /**
     * Helpers
     */
    .no-mobile {
        display: initial !important;
    }
    .only-mobile {
        display: none !important;
    }

    /**
     * Navigation
     */
    nav.gnav .flyout {
        width: auto;
    }
    nav.gnav .flyout-col {
        display: inline-block;
        float: left;
        width: 21em;
    }
    nav.gnav .flyout-link {
        line-height: 1.7em;
        height: 1.7em;
    }
}
