nav.boardlist {
    font-size: 1em;
    padding: 0 1em;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;

    .boardlist-text {
        display: none;
    }
    .boardlist-row {
        height: 1.4em;
        line-height: 1.4em;
        padding: 0;
        margin: 0 0.5em 0 0;
    }
    .row-right {
        float: right;
    }

    .boardlist-categories,
    .boardlist-category,
    .boardlist-items,
    .boardlist-item {
        height: 1em;
        line-height: 1em;
    }

    .boardlist-items {
        text-overflow: ellipsis;
    }
    .boardlist-item {
        display: inline;
    }
    .boardlist-link {
        text-decoration: none;
    }

    .boardlist-category::before {
        content: '[';
        opacity: 0.6;
    }
    .boardlist-category::after {
        content: ']';
        opacity: 0.6;
    }
    .boardlist-item::after {
        display: inline;
        content: '/';
        margin: 0 0.15em 0 0.4em;
        opacity: 0.6;
    }
    .boardlist-item:last-child::after {
        display: none;
    }

    header & {
        background: #d6daf0;
        color: #34345C;
        vertical-align: baseline;

        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);

        .boardlist-link {
            color: #34345C;
            cursor: pointer;
        }
    }

    footer & {
        background: #666666;
        color: #aeaeae;
        position: static;

        .boardlist-link {
            color: #ffffff;
        }
    }

    @media (max-width: 840px) {
        font-size: 1.5em;
        line-height: 2.5em;

        div.boardlist-text {
            display: block;
            text-align: center;
        }
        div.boardlist-row {
            display: none;
            border-bottom: 0.20em solid rgba(0,0,0,0.25);
        }
        ul.boardlist-categories {

        }
        li.boardlist-category {
            clear: both;
            display: block;
        }
        ul.boardlist-items {
            display: block;

        }
        li.boardlist-item {
            display: block;
            box-sizing: border-box;
            padding: 0 1em;
            min-width: 300px;
            width: 50%;
            float: left;
        }
        a.boardlist-link {
            display: block;
        }
    }
}

footer nav.boardlist-row.row-pages {
    display: none;
}
