.reply {
    padding: 0;
    margin: 0.25em 0 0.25em 0;
}
    /* Adds a 4chan style >> before posts.
    .reply::before {
        display: inline-block;
        content: '>>';
        color: #D6DAF0;
        font-weight: bold;
        vertical-align: top;
        width: 1.5em;
        float: left;
        margin: 0 0 0 -1.5em;
    }
    .reply::after {
        display: block;
        clear: both;
        content: ' ';
    }
    */

.post {
    margin: 0;
    padding: 0.7em;
    word-wrap: break-word;
    white-space: normal;
}
    .post p.line {
        display: block;
        margin: 0;
        padding: 0;
        min-height: 1.2em;
        line-height: 1.2em;
    }
    .post p.line.quote {
        color: #789922;
    }

    /**
     * Citation addendums.
     * If this gets any more complicated, do something better.
     */
    a.cite-you::after,
    a.cite-op::after {
        display: 'inline';
    }
    a.cite-you::after {
        content: ' (You)';
    }
    a.cite-op::after {
        content: ' (OP)';
    }
    a.cite-you.cite-op::after {
        content: ' (You) (OP)';
    }

.thread-replies-omitted {
    margin: 0.25em 0 0.5em 0.25em;
}
    .thread-replies-count,
    .thread-replies-expand,
    .thread-replies-open {
        display: inline;
        margin-right: 0.25em;
    }
        .thread-replies-expand::after,
        .thread-replies-open::after {
            display: inline;
            content: ']';
        }
        .thread-replies-expand::before,
        .thread-replies-open::before {
            display: inline;
            content: '[';
        }

.post-container {
    display: inline-block;

    margin: 0;
    max-width: 100%;

    /* background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */

    &.sfw {
        background: #D6DAF0;
        border-color: #B7C5D9;
    }
    &.nsfw {
        background: #f0e0d6;
        border-color: #D9BFB7;

        a, a:link, a:visited, a:hover {
            color: #800000
        }
    }

    border-width: 1px;
    border-style: none solid solid none;

    border-left: none;
    border-top: none;

    @media (max-width: $width-tablet) {
        & {
            width: 100%;
        }
    }

    &.post-hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        pointer-events: none;
        z-index: 1100;
    }
}
    .post-interior {
        //position: relative;
    }
        .post-content-wrapper .post {
            padding-top: 0;
        }

    .post-content {
        padding: 0;
    }
        .post-crown {
            direction: ltr;
            padding: 0.5em;
        }
        .crown-figure {
            margin: 0;
            padding: 0;
        }
        .crown-image {
            display: inline-block;
            line-height: 32px;
            vertical-align: middle;
            max-width: 32px;
            max-height: 32px;
        }
        .crown-title {
            display: inline-block;
            padding-left: 0.5em;
            vertical-align: middle;
            font-size: 100%;
            font-weight: bold;
            overflow: hidden;
        }

        .post-details {
            clear: both;
            padding: 0.25em 0.5em;
            margin: 0;
            line-height: 1.8em;
            white-space: normal;

            @media (min-width: $width-tablet) {
                #{$responsive} & {
                    white-space: nowrap;
                }
            }
       }
            .op-container .post-details {
                padding-left: 0;
            }
            .post-detail {
                display: inline-block;
                vertical-align: middle;
            }
            .post-detail:empty {
                display: none;
            }
                .post-container .post-details .post-detail.post-deleted {
                    display: none;
                    color: #CC0000;
                }
                .post-container.post-deleted .post-detail.post-deleted {
                    display: inline-block;
                }

                .post-detail.post-country {
                    line-height: 1em;
                }

                .post-detail-item {
                    box-sizing: border-box;
                    max-width: 100%;

                    //overflow: hidden;
                    text-overflow: ellipsis;
                    //vertical-align: top;
                }
                    .post-select-input {
                        vertical-align: text-bottom;
                    }

                .subject {
                    display: inline-block;
                    margin: 0;
                    font-size: 1em;
                    white-space: normal;
                }

                .author {
                    display: inline-block;
                    color: $color-author;
                    white-space: normal;

                    .email {
                        text-decoration: underline;
                    }
                }

                .author-you {
                    display: none;
                    color: $color-author;
                    direction: ltr;

                    &::before {
                        display: inline;
                        content: '(';
                    }
                    &::after {
                        display: inline;
                        content: ')';
                    }
                    .post-you & {
                        display: inline;
                        font-weight: normal;
                    }
                    .email & {
                        text-decoration: underline;
                    }
                }

                .tripcode {
                    color: #117743;
                }

                .createdon {
                    display: inline-block;
                }

                .authorid {
                    display: inline-block;
                }
                    .authorid::before {
                        content: 'ID: ';
                        display: inline;
                    }
                    .authorid.authorid-colorized {
                        border-radius: 5px;
                        line-height: 1.5;
                        margin: 0 0.25em 0;
                        padding: 0 0.25em;
                    }
                    .authorid.authorid-colorized::before {
                        display: none;
                    }

                .postid {
                    display: inline-block;
                }

                .capcode {
                    display: inline-block;
                }
                    .capcode::before {
                        display: inline-block;
                        content: '##';
                        margin: 0 0.15em;
                    }
                    .capcode-admin .capcode {
                        color: red;
                    }

                body.single-thread .post-detail.detail-open {
                    display: none;
                }
                .post-detail.detail-cites {
                    display: inline;
                    white-space: normal;
                }
                    .post-detail.detail-cites a.cite {
                        font-size: 90%;
                        text-decoration: underline;
                        white-space: nowrap;
                    }


    .post-metas {
        //border-top: 1px solid #D6DAF0;
    }
        .post-metas:empty {
            display: none;
        }
        .op-container .post-metas {
            border-top: none;
        }
        .post-meta {
            display: block;
            color: #333;
            font-size: 95%;
            padding: 0.2em 0.6em;
        }

    .post-bans {
        margin: 0 0 0 1.8em;
        padding: 0 0 0.7em 0;

        a.ban {
            display: block;
            font-weight: bold;
            color: #f00 !important;
        }
    }

.catalog-open {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
    height: 2em;
    margin: 0;
    display: block;

    .nsfw & {
        background: rgba(255, 0, 0, 0.1);
    }
    .sfw & {
        background: rgba(  0, 0, 255, 0.1);
    }
}
