ul.post-attachments {
    display: block;
    float: left;
    overflow-x: auto;
    max-width: 99%;
    max-width: calc(100% - 1em);

    .op-container & {
        max-width: 100%;
    }
    .reply-container & {
        padding: 0 0 0 1em;
    }

    &.attachments-multi {
        padding-top: 0;
        float: none;

        .reply-container & {
            background: rgba(0,0,155,0.1);
        }
        & + blockquote.post {
            margin-top: 0.75em;
        }
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
    }

    li.attachment-actions {
        display: block;
        margin-top: -0.50em;
        padding-bottom: 0.75em;
        text-align: center;

        .post-action-stopmedia {
            display: none;
        }
        &.attachment-expanded .post-action-stopmedia {
            display: block;
        }

        .attachment-action {
            display: block;
            cursor: pointer;
            margin-right: 0.75em;
        }
    }

    li.post-attachment {
        position: relative;
        display: inline-block;
        vertical-align: text-top;
        padding: 0 0.75em 0.75em 0;
    }
        div.action-bar-attachments {
            float: left;

            div.post-action-tab {
                display: block;
                margin: 0;

                &:hover {
                    color: $color-link-hover;
                }
            }

            .post-action-label {
                font-weight: bold;
            }
            /*
            a.post-action {
                display: block;
                font-weight: normal;
                font-size: 1.15em;
                height: 1.15em;
                line-height: 1;
                margin-bottom: 0.3em;
                visibility: hidden;
            }*/
        }

        div.attachment-container {
            display: block;
        }
            li.attachment-expanded div.attachment-container {
                display: inline-block;
                max-width: 100%;
            }
            div.attachment-container.attachment-grow {
                margin: 0;
                width: 100%;
            }

        a.attachment-link {
            display: inline;
            outline: none;
        }
        a.attachment-download {
            clear: both;
            display: block;
            text-align: left;
            white-space: nowrap;
        }
            li.post-attachment.attachment-expanded a.attachment-link {
                display: block;
            }

            a.attachment-download .detail-download {
                margin-left: 0.5em;
            }
            a.attachment-download .detail-filesize {
                margin-right: 0.25em;
            }
            a.attachment-download .detail-filesize::before {
                display: inline;
                content: "(";
                margin-left: 0.4em;
            }
            a.attachment-download .detail-filedim::after {
                display: inline;
                content: ")";
            }
            .detail-close {
                display: none;
            }

            figure.attachment {
                display: block;
                margin: 0;
                position: relative;
                z-index: 3;
            }
                figure.attachment-type-audio {
                    overflow: hidden;
                    padding-right: 2em;
                }

                li.post-attachment.attachment-expanded figure.attachment {
                    /* min-width: 100%; */
                    max-width: 100%;
                }

                li.post-attachment.attachment-expanded img.attachment-img {
                    /* min-width: 100%; */
                    max-width: 100%;
                }

                div.attachment-wrapper {
                    position: relative;
                    padding: 0;
                    margin: 0 auto;
                    text-align: center;
                }
                    figure.attachment-type-audio div.attachment-wrapper {
                        margin: 0 -2em 0 0;
                        padding: 0 2em 0 0;

                        &::after {
                            content: ' ';
                            display: block;
                            height: 98%;
                            width: 98%;
                            padding: 0;
                            pointer-events: none;

                            position: absolute;
                            top: 1%;
                            left: auto;
                            right: -1em;
                            bottom: 1%;
                            z-index: 1;

                            background-position: center center;
                            background-image: url("#{$base-url}img/backgrounds/vinyl.svg");
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }

                    li.attachment-expanded figure.attachment-type-audio div.attachment-wrapper {
                        margin: 0 0 0 0;
                        padding: 0 7em 0 0;

                        &::after {
                            right: -20%;
                            animation: fa-spin 1.304s infinite linear;
                        }
                    }

                    li.attachment-expanded figure.attachment-type-video {
                        .detail-close {
                            display: inline;
                        }

                        div.attachment-wrapper {
                            height: inherit !important;
                        }
                    }

                img.attachment-img {
                    display: inline-block;
                    margin: 0 auto;

                    vertical-align: top;
                    position: relative;
                    z-index: 2;
                }

                html.js a.attachment-link img.attachment-type-img {
                    cursor: zoom-in;
                }
                html.js li.attachment-expanded a.attachment-link img.attachment-type-img {
                    cursor: zoom-out;
                }

                html.js a.attachment-link img.attachment-type-video {
                    box-sizing: border-box;
                    border-style: solid;
                    border-width: 17px;

                    -moz-border-image:    url("#{$base-url}img/backgrounds/film.png") 27 fill stretch repeat;
                    -webkit-border-image: url("#{$base-url}img/backgrounds/film.png") 27 fill stretch repeat;
                    -o-border-image:      url("#{$base-url}img/backgrounds/film.png") 27 fill stretch repeat;
                    border-image:         url("#{$base-url}img/backgrounds/film.png") 27 fill stretch repeat;
                }
                    li.post-attachment.attachment-expanded {
                        clear: both;
                        float: none;
                        width: 100%;
                        display: block;
                    }
                        li.post-attachment.attachment-expanded::before,
                        li.post-attachment.attachment-expanded::after {
                            content: ' ';
                            clear: both;
                            display: block;
                        }
                    li.post-attachment.attachment-expanded,
                    li.post-attachment.attachment-expanded figure.attachment,
                    li.post-attachment.attachment-expanded div.attachment-wrapper,
                    li.post-attachment.attachment-expanded img.attachment-img {
                        clear: both;
                        float: none;
                        max-width: 100%;
                        max-height: none;
                        width: auto;
                        height: auto;
                    }
                        li.post-attachment.attachment-expanded figure.attachment.attachment-type-audio {
                            max-width: 350px;
                            padding-right: 3em;
                        }
                    .thumbnail-stock img.attachment-img {
                        min-height: 150px;
                        min-width: 150px;
                    }

                li.post-attachment audio.attachment-inline {
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto 0.5em 0;
                    max-width: 400px;
                    vertical-align: top;
                }
                li.post-attachment video.attachment-inline {
                    display: inline-block;
                    max-width: 100%;
                    vertical-align: top;
                }

                attachment-inline + .attachment-link .attachment-wrapper {
                    display: none;
                }

                figcaption.attachment-details {
                    display: block;
                    max-width: 100%;

                    position: relative;
                    padding: 0 1em;
                    text-align: center;
                    white-space: nowrap;
                }

                    figure.attachment-type-audio figcaption.attachment-details {
                        max-width: none;
                        margin-right: -2em;
                    }
                    li.attachment-expanded figure.attachment-type-audio figcaption.attachment-details {
                        padding: 0 1em;
                        margin-right: -3em;
                    }

                    div.attachment-action-group,
                    p.attachment-detail {
                        display: block;
                        text-align: center;
                        font-size: 90%;

                        height: auto;
                        line-height: 1.2;
                        padding: 0.5em 0;
                        margin: 0;

                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    figure.attachment-type-audio figcaption.attachment-details p.attachment-detail {
                        margin-bottom: 0px;
                    }
                    div.attachment-container:last-child {
                        margin-bottom: 0px;
                    }
                    div.attachment-action-group span.attachment-action {
                        margin: 0 0.25em;
                    }

    @media (max-width: $width-tablet) {
        a.attachment-download .detail-filesize {
            display: none;
        }
        a.attachment-download .detail-filedim {
            display: none;
        }
    }
}
