.post-attachments {
    display: block;
    padding-left: 0.5em;
    // https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue
    overflow: visible;
    //overflow-x: visible;
    //overflow-y: visible;
    max-width: 100%;
    //max-width: 99%;
    //max-width: calc(100% - 1em);

    #{$rtl} & {
        float: right;
    }
    #{$ltr} & {
        float: left;
    }

    .op-container & {
        max-width: 100%;
    }
    .reply-container & {
        margin: 0;
    }

    &.attachments-multi {
        float: none;

        .reply-container.sfw & {
            background: rgba(0,0,155,0.1);
        }
        .reply-container.nsfw & {
            background-color: rgba(155,0,0,0.1);
        }

        & + blockquote.post {
            margin-top: 0.75em;
        }
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
    }

    .attachment {
        position: relative;
        display: inline-block;
        vertical-align: text-top;

        #{$rtl} & {
            padding: 0 0 0.5em 0.5em;
        }
        #{$ltr} & {
            padding: 0 0.5em 0.5em 0;
        }

        &.attachment-expanded {
            clear: both;
            float: none;
            width: 100%;
            display: block;

            &::before,
            &::after {
                content: ' ';
                clear: both;
                display: block;
            }

            &, & .attachment-link, & .attachment-wrapper, & .attachment-img {
                clear: both;
                float: none;
                max-width: 100%;
                max-height: none;
                width: auto;
                height: auto;
            }
            &.attachment-expanded.attachment-type-audio {
                max-width: 350px;
                padding-right: 3em;
            }
        }

        .thumbnail-stock .attachment-img {
            min-height: 150px;
            min-width: 150px;
        }

        .attachment-img {
            /* min-width: 100%; */
            max-width: 100%;
        }
         audio.attachment-inline {
            display: inline-block;
            width: 100%;
            margin: 0 auto 0.5em 0;
            max-width: 400px;
            vertical-align: top;
        }
        video.attachment-inline {
            display: inline-block;
            max-width: 100%;
            vertical-align: top;
        }
    }
    .reply-container &.attachments-multi .attachment {
        padding-top: 0.5em;
    }
}
