/**
 * MAIN POST STYLING
 */
blockquote.ugc {
    margin-left: 1.8em;
    padding-left: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #AF0A0F;
        padding: 0;
    }

    a {
        text-decoration: underline;
    }
        a:hover,
        a.cite {
            color: #D00;
        }

    hr {
        border-top: 2px groove rgba(255, 255, 255, 1);
    }

    pre {
        clear: both;
        background-color: rgba(255, 255, 255, 0.35);
        color: #111111;

        margin: 1em -0.75em 1em -1.7em;

        overflow-x: auto;
        overflow-y: auto;
        max-height: 50vh;

        & code {
            display: block;
            margin: 0;
            padding: 1em 0.75em 1em 1.7em;
            white-space: pre;

            /* Very specific formatting for ASCII art. */
            &.language-aa,
            &.language-AA {
                font-family: Mona, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
                display: block !important;
                font-size: 12pt;
                line-height: 1.1;
            }
        }

        &:last-child {
            margin-bottom: -0.7em;
        }
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;

        color: #789922;
    }
        blockquote.spoiler {
            box-sizing: border-box;
            padding: 1px 0.5em;
        }
        /* blockquote + p {
            margin-top: -1em;
        } */

    .spoiler {
        box-sizing: border-box;
        padding: 1px 0.5em;

        color: black;
        background: black;
    }
        .spoiler:hover {
            color: white;
            background: black;
        }

    p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
        blockquote {
            margin-bottom: 0;
        }

    ol,
    ul {
        display: block;
        margin: 1em;
        padding: 0 0 0 2em;

        list-style-type: decimal;
        list-style-position: inside;
    }
        ul {
            list-style-type: disc;
        }

    table {
        border-spacing: 0.25em;
        margin: 1em 0;
        width: auto;
    }
        thead tr,
        tbody tr:nth-of-type(even) {
            background-color: rgba(0, 0, 100, 0.1);
        }

        tbody {

        }
            tr {

            }
            td {
                padding: 0.25em;
            }

        thead {

        }
            th {
                padding: 0.25em;
            }
        tfoot {

        }

    .dice {
        display: block;
        margin: 0 0 0.75em 0;

        background-color: transparent;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: auto 2em;
        background-image: url('/static/img/assets/dice.svg');
        padding-left: 3em;

        &.roll-once {
            line-height: 2em;
            vertical-align: middle;

            .dice-rolls {
                display: none;
            }
        }
        &.roll-binary {
            background-image: url('/static/img/assets/coin.svg');
            background-position: 0.35em top;
        }

        .dice-throw {
            display: block;
            font-size: 105%;
            font-weight: normal;
        }
            .dice-d {
                color: #FFA500;
            }
            .dice-modifier-add {
                color: #228B22;
            }
            .dice-modifier-sub {
                color: #8B2222;
            }

            .dice-heading,
            .dice-datum,
            .dice-rule,
            .dice-total {
                margin-right: 0.25em;
                border-bottom: none;
            }
            .dice-symbol {
                color: #117761;
                margin: 0 1px 0 3px;
                font-weight: bold;
            }
            .dice-rule {
                vertical-align: super;
                font-size: 90%;
            }
            .dice-total {
                font-weight: bold;
            }
            .dice-binary-total {
                font-weight: normal;

                &::before {
                    content: ' (';
                }
                &::after {
                    content: ')';
                }
            }
            .dice-binary-heads::after {
                content: 'h, ';
            }
            .dice-binary-tails::after {
                content: 't';
            }


        .dice-rolls {
            display: block;
            margin-top: 0.25em;
        }
        .dice-roll {
            display: inline-block;
            margin: 0 0.25em;
        }

        .dice-roll-valid { }
        .dice-roll-ignored {
            opacity: 0.75;
            font-style: italic;
        }
        .dice-roll-invalid {
            opacity: 0.75;
            text-decoration: line-through;
        }
    }
}
