#attachment-preview {
    display: none;
    content: ' ';

    pointer-events: none;
    z-index: $z-index-attachment-preview - 1;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.2);
    line-height: 100vh;
    text-align: center;
}

#attachment-preview-img,
#attachment-preview-video {
    display: inline-block;
    max-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}
