/* Contributory Block */
header.contrib-header {
	display: block;
}
	main.contrib section {
		margin: 0 auto;
		font-size: 130%;
	}
		main.contrib section:first-child {
			margin-top: 0;
		}
		main.contrib section:last-child {
		}

	main.contrib section.contrib-howto {
		margin: 0 auto 1em auto;
	}
		section.contrib-howto ul.contrib-options {
			text-align: center;
		}
			ul.contrib-options::after {
				content: ' ';
				clear: both;
				display: block;
			}
			li.contrib-option {
				border-bottom: 1px solid #EEF2FF;
				padding-bottom: 1em;
				padding-right: 10px;
				margin-bottom: 1em;
			}
			li.contrib-option:last-child {
				border-bottom: none;
			}
				a.option-link {
					display: block;
					color: #34345C;
					font-size: 300%;
					font-weight: bold;
					text-decoration: none;
				}
					a.option-link:link:hover,
					a.option-link:visited:hover {
						color: #ff0000;
					}
				a.option-link h3 {
					margin: 0;
				}
				blockquote.option-desc {
					margin: 0;
				}

	main.contrib section.contrib-shekel {
		display: block;
		background: rgba(255,255,255,0.5);
	}
		h3.shekel-title {
			display: block;
			margin-bottom: 0;
		}
		blockquote.shekel-timer {
			display: block;
			font-size: 400%;
			text-align: center;
			margin: 0;
		}
			blockquote.shekel-timer.timer-underfunded {
				color: #cc0000;
			}
		p.shekel-oyvey {
			display: block;
			text-align: right;
			margin-top: 0;
		}
		blockquote.shekel-explainer {
			margin: 0;
		}

	main.contrib section.contrib-goals {
		margin: 1em auto;
	}
		section.contrib-goals ul.goals {
		}
		section.contrib-goals li.goal {
			margin: 0 0 1em 0;
			padding: 0;
		}
			section.contrib-goals h4.goal-title {
				margin: 0;
				padding: 1.5em 0 0.75em 1.5em;
				border-bottom: 0.25em solid #EEF2FF;
			}
			section.contrib-goals blockquote.goal-desc {
				margin: 0.75em 0 1em 1.5em;
			}
			section.contrib-goals ul.goal-items {
				margin: -1em 1em 1.5em 1em;
			}
			section.contrib-goals ul.goal-items::after {
				content: ' ';
				display: block;
				clear: both;
			}
				section.contrib-goals li.goal-item {
					margin: 1em 0 0 0;
				}
				section.contrib-goals span.goal-part {
				}
				section.contrib-goals blockquote.goal-helper {
					border-top: 1px dashed rgba(0, 0, 0, 0.1);
					margin: 0.5em 0 0 0;
					padding: 0.5em 0 0 0;

					color: #666;
					font-size: 0.9em;
				}

				section.contrib-goals .goal-figure {
					text-align: center;
				}
				section.contrib-goals #goal-newchan {
					margin-bottom: 1em;
					width: 200px;
				}
				section.contrib-goals figcaption.goal-helper {
					display: block;
					margin: 0 auto;
					max-width: 600px;
				}

	main.contrib section.contrib-donorlist {
		margin: 0 0 -1em 0;
	}
		section.contrib-donorlist div.donorsgroup {
			clear: both;
		}
			section.contrib-donorlist div.donors-uber {
				background: #e0f4eb;
			}
			section.contrib-donorlist div.donors-plat {
				background: #ffffff;
			}
			section.contrib-donorlist div.donors-gold {
				background: #fff4d5;
			}
			section.contrib-donorlist div.donors-silver {
				background: #ebecef;
			}
			section.contrib-donorlist div.donors-bronze {
				background: #d7ad9b;
			}

		section.contrib-donorlist ul.donors {
			padding-top: 0;
			padding-bottom: 1em;
			text-align: center;
		}

		section.contrib-donorlist li.donor {
			display: inline-block;
			overflow: hidden;
			position: relative;
			float: none;
			margin: 1em 0.8em -0.5em 0;
			border-radius: 0.4em;
			text-shadow: rgba(224, 224, 224, 1) -1px -1px 0px;
		}
			section.contrib-donorlist .donor-desc {
				padding: 0.2em 0.1em;
				text-align: center;
				line-height: 1.25em;
				vertical-align: middle;
			}
			section.contrib-donorlist .donor-amount,
			section.contrib-donorlist .donor-name {
				display: block;
				overflow: hidden;
			}
			section.contrib-donorlist .donor-name {
				max-height: 2.6em;
				font-weight: bold;
				vertical-align: bottom;
			}

			section.contrib-donorlist ul.donors-uber li.donor {
				background: #e0f4eb;
				background-image: linear-gradient(to bottom, rgba(224,244,234,0.5), rgba(168,225,200,0.5));
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #3db17e, 0 4px rgba(255, 255, 255, 0.1);
			}
				section.contrib-donorlist .donors-uber .donor-desc {
					font-size: 1.25em;
				}
			section.contrib-donorlist ul.donors-plat li.donor {
				background: #ffffff;
				background-image: linear-gradient(to bottom, #ffffff, #eeeeff);
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #d6d8da, 0 4px rgba(255, 255, 255, 0.1);
			}
				section.contrib-donorlist .donors-plat .donor-desc {
					font-size: 1.1em;
				}
			section.contrib-donorlist ul.donors-gold li.donor {
				background: #fff4d5;
				background-image: linear-gradient(to bottom, #fff4d5, #ffe089);
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #ffc527, 0 4px rgba(255, 255, 255, 0.1);
			}
				section.contrib-donorlist .donors-gold .donor-desc {
					font-size: 1em;
				}
			section.contrib-donorlist ul.donors-silver li.donor {
				background: #ebecef;
				background-image: linear-gradient(to bottom, #ebecef, #bfc3c7);
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #b6babe, 0 4px rgba(255, 255, 255, 0.1);
			}
				section.contrib-donorlist .donors-silver .donor-desc {
					font-size: 0.8em;
				}
			section.contrib-donorlist ul.donors-bronze li.donor {
				background: #d7ad9b;
				background-image: linear-gradient(to bottom, #d7ad9b, #c68a71);
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 3px #864e36, 0 4px rgba(255, 255, 255, 0.1);
				text-shadow: rgba(224, 224, 224, 0.5) 1px 1px 0px;
			}
				section.contrib-donorlist .donors-bronze .donor-desc {
					font-size: 0.8em;
				}

	main.contrib section.section-me {
		background: #333;
		color: white;
	}
		.me-skills {
			clear: both;
		}
		.me-skill {
			position: relative;
			padding: 0
		}
			.skill-name {
			}
			.skill-desc {
			}

	main.contrib section.contrib-donate {
		background: #EEFFF2;
	}
		section.contrib-donate #payment-form {
			padding: 1em;
			margin: 1em 0;
			background: #fff;
			border-radius: 4px;
		}
