/*
 * Front Page
 */

#frontpage {

}

#site-warning {
    display: block;
    color: #f33;
    font-size: 0.9em;
    text-align: center;
    text-shadow: rgba(224, 224, 224, 0.5) 1px 1px 0px;
}
#site-info {
    clear: both;
}
    #site-info::after,
    #site-info::before {
        content: ' ';
        clear: both;
        display: block;
    }
    #site-logo {
        margin: 0;
        line-height: 120px;
        text-align: center;
    }
        #site-logo::after {
            content: ' ';
            clear: both;
            display: block;
        }
        #site-logo-img {
            display: inline-block;
            margin: 0 auto 1em auto;
            width: auto;
            max-width: 100%;
            vertical-align: middle;
        }

    #site-description,
    #site-statistics {
        margin-bottom: 1em;
    }
        #site-description .infobox-info,
        #site-statistics .infobox-info {
            text-align: center;
        }

#site-highlights {

}
    #site-highlights .index-highlights {
        display: block;
        margin: 0;
        padding: 0;

        font-size: 110%;
    }
        #site-highlights .index-highlight {
            display: inline-block;
            padding: 0.1em 1em 0.25em 0;
        }

#index-boardlist {
    clear: both;
    margin: 1em 0 0 0;
}

#frontpage .smooth-box {
    margin: 0 0 1em 0;
}
#site-intro h2 {
    margin: 0 0 0.5em 0;
}
#site-intro h3 {
    margin: 0 0 0.5em 0;
}
#site-intro p {
    margin: 0 0 1em 0;
}

/**
 * Featured Boards
 */
#site-featured-boards {
    margin: 0 10px 1em 10px;

    &::after {
        content: ' ';
        display: block;
        clear: both;
    }

    #featured-boards {
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
    }

    .post-crown {
        direction: ltr;
        margin: 0.5em 0;
    }

    .crown-figure {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .crown-image {
        display: inline-block;
        line-height: 32px;
        vertical-align: middle;
    }

    .crown-title {
        display: inline-block;
        padding-left: 0.5em;
        vertical-align: middle;
        font-size: 100%;
        font-weight: bold;
        overflow: hidden;
    }
}

/* Featured */
#site-featured-post {
    margin-bottom: 1em;

    .smooth-box {
        padding: 0;
    }
    .index-title {
        padding: 1em 1em 0 0.83em;
        margin: 0;
    }

    .post-details {
        padding-left: 0.7em;
    }
    .post-content-wrapper {
        padding: 0;
    }
    .post-container {
        background: none;
        border-right: none;
        border-bottom: none;
        border-left: none;
        width: 100%;
        margin: 0;
    }
    .attachment-action-group {
        display: none;
    }
    .post-attachment {
        padding-bottom: 0;
    }
}

/* Activity */
#site-recent-images {
    h2 {
        margin: 0;
        padding: 1em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #d6daf0;
    }
    .smooth-box {
        padding: 0;
    }
    .recent-images {
        text-align: center;
        font-size: 0;
        background: #d6daf0;
    }
    .recent-image {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 0.5em;
        width: 10%;
        min-width: 116px;
    }
    .recent-image::before {
        content: '';
        display: block;
        padding-top: 100%;
    }
    body.nsfw-allowed & .recent-images > .recent-image:nth-child(30) ~ .recent-image {
        /* Show only the first thirty images. */
        display: none;
    }
    .recent-image-link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .attachment-wrapper {
        height: 100%;
        width: 100%;
        vertical-align: top;
        text-align: center;
    }
    img.attachment-img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;

        display: block;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

#site-recent-posts {

}
    #site-recent-posts h2 {
        margin: 0 0 -2px 0;
        padding: 1em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #d6daf0;
    }

    #site-recent-posts .grid-container {
        padding: 0;
    }

    #site-recent-posts .smooth-box {
        padding: 0;
    }
        #site-recent-posts .recent-posts {
        }
            #site-recent-posts .recent-post {
                position: relative;

                box-sizing: border-box;
                padding: 0.5em;
                margin: 2px 0 -2px 0;

                overflow: hidden;
                height: 116px;
            }
                #site-recent-posts .recent-post:hover {
                    background-color: #FFFFCC;
                }

                #site-recent-posts .recent-post-bg {
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 32px;
                    opacity: 0.33;

                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                }

                #site-recent-posts .recent-post-link {
                    background-image: linear-gradient( to bottom, transparent 0%, white 100% );
                    background-size: 100% 2em;
                    background-repeat: no-repeat;
                    background-position: center bottom;

                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                }
                    #site-recent-posts .recent-post-link.recent-post-op {
                        border-top: 0.25em solid rgba(0,0,255,0.25);
                    }

                    #site-recent-posts .recent-post:hover .recent-post-link {
                        background-image: linear-gradient( to bottom, transparent 0%, #FFFFCC 100% );
                    }

                #site-recent-posts .recent-post .post {
                    pointer-events: none;

                    font-size: 90%;
                    min-width: 0px;
                    height: 100%;
                    box-sizing: border-box;
                    overflow: hidden;

                    margin-left: 0;
                    padding-bottom: 1px;
                    border-bottom: 1px solid #d6daf0;
                }
                    #site-recent-posts .recent-post:hover .post {
                        border-bottom: 2px dashed #d6daf0;
                    }
                    #site-recent-posts .recent-post .post blockquote {
                        margin: 0;
                    }
                    #site-recent-posts .recent-post .post .cite {
                        display: none;
                    }
