/* Catalog View */
main.index-catalog {

    #{$rtl} & {
        text-align: right;
    }
    #{$ltr} & {
        text-align: left;
    }

    section.index-threads {
        margin: 1em 0 0 0;
    }

    .thread-list {
        position: relative;
        text-align: center;
        min-width: 100%;
    }

    .thread-item {
        display: inline-block;
        margin: 0 0.25em 0.25em 0;
        width: 180px;

        &.already-seen {
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }
        }
    }
    html.js &.multiboard-index .thread-item {
        display: none;
    }
         .thread {
            position: relative;

            background: rgba(182, 182, 182, 0.12);
            border: 1px solid rgba(111, 111, 111, 0.34);

            padding: 2px;
            margin: 0;

            vertical-align: top;
            text-align: left;
            font-weight: normal;
            font-size: 11px;

            height: 25em;
        }
             .post-container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                border: none;
                padding-top: 0;
                overflow: visible;
                z-index: 5;
            }
                 .post-container:hover {
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.66);
                    border-radius: 4px;

                    min-width: 150%;
                    min-height: 100%;
                    overflow: visible;

                    left: -25%;
                    bottom: auto;
                    z-index: 6;
                }

                 .post-content {
                    padding: 0;
                    height: 100%;
                    overflow: hidden;
                }
                     .post-container:hover .post-content {
                        overflow: visible;
                    }

                     ul.post-attachments {
                        display: block;
                        background: rgba(255,255,255,0.6);
                        padding: 0;
                        float: none;

                         li.post-attachment {
                            float: none;
                            text-align: center;
                            padding: 0;
                            display: block;
                            width: 100%;
                            margin: 0;
                        }
                         .attachment-wrapper {
                            width: auto;
                            height: auto;
                            line-height: normal;
                            margin: 0 auto;
                            max-width:100%;
                            overflow: hidden;
                            text-align: cneter;
                        }
                             .attachment {
                                display: inline;
                                margin: 0;
                            }
                                 .attachment-img {
                                    display: inline-block;
                                    max-height: 150px;
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                    }

                     .post-details {
                        margin: 0;
                        min-height: 1.5em;
                    }
                         .post-details {
                            white-space: normal;
                        }
                         .post-detail {
                            display: none;
                            margin: 0;
                            padding: 0 0.5em;
                            line-height: 1.2;
                        }
                             .post-detail.post-stats,
                             .post-detail.post-actions,
                             .post-detail.post-subject {
                                display: block;
                                margin: 2px 0 0;
                            }
                             .post-detail.post-stats {
                                text-align: center;
                            }
                             .post-detail.post-actions {
                                display: inline;
                                padding: 0px 0.75em 0 0.25em;
                                float: left;
                            }
                             .post-detail.post-author {
                                display: none;
                            }
                                 .post-detail-item.author {
                                    padding-right: 0;
                                }
                             .post-detail.post-subject {
                                display: block;
                                padding: 0.2em 0.5em 0 0.5em;
                                font-size: 140%;
                                line-height: 1.2em;
                            }
                                 .post-detail-item.subject {
                                    display: inline;
                                }
                             .post-detail.post-capcode {
                                display: inline-block;
                            }
                                 .post-detail-item.capcode {
                                    padding-left: 0;
                                }


     blockquote.post {
        box-sizing: border-box;
        display: block;
        width: 100%;
        min-width: 0px;
        max-width: none;

        text-align: left;
        margin-top: 0.4em;
        margin-left: 0;
        padding: 0 0.5em;
    }
         blockquote.post pre {
            margin: 1em 0;
        }
         blockquote.post p.line {
            max-width: 100%;
        }

     div.post-action-bar {
        display: inline;

        top: 0;
        left: 0;
        right: 0;

        margin: 0;
    }
         div.post-action-tab,
         div.post-action-tab.action-tab-actions {
            display: inline-block;

            position: relative;
            top: -0.2em;
            left: 0.25em;
            float: left;

            border: none;
            padding: 0;
            margin: 0;
            text-align: left;
            vertical-align: top;
            font-size: 140%;
        }

         ul.post-action-groups {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 72%;
        }

     div.post-action-bar.action-bar-open {
        position: absolute;
        z-index: 5;
    }
         div.post-action-tab.action-tab-reply {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
        }
             div.op-container a.post-action-reply {
                border-width: 0 1.5em 1.5em 0;
            }

    /**
     * Responsive Design
     */
    body.responsive & {
        section.index-threads {
            & .thread-item {
                max-width: 150px;
                min-width: 100px;

                /**
                 * Left and right tabs on narrow phones should slide to take more space
                 */
                @media (max-width: 360px) {
                    &:nth-child(odd) .post-container:hover {
                        left: auto;
                        right: -50%;
                    }
                    &:nth-child(even) .post-container:hover {
                        left: -50%;
                        right: auto;
                    }
                }

                /**
                 * Devices that can show three columns need left and right columns to
                 * slide to take more space.
                 */
                @media (min-width: 465px) and (max-width: 640px) {
                    &:nth-child(3n+1) .post-container:hover {
                        left: auto;
                        right: -50%;
                    }
                    &:nth-child(3n+3) .post-container:hover {
                        left: -50%;
                        right: auto;
                    }
                }
            }
        }
    }
}
