/* Thread View */
main.index-threaded {
    margin: 0 0 -1em 0;
    min-height: 50vh;
}
    section.index-threads {
        margin: -1em 0 0 0;
        min-height: 550px;
    }
        /* Advertisements for small screens */
        aside.advertiser img {
            max-width: 100%;
            height: auto;
        }
        aside.advertiser.top-left {
            box-sizing: border-box;
            padding: 0.5em;
            text-align: center;
        }
        aside.advertiser.bottom-right {
            box-sizing: border-box;
            text-align: center;
            width: 100%;

            padding: 0;

            /* position: absolute; */
            bottom: 0;
        }
            aside.advertiser.bottom-right figure.ad-field {
                display: inline-block;
                margin: 1em 0;
            }

        aside.advertiser.top-left {
        }

        /* Threads */
        main.index-threaded .thread {
            clear: both;
            padding: 1em;
            border-top: 1px solid #d9bfb7;

            &:first-child {
                border-top: none;
            }

            & > .wingding {
                float: left;
            }

            .op-container .post-details {
                padding: 0;
            }
        }

.post-collapsed + .thread-dangling {
    display: none;
}

main.multiboard-index {
    .post-crown {
        margin: 0;
        padding: 0;
    }
    &.index-catalog .post-crown {
        background: rgba(255, 255, 255, 0.25);
        white-space: nowrap;
    }

    .crown-figure {
        margin: 0;
        padding: 0 0.75em;

        line-height: 42px;
        vertical-align: middle;

        #{$rtl} & {
            margin-left: -1px;
        }
        #{$ltr} & {
            margin-right: -1px;
        }
    }
    &.index-catalog .crown-figure {
        line-height: 24px;
        padding: 0 0.5em;
        text-align: center;
    }

    .crown-image {
        display: inline-block;
        max-height: 32px;
        max-width: 32px;
        line-height: 42px;
        margin-right: 0.25em;
    }
    &.index-catalog .crown-image {
        max-height: 16px;
        max-width: 16px;
        line-height: 24px;
    }


    .crown-title {
        display: inline-block;
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;

        #{$rtl} & {
            margin-left: 0.25em;
        }
        #{$ltr} & {
            margin-right: 0.25em;
        }
    }

    .crown-link {
    }
}

// JS indicition of last seen post
.thread-last-reply {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px dotted #B7C5D9;
}

.autoupdater {
    // white-space: nowrap;
}
    .autoupdater .autoupdater-items {
        margin: 0.5em 0 0 -0.5em;
    }
    .autoupdater .autoupdater-item {
        display: inline-block;
        list-style: none;
        margin: 0 0.5em 0 0;
    }

    .autoupdater-ws {
        clear: both;
        margin-top: 1em;
    }

main.index-threaded .post-container.op-container {
    display: block;
    background: none;
    border-style: solid none none none;
    /* border-top: 2px solid rgba(0,0,255,0.25); */
    border-style: none none none none;

    .post-content {
        overflow: visible; // allows post-wrapping right of the attachment
    }
}
