/**
 * Moderate Post
 *
 * View that appears when editing a post.
 */
section.moderate-post {
	margin: 0 auto 1em auto;
}
	section.moderate-post #mod-form {
		padding-bottom: 0;
		margin: 0 auto 1em auto;
	}
