#thread-watcher {
    position: fixed;
    white-space: nowrap;
    min-width: 146px;
    min-height: 1em;
    max-width: 100vw;
    max-height: 100vw;
    z-index: 90;
    padding: 0.5em;

    top: 45px;
    left: 10px;

    .watched-legend {
        display: flex;
    }
    .watched-space { // b
        flex-grow: 1;
    }
    .watched-refresh,
    .watched-close,
    .watched-unwatch {
        cursor: pointer;
    }
}

// a button on the post
.post-watch {
    opacity: 0.66;
}
.post-unwatch {
    opacity: 1;
}
