main#banned {
    figure.error-figure {
        margin-left: 1em;
        margin-right: 1em;
        float: right;
    }
    img.error-image {
        max-height: 250px;
        max-widht: 250px;
    }
}
