#banned {
    .error-figure {
        margin-left: 1em;
        margin-right: 1em;
        float: right;
    }
    .error-image {
        height: auto;
        width: auto;
        max-height: 250px;
        max-width: 250px;
    }
}
