main.cp form.form-config {
    min-width: 760px;
    margin: 0 auto 0 0;
    border-bottom: 1px solid $background-color;
    clear: left;
}
    form.form-config#config-site {
        max-width: none;
    }

    div.panel-actions {
        float: right;

        &:empty {
            display: none;
        }
    }
        div.panel-actions .panel-action {
            display: inline-block;

            background: #e0e0e0;
            border-radius: 4px;
            padding: 0.5em;
            color: #222;
            font-weight: bold;
            line-height: 1.17em;
            min-width: 4em;
            text-align: center;
        }

    h3.panel-title {
        font-size: 1.17em;
        margin: 0 0 0.5em 0;

        &:empty {
            display: none;
        }
    }

    form.form-config fieldset.form-fields {
    }
        form.form-config fieldset.form-fields:last-child {
            border-bottom: none;
        }

    .form-select-group {
        margin: 0.5em 0;
    }
    label.form-selector {
        display: block;
        color: #2b485c;
        font-weight: bold;
        font-size: 1.17em;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 1em 0.5em 1em;
        margin: 0 -12px 0 -10px;
    }
        label.form-selector:hover {
            text-decoration: underline;
        }
        input.form-selection {
            display: none !important;
        }
        input.form-selection:checked ~ .form-selector {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        input.form-selection:checked ~ .form-selector::before {
            display: inline-block;
            content: '➤';
            margin-right: 0.25em;
        }
        input.form-selection:checked ~ .form-selector:hover {
            text-decoration: none;
        }
        input.form-selection:checked ~ .form-selectable {
            display: block;
        }

    .form-selectable {
        display: none;
    }

    main.cp fieldset {
        width: 40%;
        min-width: 300px;
        max-width: 100%;
        margin-right: auto;
    }
        .form-config .form-fields {
            width: auto;
        }

    main.cp form.form-config legend.form-legend {
        display: block;
        font-size: 110%;
        padding: 0.5em 0;
        width: 100%;
    }
    main.simplebox form.form-config legend.form-legend {
        display: block;
        font-size: 110%;
        margin: 0.5em 0 -0.5em 0;
        width: 100%;
    }
        dl.option {
            display: block;
            clear: both;
            margin: 1em 0;
        }
            dl.option-asset {
                display: inline-block;

                box-sizing: border-box;
                max-width: 33%;
            }
                dl.option-asset img.board-asset {
                    max-width: 90%;
                    vertical-align: middle;
                }

            #config-permissions dl.option {
                margin: 0;
            }

            dt.option-term {
                display: inline-block;
                margin: 0 1em 0 0;
                padding: 0.2em 0;
                line-height: 1.4;
                width: 32%;
                min-width: 300px;
                text-align: right;
                vertical-align: top;
            }
                dl.option-asset dt.option-term {
                    display: none;
                }

            dd.option-definition {
                display: inline-block;
                margin: 0 0 0 1em;
                text-align: left;
                width: auto;
                vertical-align: top;
            }
                dl.option-asset dd.option-definition {
                    margin: 0;
                    white-space: nowrap;
                }
                    dl.option-asset dd.option-definition.asset-definition {
                        line-height: 1.8em;
                        margin-right: 2em;
                    }
                        dl.option-asset dd.option-definition.asset-definition label.field-label {
                            vertical-align: middle;
                        }
                        dl.option-asset dd.option-definition .asset-enable-input,
                        dl.option-asset dd.option-definition .asset-name-input,
                        dl.option-asset dd.option-definition .asset-file-input {
                            display: inline-block;
                            max-width: 40%;
                            vertical-align: middle;
                        }
                    dd.option-definition label.field-label {
                        display: inline-block;
                        vertical-align: top;
                    }
                    dd.option-definition p.option-desc {
                        font-size: 90%;
                        color: rgb(150,150,150);
                        margin: 0.25em 0 0 0;
                    }

                ul.option-list {

                }
                    li.option-item {
                        margin-bottom: 0.5em;
                    }
                    li.option-item-template {
                        margin-top: 1.5em;
                    }
                        li.option-item-template:first-child {
                            margin-top: 0.5em;
                        }
                        li.option-item .field-control {
                            display: inline-block;
                        }

                label.option-permission {
                    display: inline-block;
                    float: left;

                    background-image: url("#{$base-url}img/backgrounds/permission-highlight.png");
                    background-position: top left;
                    background-repeat: repeat-x;

                    height: 2.4em;
                    line-height: 2.4em;
                    text-align: center;

                    padding: 0 2em;
                    margin: 0;

                    box-sizing: border-box;
                    width: 5em;
                    text-align: center;
                }
                    dl.option-asset input.field-control {
                        margin: 0 0.25em;
                    }

                    label.option-permission .field-control {
                        height: 2em;
                        width: auto;
                        display: inline-block;
                        margin: 0;
                    }
                    label.option-permission-unset {
                        background-color: #CCC;
                    }
                    label.option-permission-allow {
                        background-color: #44BB44;
                    }
                    label.option-permission-revoke {
                        background-color: #EA5  ;
                    }
                    label.option-permission-deny {
                        background-color: #C11 ;
                    }

                    label.option-master {
                        border-radius: 4px;
                        font-size: 80%;
                        padding: 0;
                        width: 6.25em;
                    }

        form.form-staff .row-castes .field-label {
            display: inline-block;
        }

        form.form-config .row-submit,
        form.form-config .row-delete {
            margin-left: 32%;
            padding-left: 3em;
        }
            form.form-config .field-confirm {
                display: block;
                margin: 0 0 0.5em 0;
            }

    form.form-asset {
        border-bottom: 1px solid $background-color;
        text-align: center;
    }
        form.form-asset .form-fields {
            display: block;
            width: auto;
            margin: 0;
        }
            form.form-asset figure.form-asset {
                height: 250px;
                line-height: 250px;
                vertical-align: middle;
                text-align: center;
            }
                form.form-asset img.form-asset-img {
                    display: inline-block;
                    height: auto;
                    max-width: 250px;
                    max-height: 250px;
                }
