#payment-form {
	margin: 0 0 1em 0;
}
	#card-details {

	}
	#payment-form::after {
		clear: both;
		content: ' ';
		display: block;
	}
		#payment-form .blockOverlay {
			background: rgba(255, 255, 255, 0.75);
			top: -0.25em;
			left: -0.25em;
			right: -0.25em;
			bottom: -0.25em;
			z-index: 999 !important;
		}
		#payment-form #payment-process,
		#payment-form #payment-received {
			background-image: url("#{$base-url}img/assets/infinity.gif");
			background-position: top center;
			background-repeat: no-repeat;
			background-color: #ffffff;
			color: #333;
			display: block;
			border-radius: 4px;
			line-height: 2em;
			font-size: 2em;
			padding: 80px 6px 6px 6px;
			text-align: center;
		}
			#payment-form #payment-received {
				background-image: url("#{$base-url}img/assets/heart.png");
				background-size: 128px 152px;
				padding-top: 160px;
			}

		#payment-form fieldset.form-fields {
			box-sizing: border-box;
			padding: 0 1em 0 0;
			margin: 0 0 1em 0;
		}
		#payment-form #card-details {
			float: left;
		}
			#payment-form legend.form-legend {
				margin-bottom: 0.4em;
			}
			#payment-form #card-form {
				border-radius: 5px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				background-color: #f9f9f7;
				border: 1px solid #fff;
				margin: 0;
				padding: 13px 20px;
				width: 320px;
			}
		#payment-form #donate-details {
			border-bottom: 1px solid #dee0df;
			border-top: 1px solid #dee0df;
			margin: 0.75em 0;
			padding: 0.75em 0;
		}
			#payment-form .field-row::after{
				content: ' ';
				display: block;
				clear: both;
			}
			#payment-form .field-control {
				background-color: #ffffff;
				color: #000000;
				line-height: 1.4em;
				font-size: 1.3em;
				min-height: 34px;
			}
			#payment-form .field {
				float: left;
				margin: 0.5em 0.5em 0.5em 0;
			}
			#payment-form .row-ccn {
				width: 320px;
			}
			#payment-form .row-cvc {
				width: 90px;
			}
			#payment-form .row-month {
				width: 122px;
			}
			#payment-form .row-year {
				width: 90px;
				margin-right: 0;
			}
			#payment-form .row-attribution,
			#payment-form .row-amount,
			#payment-form .row-email,
			#payment-form .row-subscription {
				width: 100%;
				margin-right: 0;
			}

			#donate-details .donate-options {
				display: block;
				margin: 0 -2px;
			}
				#donate-details .donate-option {
					display: inline-block;
					float: left;
					margin: 4px 2px;
					text-align: center;
					height: 76px;
					width: 76px;
				}
					#donate-details .donate-cycle-label {
						display: block;
						box-sizing: border-box;
						padding: 6px;
						margin: 0 0 4px;
						border: 1px solid #dddddd;
						background: #fff;
						color: #333;
						font-size: 1.2em;
						line-height: 1.2em;
						vertical-align: text-bottom;
						font-weight: bold;
					}
					#donate-details .donate-cycle-input {
						vertical-align: text-bottom;
					}

					#donate-details .donate-option-input {
						position: absolute;
						width: 1px;
						height: 1px;
						margin: -1px;
						padding: 0px;
						overflow: hidden;
						border: 0px none;
						clip: rect(0px, 0px, 0px, 0px);
					}
					#donate-details .donate-option-label {
						display: block;
						background: none repeat scroll 0% 0% #EEF2FF;
						font-size: 1em;
						height: 5em;
						line-height: 5;
						border-radius: 0.3em;
						color: #34345C;
						cursor: pointer;
						box-sizing: border-box;
						transition: all 0.2s ease 0s;
					}

					#donate-details .donate-option-label:active,
					#donate-details .donate-option-input:checked + .donate-option-label,
					#donate-details .donate-option-label.checked {
						background: none repeat scroll 0% 0% #34345C !important;
						box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
						color: #ffffff;
					}
					#donate-details #input_amount_other_label {
						line-height: 2.5;
					}
					#donate-details #input_amount_other_box {
						position: absolute;
						display: block;
						width: 64px;
						margin: 0px 2px;
						background: none repeat scroll 0% 0% #FFFFFF;
						line-height: 1;
						padding: 0.25em;
						border: 0px none;
						outline: 0px none;
						border-radius: 0.3em;
						color: #333;
					}
						#donate-details #input_amount_other_box:focus {
							background: none repeat scroll 0% 0% #FFFFFF;
						}

	#payment-time {
		margin: 0.6em 0;
		padding: 0.4em 0;
		font-size: 130%;
		text-align: center;
	}
	#payment-tax {
		text-align: center;
	}
	#payment-submit .field-submit {
		width: 100%;
	}
	#payment-email {
		font-size: 70%;
		margin: 0.6em 0 0 0;
	}

	#payment-security {
		border-radius: 4px;
		margin: auto 0;
		padding: 0.25em 0.5em;
	}
		#payment-security li.security-step {
			display: block;
			margin: 0.75em 0;
			line-height: 1em;
			position: relative
		}
			#payment-security div.security-icons {
				position: absolute;
			}
			#payment-security li.security-step i.fa {
				font-size: 140%;
				margin: 0;
				text-align: center;
				width: 1.2em;
			}
			#payment-security span.security-item {
				display: inline-block;
				margin: 0 0 0 0;
				padding: 0 0 0 5.8em;
			}
			#payment-security span.security-footer {
				display: block;
				margin: 0 0 0.25em 0;
			}

	#payment-btc {
	}
	html.no-js #payment-btc,
	figure.error + #payment-btc {
		float: none;
		margin: 1em auto 1em 0;
		padding: 0 10%;
		width: 82.5%;
	}
		#payment-btc h5.btc-title {
			margin: 0.5em 0 0 5px;
			font-size: 1.1em;
		}
		#payment-btc blockquote.btc-desc {
			margin: 0;
		}
		#payment-btc img.btc-qr {
			float: left;
			width: 200px;
			height: 200px;
			margin: 0 1em 1em 0;
		}
			#payment-btc code.btc-code {
				display: block;
				background: #dddddd;
				clear: both;
				color: #333333;
				padding: 0.2em 1em;
				margin: 0.4em 0 0 0;
				text-align: center;
			}

			#ccn {
					background-image: url("#{$base-url}img/assets/providers.png"), url("#{$base-url}img/assets/providers.png");
					background-position: 2px -121px;
					background-size: 120px 361px;
					background-repeat: no-repeat;
					padding-left: 54px;
				}
				#ccn.visa {
					background-position: 2px -163px;
				}
				#ccn.visa_electron {
					background-position: 2px -205px;
				}
				#ccn.mastercard {
					background-position: 2px -247px;
				}
				#ccn.maestro {
					background-position: 2px -289px;
				}
				#ccn.discover {
					background-position: 2px -331px;
				}
