.reports {
    /* Reports */
    .post-container,
    .report-container {
        border-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
        border-style: solid;
    }
        .report-board {
            margin: 0 0 0.4em 0;
        }
        .report-board-desc {
            margin: 0.5em 0;
        }

        .reported-post {
            clear: both;
            padding: 1em 0;
            margin: 1em 0;
            border-bottom: 1px solid #e0e0e0;
        }
            .reported-post::after {
                clear: both;
                content: ' ';
                display: block;
            }
            .post-container {
                /* Colors courtesty of the /ebola/ board on 8ch. I miss you, Ebolachan. ;~; */
                //background: #FFC4C4;
                border-color: #F88;
            }

        .report-actions.actions-post li.report-action {
            display: inline-block;
            position: relative;
            border: 1px solid rgba(0,0,0,0.25);
            border-radius: 2px;
            line-height: 1em;
            height: 1em;
            padding: 0.25em;
            margin-right: 0.25em;
            margin-bottom: 0.5em;
        }

        .post-report {
            float: left;
            margin: 1em 1em 0 0;
        }
            .report-container {
                padding: 1em;
            }
                .report-actions.actions-report {
                    margin-bottom: 0.5em;
                }
                    .report-actions.actions-report .report-action {
                        display: inline-block;
                        margin-right: 0.25em;
                    }

                .report-reason {
                    margin: 0 0 0.5em 0;
                    padding: 0 0 0.5em 0;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                }
}
