/**
 * EXPANDING RESPONSIVENESS
 *
 * These media tags ADD as the screen GROWS.
 * They do not take away as the screen shrinks.
 * Scroll down for max-width selectors.
 */

/**
 * 360px Width
 * Vertical phones
 */
@media (min-width: 320px) {

	/**
	 * Sidebar
	 */
	aside.index-sidebar {
		padding-left: 1em;
		padding-right: 1em;
	}

	/**
	 * Catalog
	 */
	body.responsive main.index-catalog section.index-threads {
		padding: 0;
	}
		body.responsive main.index-catalog .thread-item {
			max-width: 150px;
			min-width: 100px;
		}

	/**
	 * Thumbnailing
	 */
	div.attachment-wrapper {
		width: 125px;
	}
	img.attachment-img {
		max-width: 125px;
		max-height: 125px;
	}
}

/**
 * 640px Width
 * Horizontal phones
 */
@media (min-width: 640px) {
	/**
	 * Thread & Posts
	 */
	body.responsive section.index-threads aside.advertiser.bottom-right {
		display: block;
	}
}


/**
 * 728px Width
 * Tablets
 */
@media (min-width: 728px) {
	/**
	 * Index
	 */
	#site-description .infobox,
	#site-statistics .infobox {
		min-height: 10em;
	}

	/**
	 * Contribution Page
	 */
	body.responsive li.contrib-option {
		border-bottom: none;
		border-right: 1px solid #EEF2FF;
		padding-bottom: 0;
		padding-right: 9px;
		min-height: 360px;
	}
	body.responsive li.contrib-option:last-child {
		padding-right: 10px;
		border-right: none;
	}

	body.responsive .me-skill:first-child {
		padding-right: 3em;
	}
	body.responsive .me-skill:last-child {
		padding-left: 3em;
	}
		body.responsive .me-skill .fa {
			display: block;
			font-size: 300%;
			vertical-align: top;

			position: absolute;
			top: 5px;
			bottom: 0;
			left: -1.5em;
		}
		body.responsive .me-skill:last-child .fa {
			left: -0.5em;
		}

	/**
	 * Thread & Posts
	 */
	body.responsive form.form-post {
	}

	body.responsive section.index-threads aside.advertiser.top-left {
		display: block;
		text-align: center;
	}

	/**
	 * Thumbnailing
	 */
	div.attachment-wrapper {
		width: 150px;
	}
	img.attachment-img {
		max-width: 150px;
		max-height: 150px;
	}
}

/**
 * 728px width and 480px height
 * Anything bigger
 */
@media (min-width: 728px) and (min-height: 480px) {

	/**
	 * Primary Navigation
	 */
	nav.boardlist {
		font-size: 1em;
		padding: 0 1em;
		overflow: hidden;
	}
		nav.boardlist .boardlist-text {
			display: none;
		}
		nav.boardlist .boardlist-row {
			display: inline-block;

			height: 1.4em;
			line-height: 1.4em;
			padding: 0;
			margin: 0 0.5em 0 0;

			white-space: nowrap;
		}

		nav.boardlist .boardlist-categories,
		nav.boardlist .boardlist-category,
		nav.boardlist .boardlist-items,
		nav.boardlist .boardlist-item {
			display: inline-block;
			height: 1em;
			line-height: 1em;
		}

		nav.boardlist .boardlist-items {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		nav.boardlist .boardlist-item {
			display: inline;
		}
		nav.boardlist .boardlist-link {
			text-decoration: none;
		}

		nav.boardlist .boardlist-category::before {
			content: '[';
			opacity: 0.6;
		}
		nav.boardlist .boardlist-category::after {
			content: ']';
			opacity: 0.6;
		}
		nav.boardlist .boardlist-item::after {
			display: inline;
			content: '/';
			margin: 0 0.15em 0 0.4em;
			opacity: 0.6;
		}
		nav.boardlist .boardlist-item:last-child::after {
			display: none;
		}

	/**
	 * Navigation
	 */
	nav.gnav .flyout {
		width: auto;
	}
	nav.gnav .flyout-col {
		display: inline-block;
		float: left;
		width: 21em;
	}
	nav.gnav .flyout-link {
		line-height: 1.7em;
		height: 1.7em;
	}

	/**
	 * Posts and Threads
	 */
	html.js body.responsive main.index-threaded form.form-post {
		border: none;
		position: fixed;
		z-index: 1000;
		top: 45px;
		right: 10px;
		max-width: none;
		width: 300px;
		margin: 0;
		padding: 0;
	}
		html.js body.responsive main.index-threaded .form-message {
			border-style: none none solid none;
			border-radius: 0px;
			margin: 0;
		}

		html.js body.responsive main.index-threaded form.form-post .post-menu {
			display: block;
		}

		html.js body.responsive main.index-threaded form.form-post .form-fields {
			display: block;
			border-bottom: 1px solid #ccc;
			margin: 0;
			padding: 0;
			max-width: none;
			min-width: 300px;
		}
			html.js body.responsive main.index-threaded form.form-post .form-legend {
				margin: 0;
				padding: 0;

				background: #E04000;
				color: white;
				text-indent: 4px;
			}
				html.js body.responsive main.index-threaded form.form-post .ui-draggable-handle {
					cursor: drag;
					cursor: -webkit-grab;
					cursor: grab;
				}
				html.js body.responsive main.index-threaded form.form-post.ui-draggable-dragging .ui-draggable-handle {
					cursor: -webkit-grabbing;
					cursor: grabbing;
				}

			html.js body.responsive main.index-threaded form.form-post .field {
				margin: 0;
			}
				html.js body.responsive main.index-threaded form.form-post .field-control {
					border-bottom: none;
					resize: none;
				}

			html.js body.responsive main.index-threaded form.form-post .row-file .dz-container {
				border-bottom: none;
			}

			html.js body.responsive main.index-threaded form.form-post .row-post {
				border-bottom: none;
			}

			html.js body.responsive main.index-threaded form.form-post .row-captcha {
				border-bottom: none;
				width: 100%;
			}
			html.js body.responsive main.index-threaded form.form-post button.field-submit {
				border-bottom: none;
			}

	/**
	 * Catalog
	 */
	body.responsive main.index-catalog section.index-threads {
		padding: 0 45px;
	}
		body.responsive main.index-catalog .thread-item {
			max-width: 180px;
		}

	/**
	 * Thumbnailing
	 */
	div.attachment-wrapper {
		width: auto;
	}
	img.attachment-img {
		max-width: none;
		max-height: none;
	}
}

/**
 * 1440px width and 480px height
 */
@media (min-width: 1440px) and (min-height: 480px) {

	/**
	 * Sidebar
	 */
	html.js body.responsive main.index-threaded .thread {
		padding-right: 340px;
	}

	html.js body.responsive main.index-threaded aside.index-sidebar {
		position: absolute;
		right: 0;
		top: -1em;
		bottom: -2em;

		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1em;

		width: 310px;
		height: auto;
	}
		html.js body.responsive main.index-threaded aside.advertiser.bottom-right {
			position: absolute;
		}

	/* Advertisements */
	html.js body.responsive main.index-threaded aside.advertiser.top-left {
		text-align: left;
	}
	html.js body.responsive main.index-threaded aside.advertiser.bottom-right {
		position: absolute;
		bottom: 0;
		right: 5px;

		width: 310px;
	}
		html.js body.responsive main.index-threaded aside.advertiser.bottom-right figure.ad-field {
			display: block;
			width: 310px;
		}

}


/**
 * SHRINKING RESPONSIVENESS
 *
 * These media tags REMOVE as the screen SHRINKS.
 * Scroll up for max-width selectors.
 */

/**
 * 360px Width
 * Vertical phones
 */
@media (max-width: 360px) {

	/**
	 * Catalog
	*/
	body.responsive main.index-catalog .thread-item:nth-child(odd) .post-container:hover {
		left: auto;
		right: -50%;
	}
	body.responsive main.index-catalog .thread-item:nth-child(even) .post-container:hover {
		left: -50%;
		right: auto;
	}

	table.board-list-table .board-max,
	table.board-list-table .board-unique {
		padding: 0;
		margin: 0;
		font-size: 0;
		width: 0;
	}
}

/**
 * 640px Width
 * Horizontal phones
 */
@media (max-width: 640px) {

	/**
	 * Catalog
	*/
	body.responsive main.index-catalog .thread-item:nth-child(3n+1) .post-container:hover {
		left: auto;
		right: -50%;
	}
	body.responsive main.index-catalog .thread-item:nth-child(3n+3) .post-container:hover {
		left: -50%;
		right: auto;
	}

	table.board-list-table .board-title,
	table.board-list-table .board-ppd,
	table.board-list-table .board-pph {
		padding: 0;
		margin: 0;
		font-size: 0;
		width: 0;
	}
}

/**
 * 840px Max
 * Larger Tablets
 */
@media (max-width: 840px) {
	/**
	 * Board List
	 */
	table.board-list-table .board-tags {
		padding: 0;
		margin: 0;
		font-size: 0;
		width: 0;
	}

	/**
	 * Primary Navigation
	 */
	header.board-header {

	}
	nav.boardlist {
		font-size: 1.5em;
		line-height: 2.5em;
	}
	nav.boardlist div.boardlist-text {
		display: block;
		text-align: center;
	}
	nav.boardlist div.boardlist-row {
		display: none;
		border-bottom: 0.20em solid rgba(0,0,0,0.25);
	}
	nav.boardlist ul.boardlist-categories {

	}
	nav.boardlist li.boardlist-category {
		clear: both;
		display: block;
	}
	nav.boardlist ul.boardlist-items {
		display: block;

	}
	nav.boardlist li.boardlist-item {
		display: block;
		box-sizing: border-box;
		padding: 0 1em;
		min-width: 300px;
		width: 50%;
		float: left;
	}
	nav.boardlist a.boardlist-link {
		display: block;

	}
}

/**
 * 1024px Max
 * Larger Tablets
 */
@media (max-width: 1024px) {
	/**
	 * Front Page
	 */
	#site-warning {
		margin-left: -0.5em;
	}
}
